<% if @blogger.bl_feat_num_08.present? %>
  <div class="by_featured_section">
    <h4>By Featured</h4>

    <!-- #1 --->
    <% if @blogger.bl_feat_num_08.present? && @blogger.bl_feat_num_08 >= 4.5 && @blogger.bl_feat_num_08 <= 4.9 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_08 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_08 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_08.present? && @blogger.bl_feat_num_08 >= 4.1 && @blogger.bl_feat_num_08 <= 4.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_08 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_08 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_08.present? && @blogger.bl_feat_num_08 >= 3.5 && @blogger.bl_feat_num_08 <= 4.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_08 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_08 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_08.present? && @blogger.bl_feat_num_08 >= 3.1 && @blogger.bl_feat_num_08 <= 3.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_08 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_08 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_08.present? && @blogger.bl_feat_num_08 >= 2.5 && @blogger.bl_feat_num_08 <= 3.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_08 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_08 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_08.present? && @blogger.bl_feat_num_08 >= 2.1 && @blogger.bl_feat_num_08 <= 2.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_08 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_08 %></span>
        </div>
      </div>
    <% end %>


    <!-- #2 --->
    <% if @blogger.bl_feat_num_09.present? && @blogger.bl_feat_num_09 >= 4.5 && @blogger.bl_feat_num_09 <= 4.9 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_09 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_09 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_09.present? && @blogger.bl_feat_num_09 >= 4.1 && @blogger.bl_feat_num_09 <= 4.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_09 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_09 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_09.present? && @blogger.bl_feat_num_09 >= 3.5 && @blogger.bl_feat_num_09 <= 4.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_09 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_09 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_09.present? && @blogger.bl_feat_num_09 >= 3.1 && @blogger.bl_feat_num_09 <= 3.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_09 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_09 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_09.present? && @blogger.bl_feat_num_09 >= 2.5 && @blogger.bl_feat_num_09 <= 3.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_09 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_09 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_09.present? && @blogger.bl_feat_num_09 >= 2.1 && @blogger.bl_feat_num_09 <= 2.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_09 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_09 %></span>
        </div>
      </div>
    <% end %>

    <!-- #3 -->
    <% if @blogger.bl_feat_num_10.present? && @blogger.bl_feat_num_10 >= 4.5 && @blogger.bl_feat_num_10 <= 4.9 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_10 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_10 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_10.present? && @blogger.bl_feat_num_10 >= 4.1 && @blogger.bl_feat_num_10 <= 4.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_10 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_10 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_10.present? && @blogger.bl_feat_num_10 >= 3.5 && @blogger.bl_feat_num_10 <= 4.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_10 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_10 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_10.present? && @blogger.bl_feat_num_10 >= 3.1 && @blogger.bl_feat_num_10 <= 3.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_10 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_10 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_10.present? && @blogger.bl_feat_num_10 >= 2.5 && @blogger.bl_feat_num_10 <= 3.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_10 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_10 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_10.present? && @blogger.bl_feat_num_10 >= 2.1 && @blogger.bl_feat_num_10 <= 2.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_10 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_10 %></span>
        </div>
      </div>
    <% end %>

    <!-- #4 -->
    <% if @blogger.bl_feat_num_11.present? && @blogger.bl_feat_num_11 >= 4.5 && @blogger.bl_feat_num_11 <= 4.9 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_11 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_11 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_11.present? && @blogger.bl_feat_num_11 >= 4.1 && @blogger.bl_feat_num_11 <= 4.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_11 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_11 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_11.present? && @blogger.bl_feat_num_11 >= 3.5 && @blogger.bl_feat_num_11 <= 4.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_11 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_11 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_11.present? && @blogger.bl_feat_num_11 >= 3.1 && @blogger.bl_feat_num_11 <= 3.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_11 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_11 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_11.present? && @blogger.bl_feat_num_11 >= 2.5 && @blogger.bl_feat_num_11 <= 3.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_11 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_11 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_11.present? && @blogger.bl_feat_num_11 >= 2.1 && @blogger.bl_feat_num_11 <= 2.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_11 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_11 %></span>
        </div>
      </div>
    <% end %>

    <!-- #5 -->
    <% if @blogger.bl_feat_num_12.present? && @blogger.bl_feat_num_12 >= 4.5 && @blogger.bl_feat_num_12 <= 4.9 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_12 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_12 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_12.present? && @blogger.bl_feat_num_12 >= 4.1 && @blogger.bl_feat_num_12 <= 4.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_12 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_12 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_12.present? && @blogger.bl_feat_num_12 >= 3.5 && @blogger.bl_feat_num_12 <= 4.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_12 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_12 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_12.present? && @blogger.bl_feat_num_12 >= 3.1 && @blogger.bl_feat_num_12 <= 3.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_12 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_12 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_12.present? && @blogger.bl_feat_num_12 >= 2.5 && @blogger.bl_feat_num_12 <= 3.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_12 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_12 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_12.present? && @blogger.bl_feat_num_12 >= 2.1 && @blogger.bl_feat_num_12 <= 2.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_12 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_12 %></span>
        </div>
      </div>
    <% end %>

    <!-- #6 -->
    <% if @blogger.bl_feat_num_13.present? && @blogger.bl_feat_num_13 >= 4.5 && @blogger.bl_feat_num_13 <= 4.9 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_13 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_13 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_13.present? && @blogger.bl_feat_num_13 >= 4.1 && @blogger.bl_feat_num_13 <= 4.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_13 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_13 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_13.present? && @blogger.bl_feat_num_13 >= 3.5 && @blogger.bl_feat_num_13 <= 4.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_13 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_13 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_13.present? && @blogger.bl_feat_num_13 >= 3.1 && @blogger.bl_feat_num_13 <= 3.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_13 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_13 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_13.present? && @blogger.bl_feat_num_13 >= 2.5 && @blogger.bl_feat_num_13 <= 3.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_13 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_13 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_13.present? && @blogger.bl_feat_num_13 >= 2.1 && @blogger.bl_feat_num_13 <= 2.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_13 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_13 %></span>
        </div>
      </div>
    <% end %>

    <!-- #7 -->
    <% if @blogger.bl_feat_num_14.present? && @blogger.bl_feat_num_14 >= 4.5 && @blogger.bl_feat_num_14 <= 4.9 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_14 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_14 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_14.present? && @blogger.bl_feat_num_14 >= 4.1 && @blogger.bl_feat_num_14 <= 4.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_14 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_14 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_14.present? && @blogger.bl_feat_num_14 >= 3.5 && @blogger.bl_feat_num_14 <= 4.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_14 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_14 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_14.present? && @blogger.bl_feat_num_14 >= 3.1 && @blogger.bl_feat_num_14 <= 3.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_14 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_14 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_14.present? && @blogger.bl_feat_num_14 >= 2.5 && @blogger.bl_feat_num_14 <= 3.0 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_14 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_14 %></span>
        </div>
      </div>
    <% elsif @blogger.bl_feat_num_14.present? && @blogger.bl_feat_num_14 >= 2.1 && @blogger.bl_feat_num_14 <= 2.4 %>
      <div class="bfs_box clearfix">                
        <p><%= @blogger.bl_feat_name_14 %></p>
        <div class="rating_box">
          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_14 %></span>
        </div>
      </div>
    <% end %>

  </div>  
<% end %>