<div class="by_featured_section">
  <h4>By Featured</h4>

  <!-- #1 --->
  <% if @blogger.bl_feat_num_22.present? && @blogger.bl_feat_num_22 >= 4.5 && @blogger.bl_feat_num_22 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_22 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_22 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_22.present? && @blogger.bl_feat_num_22 >= 4.1 && @blogger.bl_feat_num_22 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_22 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_22 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_22.present? && @blogger.bl_feat_num_22 >= 3.5 && @blogger.bl_feat_num_22 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_22 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_22 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_22.present? && @blogger.bl_feat_num_22 >= 3.1 && @blogger.bl_feat_num_22 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_22 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_22 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_22.present? && @blogger.bl_feat_num_22 >= 2.5 && @blogger.bl_feat_num_22 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_22 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_22 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_22.present? && @blogger.bl_feat_num_22 >= 2.1 && @blogger.bl_feat_num_22 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_22 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_22 %></span>
      </div>
    </div>
  <% end %>


  <!-- #2 --->
  <% if @blogger.bl_feat_num_23.present? && @blogger.bl_feat_num_23 >= 4.5 && @blogger.bl_feat_num_23 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_23 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_23 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_23.present? && @blogger.bl_feat_num_23 >= 4.1 && @blogger.bl_feat_num_23 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_23 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_23 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_23.present? && @blogger.bl_feat_num_23 >= 3.5 && @blogger.bl_feat_num_23 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_23 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_23 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_23.present? && @blogger.bl_feat_num_23 >= 3.1 && @blogger.bl_feat_num_23 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_23 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_23 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_23.present? && @blogger.bl_feat_num_23 >= 2.5 && @blogger.bl_feat_num_23 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_23 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_23 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_23.present? && @blogger.bl_feat_num_23 >= 2.1 && @blogger.bl_feat_num_23 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_23 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_23 %></span>
      </div>
    </div>
  <% end %>

  <!-- #3 -->
  <% if @blogger.bl_feat_num_24.present? && @blogger.bl_feat_num_24 >= 4.5 && @blogger.bl_feat_num_24 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_24 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_24 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_24.present? && @blogger.bl_feat_num_24 >= 4.1 && @blogger.bl_feat_num_24 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_24 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_24 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_24.present? && @blogger.bl_feat_num_24 >= 3.5 && @blogger.bl_feat_num_24 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_24 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_24 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_24.present? && @blogger.bl_feat_num_24 >= 3.1 && @blogger.bl_feat_num_24 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_24 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_24 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_24.present? && @blogger.bl_feat_num_24 >= 2.5 && @blogger.bl_feat_num_24 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_24 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_24 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_24.present? && @blogger.bl_feat_num_24 >= 2.1 && @blogger.bl_feat_num_24 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_24 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_24 %></span>
      </div>
    </div>
  <% end %>

  <!-- #4 -->
  <% if @blogger.bl_feat_num_25.present? && @blogger.bl_feat_num_25 >= 4.5 && @blogger.bl_feat_num_25 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_25 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_25 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_25.present? && @blogger.bl_feat_num_25 >= 4.1 && @blogger.bl_feat_num_25 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_25 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_25 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_25.present? && @blogger.bl_feat_num_25 >= 3.5 && @blogger.bl_feat_num_25 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_25 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_25 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_25.present? && @blogger.bl_feat_num_25 >= 3.1 && @blogger.bl_feat_num_25 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_25 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_25 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_25.present? && @blogger.bl_feat_num_25 >= 2.5 && @blogger.bl_feat_num_25 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_25 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_25 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_25.present? && @blogger.bl_feat_num_25 >= 2.1 && @blogger.bl_feat_num_25 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_25 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_25 %></span>
      </div>
    </div>
  <% end %>

  <!-- #5 -->
  <% if @blogger.bl_feat_num_26.present? && @blogger.bl_feat_num_26 >= 4.5 && @blogger.bl_feat_num_26 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_26 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_26 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_26.present? && @blogger.bl_feat_num_26 >= 4.1 && @blogger.bl_feat_num_26 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_26 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_26 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_26.present? && @blogger.bl_feat_num_26 >= 3.5 && @blogger.bl_feat_num_26 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_26 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_26 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_26.present? && @blogger.bl_feat_num_26 >= 3.1 && @blogger.bl_feat_num_26 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_26 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_26 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_26.present? && @blogger.bl_feat_num_26 >= 2.5 && @blogger.bl_feat_num_26 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_26 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_26 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_26.present? && @blogger.bl_feat_num_26 >= 2.1 && @blogger.bl_feat_num_26 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_26 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_26 %></span>
      </div>
    </div>
  <% end %>

  <!-- #6 -->
  <% if @blogger.bl_feat_num_27.present? && @blogger.bl_feat_num_27 >= 4.5 && @blogger.bl_feat_num_27 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_27 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_27 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_27.present? && @blogger.bl_feat_num_27 >= 4.1 && @blogger.bl_feat_num_27 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_27 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_27 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_27.present? && @blogger.bl_feat_num_27 >= 3.5 && @blogger.bl_feat_num_27 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_27 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_27 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_27.present? && @blogger.bl_feat_num_27 >= 3.1 && @blogger.bl_feat_num_27 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_27 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_27 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_27.present? && @blogger.bl_feat_num_27 >= 2.5 && @blogger.bl_feat_num_27 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_27 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_27 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_27.present? && @blogger.bl_feat_num_27 >= 2.1 && @blogger.bl_feat_num_27 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_27 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_27 %></span>
      </div>
    </div>
  <% end %>

  <!-- #7 -->
  <% if @blogger.bl_feat_num_28.present? && @blogger.bl_feat_num_28 >= 4.5 && @blogger.bl_feat_num_28 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_28 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_28 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_28.present? && @blogger.bl_feat_num_28 >= 4.1 && @blogger.bl_feat_num_28 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_28 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_28 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_28.present? && @blogger.bl_feat_num_28 >= 3.5 && @blogger.bl_feat_num_28 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_28 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_28 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_28.present? && @blogger.bl_feat_num_28 >= 3.1 && @blogger.bl_feat_num_28 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_28 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_28 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_28.present? && @blogger.bl_feat_num_28 >= 2.5 && @blogger.bl_feat_num_28 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_28 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_28 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_28.present? && @blogger.bl_feat_num_28 >= 2.1 && @blogger.bl_feat_num_28 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_28 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_28 %></span>
      </div>
    </div>
  <% end %>

</div>  