<div class="by_featured_section">
  <h4>By Featured</h4>

  <!-- #1 --->
  <% if @blogger.bl_feat_num_29.present? && @blogger.bl_feat_num_29 >= 4.5 && @blogger.bl_feat_num_29 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_29 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_29 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_29.present? && @blogger.bl_feat_num_29 >= 4.1 && @blogger.bl_feat_num_29 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_29 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_29 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_29.present? && @blogger.bl_feat_num_29 >= 3.5 && @blogger.bl_feat_num_29 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_29 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_29 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_29.present? && @blogger.bl_feat_num_29 >= 3.1 && @blogger.bl_feat_num_29 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_29 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_29 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_29.present? && @blogger.bl_feat_num_29 >= 2.5 && @blogger.bl_feat_num_29 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_29 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_29 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_29.present? && @blogger.bl_feat_num_29 >= 2.1 && @blogger.bl_feat_num_29 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_29 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_29 %></span>
      </div>
    </div>
  <% end %>


  <!-- #2 --->
  <% if @blogger.bl_feat_num_30.present? && @blogger.bl_feat_num_30 >= 4.5 && @blogger.bl_feat_num_30 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_30 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_30 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_30.present? && @blogger.bl_feat_num_30 >= 4.1 && @blogger.bl_feat_num_30 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_30 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_30 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_30.present? && @blogger.bl_feat_num_30 >= 3.5 && @blogger.bl_feat_num_30 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_30 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_30 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_30.present? && @blogger.bl_feat_num_30 >= 3.1 && @blogger.bl_feat_num_30 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_30 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_30 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_30.present? && @blogger.bl_feat_num_30 >= 2.5 && @blogger.bl_feat_num_30 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_30 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_30 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_30.present? && @blogger.bl_feat_num_30 >= 2.1 && @blogger.bl_feat_num_30 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_30 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_30 %></span>
      </div>
    </div>
  <% end %>

  <!-- #3 -->
  <% if @blogger.bl_feat_num_31.present? && @blogger.bl_feat_num_31 >= 4.5 && @blogger.bl_feat_num_31 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_31 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_31 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_31.present? && @blogger.bl_feat_num_31 >= 4.1 && @blogger.bl_feat_num_31 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_31 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_31 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_31.present? && @blogger.bl_feat_num_31 >= 3.5 && @blogger.bl_feat_num_31 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_31 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_31 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_31.present? && @blogger.bl_feat_num_31 >= 3.1 && @blogger.bl_feat_num_31 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_31 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_31 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_31.present? && @blogger.bl_feat_num_31 >= 2.5 && @blogger.bl_feat_num_31 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_31 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_31 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_31.present? && @blogger.bl_feat_num_31 >= 2.1 && @blogger.bl_feat_num_31 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_31 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_31 %></span>
      </div>
    </div>
  <% end %>

  <!-- #4 -->
  <% if @blogger.bl_feat_num_32.present? && @blogger.bl_feat_num_32 >= 4.5 && @blogger.bl_feat_num_32 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_32 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_32 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_32.present? && @blogger.bl_feat_num_32 >= 4.1 && @blogger.bl_feat_num_32 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_32 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_32 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_32.present? && @blogger.bl_feat_num_32 >= 3.5 && @blogger.bl_feat_num_32 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_32 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_32 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_32.present? && @blogger.bl_feat_num_32 >= 3.1 && @blogger.bl_feat_num_32 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_32 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_32 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_32.present? && @blogger.bl_feat_num_32 >= 2.5 && @blogger.bl_feat_num_32 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_32 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_32 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_32.present? && @blogger.bl_feat_num_32 >= 2.1 && @blogger.bl_feat_num_32 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_32 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_32 %></span>
      </div>
    </div>
  <% end %>

  <!-- #5 -->
  <% if @blogger.bl_feat_num_33.present? && @blogger.bl_feat_num_33 >= 4.5 && @blogger.bl_feat_num_33 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_33 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_33 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_33.present? && @blogger.bl_feat_num_33 >= 4.1 && @blogger.bl_feat_num_33 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_33 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_33 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_33.present? && @blogger.bl_feat_num_33 >= 3.5 && @blogger.bl_feat_num_33 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_33 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_33 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_33.present? && @blogger.bl_feat_num_33 >= 3.1 && @blogger.bl_feat_num_33 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_33 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_33 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_33.present? && @blogger.bl_feat_num_33 >= 2.5 && @blogger.bl_feat_num_33 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_33 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_33 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_33.present? && @blogger.bl_feat_num_33 >= 2.1 && @blogger.bl_feat_num_33 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_33 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_33 %></span>
      </div>
    </div>
  <% end %>

  <!-- #6 -->
  <% if @blogger.bl_feat_num_34.present? && @blogger.bl_feat_num_34 >= 4.5 && @blogger.bl_feat_num_34 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_34 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_34 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_34.present? && @blogger.bl_feat_num_34 >= 4.1 && @blogger.bl_feat_num_34 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_34 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_34 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_34.present? && @blogger.bl_feat_num_34 >= 3.5 && @blogger.bl_feat_num_34 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_34 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_34 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_34.present? && @blogger.bl_feat_num_34 >= 3.1 && @blogger.bl_feat_num_34 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_34 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_34 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_34.present? && @blogger.bl_feat_num_34 >= 2.5 && @blogger.bl_feat_num_34 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_34 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_34 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_34.present? && @blogger.bl_feat_num_34 >= 2.1 && @blogger.bl_feat_num_34 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_34 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_34 %></span>
      </div>
    </div>
  <% end %>

  <!-- #7 -->
  <% if @blogger.bl_feat_num_35.present? && @blogger.bl_feat_num_35 >= 4.5 && @blogger.bl_feat_num_35 <= 4.9 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_35 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i> <span><%= @blogger.bl_feat_num_35 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_35.present? && @blogger.bl_feat_num_35 >= 4.1 && @blogger.bl_feat_num_35 <= 4.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_35 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_35 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_35.present? && @blogger.bl_feat_num_35 >= 3.5 && @blogger.bl_feat_num_35 <= 4.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_35 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_35 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_35.present? && @blogger.bl_feat_num_35 >= 3.1 && @blogger.bl_feat_num_35 <= 3.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_35 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_35 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_35.present? && @blogger.bl_feat_num_35 >= 2.5 && @blogger.bl_feat_num_35 <= 3.0 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_35 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_35 %></span>
      </div>
    </div>
  <% elsif @blogger.bl_feat_num_35.present? && @blogger.bl_feat_num_35 >= 2.1 && @blogger.bl_feat_num_35 <= 2.4 %>
    <div class="bfs_box clearfix">                
      <p><%= @blogger.bl_feat_name_35 %></p>
      <div class="rating_box">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i> <span><%= @blogger.bl_feat_num_35 %></span>
      </div>
    </div>
  <% end %>

</div>  