<div class="outline">
  <%= render 'shared/new_main_header' %>

  <section class="outline_left">


    <% if current_user && current_user.admin %>
      <ul class="admin_menu">
        <li><%= link_to 'New Coupon', new_coupon_path %></li>
        <li><%= link_to 'New Post', new_post_path %></li>
        <li><%= link_to 'New HotDeal', new_hotdeal_path %></li>
        <li><%= link_to 'New Pick', new_pick_path %></li>
        <li><%= link_to 'New Blog', new_blogger_path %></li>
        <li><a href="/bridges/delete_coupons">Delete Coupons</a></li>
        </ul><a href="/bridges/delete_hotdeals">Delete Posts</a></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      </ul>
    <% end %>
    <br/>


    <div class="divide_page clearfix">
      <div class="page_title">
        <p>Reviews</p>
      </div>
      <div class="search_filter_comm page_search">
        <%= form_for "",url: bridges_reviews_path, role: "search", method: :get do %>
          <%= text_field_tag :search, @search_term, placeholder: "Search reviews...", class: 'search-input' %>
        <% end %> 
      </div>
    </div>
    
    <div class="blogger_nav">
      <%= render 'bloggers/nav' %>
    </div>

    <div class="latest_blog">
      <% @latest_blog.each do |blog| %>
        <div class="img_box">
          <%= link_to image_tag(blog.bl_image, alt: blog.bl_title, title: blog.bl_title, :class => 'main_img'), blog %>
        </div>
        <div class="inner">
          <h1><%= link_to blog.bl_title, blog %></h1>
          <p><%= blog.bl_description %></p>
           <% if current_user && current_user.admin %>
            <div class="admin_panner">
              <%= link_to 'Edit', edit_blogger_path(blog) %>
              <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div>
      <% end %>
    
    </div>

    <div class="except_first_blogs clearfix">
      <% @except_first_blogs.each do |blog| %>
        <div class="efb_card clearfix">
          <div class="img_box">
            <%= link_to image_tag(blog.bl_image, alt: blog.bl_title, title: blog.bl_title, :class => 'main_img'), blog %>
          </div>

          <div class="inner">
            <span><%= render_with_bloghashtags(blog.bl_category) %></span>
            <h2><%= link_to blog.bl_title, blog %></h2>
            <p class="four_sentences"><%= blog.bl_description %></p>
            <% if current_user && current_user.admin %>
              <div class="admin_panner">
                <%= link_to 'Edit', edit_blogger_path(blog) %>
                <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          </div>
        </div>
       
      <% end %>
      <%= raw pagy_nav(@pagy) %>
    </div><!-- .except_first_blogs -->

  </section><!-- .outline_left -->



  <section class="outline_right">
    <%= render 'bloggers/right_side' %> 
  </section><!-- .outline_right -->


</div><!-- .outline -->


<%= javascript_pack_tag 'coupon_index_menu' %>

<script type="text/javascript">
  // Tabs Action
  const tabLink = document.querySelectorAll(".tab-menu-link");
  const tabContent = document.querySelectorAll(".tab-bar-content");

  tabLink.forEach((item) => {
    item.addEventListener("click", activeTab);
  });

  function activeTab(item) {
    const btnTarget = item.currentTarget;
    const content = btnTarget.dataset.content;

    tabContent.forEach((item) => {
      item.classList.remove("is-active");
    });

    tabLink.forEach((item) => {
      item.classList.remove("is-active");
    });

    document.querySelector("#" + content).classList.add("is-active");
    btnTarget.classList.add("is-active");
  }

</script>





  
