<div class="outline">
  <%= render 'shared/new_main_header' %>

  <section class="outline_left">
    
    <div class="show-wrap">
        <div class="container clearfix">

          <div class="blog_wrap">
            <section class="intro">
              <img src="<%= @blogger.bl_image %>" alt="<%= @blogger.bl_title %>" title="<%= @blogger.bl_title %>">
              <div class="inner">
                <h1><% content_for :title do %><%= @blogger.bl_title %><% end %></h1>
                <h1><%= @blogger.bl_title %></h1>
                <p><%= @blogger.bl_description %></p>
              </div>
            </section>
            <hr />


            <!-- #Product_01 -->
            <section class="product_box product_01">
              <div class="product_img_box clearfix">
                <img src="<%= @blogger.bl_image_01 %>" alt="<%= @blogger.bl_subtitle_01 %>">
              </div>

              <div class="pricing">
                <h2><%= @blogger.bl_subtitle_01 %></h2>
                <%= render 'bloggers/rating_card_01' %>                
                <p><%= number_to_currency(@blogger.bl_is_price_01) %>
                  <% if @blogger.bl_was_price_01.present? %>
                    <span><%= number_to_currency(@blogger.bl_was_price_01) %></span>
                  <% end %>
                </p>
              </div>

              <div class="blog_ctn"><%= @blogger.bl_content_01 %></div>
              <%= render 'bloggers/p01_featured' %>
              


              <div class="btn clearfix"><a target="_blank" href="<%= @blogger.bl_link_01 %>">View now on Amazon</a></div>
            </section>

            <!-- #Product_02 -->
            <section class="product_box product_02">
              <div class="product_img_box clearfix">
                <img src="<%= @blogger.bl_image_02 %>" alt="<%= @blogger.bl_subtitle_02 %>">
              </div>

              <div class="pricing">
                <h2><%= @blogger.bl_subtitle_02 %></h2>
                <%= render 'bloggers/rating_card_02' %>                
                <p><%= number_to_currency(@blogger.bl_is_price_02) %>
                  <% if @blogger.bl_was_price_02.present? %>
                    <span><%= number_to_currency(@blogger.bl_was_price_02) %></span>
                  <% end %>
                </p>
              </div>

              <div class="blog_ctn"><%= @blogger.bl_content_02 %></div>
              <%= render 'bloggers/p02_featured' %>

              <div class="btn clearfix"><a target="_blank" href="<%= @blogger.bl_link_02 %>">View now on Amazon</a></div>
            </section>


            <!-- #Product_03 -->
            <section class="product_box product_03">
              <div class="product_img_box clearfix">
                <img src="<%= @blogger.bl_image_03 %>" alt="<%= @blogger.bl_subtitle_03 %>">
              </div>

              <div class="pricing">
                <h2><%= @blogger.bl_subtitle_03 %></h2>
                <%= render 'bloggers/rating_card_03' %>
                <p><%= number_to_currency(@blogger.bl_is_price_03) %>
                  <% if @blogger.bl_was_price_03.present? %>
                    <span><%= number_to_currency(@blogger.bl_was_price_03) %></span>
                  <% end %>
                </p>
              </div>

              <div class="blog_ctn"><%= @blogger.bl_content_03 %></div>
              <%= render 'bloggers/p03_featured' %>

              <div class="btn clearfix"><a target="_blank" href="<%= @blogger.bl_link_03 %>">View now on Amazon</a></div>
            </section>


            <!-- #Product_04 -->
            <section class="product_box product_04">
              
              <div class="product_img_box clearfix">
                <img src="<%= @blogger.bl_image_04 %>" alt="<%= @blogger.bl_subtitle_04 %>">
              </div>

              <div class="pricing">
                <h2><%= @blogger.bl_subtitle_04 %></h2>
                <%= render 'bloggers/rating_card_04' %>                
                <p><%= number_to_currency(@blogger.bl_is_price_04) %>
                  <% if @blogger.bl_was_price_04.present? %>
                    <span><%= number_to_currency(@blogger.bl_was_price_04) %></span>
                  <% end %>
                </p>
              </div>

              <div class="blog_ctn"><%= @blogger.bl_content_04 %></div>
              <%= render 'bloggers/p04_featured' %>

              <div class="btn clearfix"><a target="_blank" href="<%= @blogger.bl_link_04 %>">View now on Amazon</a></div>
            </section>


            <!-- #Product_05 -->
            <section class="product_box product_05">
              <div class="product_img_box clearfix">
                <img src="<%= @blogger.bl_image_05 %>" alt="<%= @blogger.bl_subtitle_05 %>">
              </div>

              <div class="pricing">
                <h2><%= @blogger.bl_subtitle_05 %></h2>
                <%= render 'bloggers/rating_card_05' %>                
                <p><%= number_to_currency(@blogger.bl_is_price_05) %>
                  <% if @blogger.bl_was_price_05.present? %>
                    <span><%= number_to_currency(@blogger.bl_was_price_05) %></span>
                  <% end %>
                </p>
              </div>

              <div class="blog_ctn"><%= @blogger.bl_content_05 %></div>
              <%= render 'bloggers/p05_featured' %>

              <div class="btn clearfix"><a target="_blank" href="<%= @blogger.bl_link_05 %>">View now on Amazon</a></div>
            </section>  

            <section class="notice">
              <ul>
                <li>"Offtheprice" is a participant in the Amazon Services LLC Associates Program an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com.</li>
                <li>Price, ratings, and global reviews may change after post published date.</li>
              </ul>
            </section>

            <% if current_user && current_user.admin %>
              <section class="blog_admin">
                <%= link_to 'Edit', edit_blogger_path(@blogger) %> |
                <%= link_to 'Back', bloggers_path %>
              </section>
            <% end %>

          </div><!-- blog_wrap -->

       </div><!-- container -->
    </div><!-- show-wrap -->

    <div class="back_to_btn">
      <a href="javascript:history.back()" class="back_to"><img src="<%= asset_path 'back_btn.png' %>"></a>
    </div>
  </section><!-- .outline_left -->



  <section class="outline_right">
    <%= render 'bloggers/right_side' %> 
  </section><!-- .outline_right -->


</div><!-- .outline -->


<%= javascript_pack_tag 'coupon_index_menu' %>

<script type="text/javascript">
  // Tabs Action
  const tabLink = document.querySelectorAll(".tab-menu-link");
  const tabContent = document.querySelectorAll(".tab-bar-content");

  tabLink.forEach((item) => {
    item.addEventListener("click", activeTab);
  });

  function activeTab(item) {
    const btnTarget = item.currentTarget;
    const content = btnTarget.dataset.content;

    tabContent.forEach((item) => {
      item.classList.remove("is-active");
    });

    tabLink.forEach((item) => {
      item.classList.remove("is-active");
    });

    document.querySelector("#" + content).classList.add("is-active");
    btnTarget.classList.add("is-active");
  }

</script>





  
