<div class="cli_main_warp clearfix">
  <h2>Clipping Coupons</h2>
  <div class="clipping_wrap">
    <div class="filter-group">

        <% @clippings.each do |clipping| %>
          <div class="filter-node clearfix" data-filter='["<%= clipping.cli_title %>"," <%= clipping.cli_categories %>"]'>
            <a href="<%= clipping.cli_link %>">
              <div class="cli_box">
                <div class="pct"><p><%= number_to_percentage(clipping.cli_pct, precision: 0) %></p></div>
                <div class="ctn">
                  <p><%= clipping.cli_title %></p>
                </div>
                <div class="img">
                  <img src="<%= clipping.cli_img %>" alt="<%= clipping.cli_title %>">
                </div>
              </div>
            </a>

            <% if current_user && current_user.admin %>
              <div class="admin_panner">
                <%= link_to 'Edit', edit_clipping_path(clipping) %>
                <%= link_to 'Destroy', clipping, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="filter-node clearfix" data-filter='["product_title"," electronics"]'>
            <a href="#n">
              <div class="cli_box">
                <div class="pct"><p>50%</p></div>
                <div class="ctn">
                  <p>This Area is for product ctn</p>
                </div>
                <div class="img">
                  <img src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/I/41TCOjiQhvL._SR400,400_.jpg">
                </div>
              </div>
            </a>
          </div>

          <div class="filter-node clearfix" data-filter='["red"," fashion"]'>
            <a href="#n">
              <div class="cli_box">
                <div class="pct"><p>50%</p></div>
                <div class="ctn">
                  <p>This Area is for product ctn</p>
                </div>
                <div class="img">
                  <img src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/I/41TCOjiQhvL._SR400,400_.jpg">
                </div>
              </div>
            </a>
          </div>

          <div class="filter-node clearfix" data-filter='["red"," beauty"]'>
            <a href="#n">
              <div class="cli_box">
                <div class="pct"><p>50%</p></div>
                <div class="ctn">
                  <p>This Area is for product ctn</p>
                </div>
                <div class="img">
                  <img src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/I/41TCOjiQhvL._SR400,400_.jpg">
                </div>
              </div>
            </a>
          </div>

          <div class="filter-node clearfix" data-filter='["product_title"," electronics"]'>
            <a href="#n">
              <div class="cli_box">
                <div class="pct"><p>50%</p></div>
                <div class="ctn">
                  <p>This Area is for product ctn</p>
                </div>
                <div class="img">
                  <img src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/I/41TCOjiQhvL._SR400,400_.jpg">
                </div>
              </div>
            </a>
          </div>
        
    </div>
  </div>



  <div class="btn clearfix">
    <a href="/clippings">View More</a>
  </div>

</div>
    