<div class="hotdeal_form">
  <%= simple_form_for(@clipping) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div class="basic_info">
        <%= f.input :cli_title, label: "Product Title" %>
        <!-- <%= f.input :cli_sub_title, label: "Product Sub Title" %> -->
        <%= f.input :cli_img, label: "Product Image" %>
        <%= f.input :cli_pct, label: "Percentage coupon" %>
        <%= f.input :cli_spare_61, label: "Cash coupon" %>
        <%= f.input :cli_categories, label: "Categoreis" %>
        <%= f.input :cli_link, label: "Product Link" %>
        
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>