<div class="blog_form_warp">
  <%= simple_form_for(@blog) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs title_section">
      <%= f.input :blog_m_image, label: 'Main Image' %>
      <%= f.input :blog_m_title, label: 'Main Title' %>
      <%= f.input :blog_m_category, label: "Categories" %>
      <%= f.input :blog_m_description, label: 'Main Description', :input_html => { :class => 'main_desc' }  %>
    </div>

    <!-- #01 Product -->
    <div class="form-inputs content_section">
      <p>#01 Product</p>
      <%= f.input :blog_subtitle_01, label: '#01 title' %>
      <%= f.input :blog_image_01, label: '#01 image' %>
      <%= f.input :blog_content_01, as: :rich_text_area, label: '#01 Contents' %>
      <%= f.input :blog_link_01, label: '#01 link', :input_html => { :class => 'ctn_link' } %>
    </div>

    <hr/>

    <!-- #02 Product -->
    <div class="form-inputs content_section">
      <p>#02 Product</p>
      <%= f.input :blog_subtitle_02, label: '#02 title' %>
      <%= f.input :blog_image_02, label: '#02 image' %>
      <%= f.input :blog_content_02, as: :rich_text_area, label: '#02 Contents' %>
      <%= f.input :blog_link_02, label: '#02 link', :input_html => { :class => 'ctn_link' } %>
    </div>

    <hr/>

    <!-- #03 Product -->
    <div class="form-inputs content_section">
      <p>#03 Product</p>
      <%= f.input :blog_subtitle_03, label: '#03 title' %>
      <%= f.input :blog_image_03, label: '#03 image' %>
      <%= f.input :blog_content_03, as: :rich_text_area, label: '#03 Contents' %>
      <%= f.input :blog_link_03, label: '#03 link', :input_html => { :class => 'ctn_link' } %>
    </div>

    <hr/>

    <!-- #04 Product -->
    <div class="form-inputs content_section">
      <p>#04 Product</p>
      <%= f.input :blog_subtitle_04, label: '#04 title' %>
      <%= f.input :blog_image_04, label: '#04 image' %>
      <%= f.input :blog_content_04, as: :rich_text_area, label: '#04 Contents' %>
      <%= f.input :blog_link_04, label: '#04 link', :input_html => { :class => 'ctn_link' } %>
    </div>

    <hr/>

    <!-- #05 Product -->
    <div class="form-inputs content_section">
      <p>#05 Product</p>
      <%= f.input :blog_subtitle_05, label: '#05 title' %>
      <%= f.input :blog_image_05, label: '#05 image' %>
      <%= f.input :blog_content_05, as: :rich_text_area, label: '#05 Contents' %>
      <%= f.input :blog_link_05, label: '#05 link', :input_html => { :class => 'ctn_link' } %>
    </div>

    <hr/>

    <div class="form-actions blog_btn">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>