<div class="hotdeal_form">
  <%= simple_form_for(@coupon) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div class="basic_info">
        <%= f.input :c_image, label: "Product Image" %>
        <%= f.input :c_title, label: "Product Title" %>
        <%= f.input :c_link, label: "Product URL" %>
        <%= f.input :c_promocode, label: "Coupon Code" %>
        <%= f.input :c_hashtag, label: "Hashtag" %>
      </div>
      <div class="pricing clearfix">
        <%= f.input :c_was_price, label: "Coupon: Current Price, deal: WAS PRICE" %>
        <%= f.input :c_is_price, label: "hotdeal IS PRICE, only input hotdeal info" %>
        <%= f.input :c_pct, label: "pct" %>
        <%= f.input :c_spare_56, label: "PromoCode No. =11111, Hotdeal No. =22222" %>
      </div>
      <div class="pricing clearfix">
        <%= f.input :c_spare_57, label: "Product Codes" %>
        <%= f.input :c_rating, label: "Star Rating"  %>
        <%= f.input :c_spare_58, label: "Rating_code" %>
        <%= f.input :c_review_count, label: "Reviews"  %>
        <%= f.input :c_spare_61, label: "Coupon%" %>
        <%= f.input :c_spare_62, label: "Coupon$" %>
      </div>
      <div class="pricing clearfix">
        <%= f.input :c_spare_01, label: "Month" %>
        <%= f.input :c_spare_02, label: "Day" %>
        <!-- <%= f.datetime_field :c_spare_66, label: "date" %> -->
      </div>
      <%= f.input :c_description, label: "Description" %>
      
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>