<div class="mostContainer clearfix">
  <h3><span class="trend_left">Trending Promo Codes <i class="material-icons">trending_up</i></span> <!-- <span class="trend_right"><a href="#">more</a></span> --></h3>
  <% @coupons_top.each_with_index do |coupon, i| %>   
  <% promocode_price = 0 %>
  <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
  <% hotdeal_pct = 0 %>
  <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>
  <% promo_price = 0 %>
  <% promo_price = (coupon.c_pct.to_f / 100) * coupon.c_was_price %>
  <% pct_coupon = 0 %>
  <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
  <% total_price = 0 %>
  <% total_price = coupon.c_was_price - promo_price %>
  <% total_price_pct_coupon = total_price - pct_coupon %>
  <% total_price_cash_coupon = total_price - coupon.c_spare_62.to_f %>
    <a href="/coupons/<%= coupon.id %>">
      <div class="section clearfix">
        <div class="img_box">
          <img src="<%= coupon.c_image %>"">
          <span class="list_num">#<%= i + 1 %></span>
        </div>
        <div class="right-section">                      
            <p class="two_sentences"><%= coupon.c_title %></p>
            <% if current_user && current_user.admin %><p class="hit"><%= coupon.hits %> People Checked.</p><% end %>

            <!-- <div class="star_write">
              <% if coupon.c_spare_42.present? %>
               <div class="rating_card">

                  <% if coupon.c_spare_58 == 50 %>
                    <div class="rating_box">
                      <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
                      <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                    </div>
                  <% elsif coupon.c_spare_58 == 45 %>
                    <div class="rating_box">
                      <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i>
                      <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                    </div>
                  <% elsif coupon.c_spare_58 == 40 %>
                    <div class="rating_box">
                      <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i>
                      <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                    </div>
                  <% elsif coupon.c_spare_58 == 35 %>
                    <div class="rating_box">
                      <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                      <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                    </div>
                  <% elsif coupon.c_spare_58 == 30 %>
                    <div class="rating_box">
                      <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                      <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div> -->

            <div class="pricing">
              <% if coupon.c_promocode.present? %>
                <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                  <% if coupon.c_spare_61.present? %>
                    <em class="show_price"><%= number_to_currency(total_price_pct_coupon) %></em><span><%= number_to_currency(coupon.c_was_price) %></span>
                  <% else %>
                    <em class="show_price"><%= number_to_currency(total_price_cash_coupon) %></em><span><%= number_to_currency(coupon.c_was_price) %></span>
                  <% end %>
                <% else %>
                  <!-- only for promotion code -->
                  <em class="show_price"><%= number_to_currency(total_price.to_f) %></em><span><%= number_to_currency(coupon.c_was_price) %></span>
                <% end %>
              <% else %>
                <em class="show_price"><%= number_to_currency(coupon.c_is_price) %></em><span><%= number_to_currency(coupon.c_was_price) %></span>
              <% end %>
            </div><!-- pricing -->
        </div>
      </div>
    </a>
  <% end %>

  <% if current_page?(controller: 'bridges', action: 'landing_page') %>
    <div class="view_more">
      <a href="/bridges/trending_coupon">Today's TOP 50</a>
    </div>
  <% end %>
</div><!-- mostContainer -->

