<p id="notice"><%= notice %></p>

<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <% if @search_term.present? %>
    <div class="right">

      <div class="index_wrap">
        <header><%= render 'coupons/header_index' %></header>
      
          <div class="pic_deal clearfix">
            <div class="card_wrap n_coupon_wrap">
                <!-- <h2>Promotion Codes</h2> -->


                <div class="menu-wrapper when_search_term">
                  <div class="menu-item">
                    <a href="/coupons/chashtag/electronics">Electronics</a>
                    <a href="/coupons/chashtag/fashion">Fashion</a>
                    <a href="/coupons/chashtag/beauty">Beauty</a>
                    <a href="/coupons/chashtag/automotive">Automotive</a>
                    <a href="/coupons/chashtag/cellphone_accessories">Cell Phone&Accessories</a>
                    <a href="/coupons/chashtag/home_kitchen">Home&Kitchen</a>
                    <a href="/coupons/chashtag/sports_outdoor">Sports&Outdoor</a>
                    <a href="/coupons/chashtag/pet_supplies">Pet Supplies</a>
                    <a href="/coupons/chashtag/health_household">Health&Household</a>
                    <a href="/coupons/chashtag/baby_products">Baby</a>
                    <a href="/coupons/chashtag/tools_home_mprovement">Home Improvemnts</a>
                    <a href="/coupons/chashtag/patio_lawn_garden">Patio&Lawn&Garden</a>
                    <a href="/coupons/chashtag/office_products">Office Products</a>
                    <a href="/coupons/chashtag/toys_games">Toys&Games</a>
                    <a href="/coupons/chashtag/video_games">Video Games</a>
                    <a href="/coupons/chashtag/musical_instruments">Msical Instruments</a>
                  </div> 
                  <span class="pointer left-pointer dis">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                  <span class="pointer right-pointer">
                    <i class="fa fa-chevron-right"></i>
                  </span>
                </div>

                <div class="search_filter_comm">
                  <!-- <div id="wrapper">
                    <input type="text" onkeyup="searchFilter(this)" placeholder="Search..."/>
                  </div> -->
                  <%= form_for "",url: coupons_path, role: "search", method: :get do %>
                    <%= text_field_tag :search, @search_term, placeholder: "Search....", class: 'search-input' %>
                  <% end %> 
                </div>

                <% @coupons.each do |coupon| %>
                      <div id="wrapper">
                        <div class="n_coupon_card clearfix company">
                          <% promocode_price = 0 %>
                          <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>

                          <% hotdeal_pct = 0 %>
                          <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>

                          <div class="inner">
                            <p class="posted_date">Found by Editor: <%= coupon.created_at.strftime("#{coupon.created_at.day.ordinalize} %B %Y") %></p>
                            <% if coupon.c_promocode.present? %>
                              <span class="label_code label">
                                Code Savings
                                <em><%= number_to_percentage(coupon.c_pct, precision: 0) %></em>
                              </span> 

                              <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                <span class="label_coupon label">
                                  + Coupon Savings
                                  <% if coupon.c_spare_61.present? %>
                                    <em><%= number_to_percentage(coupon.c_spare_61, precision: 0) %></em>
                                  <% else %>
                                    <em><%= number_to_currency(coupon.c_spare_62, precision: 0) %> </em>
                                  <% end %> 
                                </span>
                              <% end %>

                            <% else %>
                              <span class="label_deal label">Online Deal</span>
                            <% end %>
                            <p class="title"><%= coupon.c_title %></p>

                            <div class="star_write">
                                <% if coupon.c_spare_42.present? %>
                                 <div class="rating_card">

                                    <% if coupon.c_spare_58 == 50 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_5.png' %>" alt="star_rating" style="width:40%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% elsif coupon.c_spare_58 == 45 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_45.png' %>" alt="star_rating" style="width:40%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% elsif coupon.c_spare_58 == 40 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_4.png' %>" alt="star_rating" style="width:40%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% elsif coupon.c_spare_58 == 35 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_35.png' %>" alt="star_rating" style="width:30%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% elsif coupon.c_spare_58 == 30 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_3.png' %>" alt="star_rating" style="width:30%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% end %>
                                  </div>
                                <% end %>
                            </div>



                            <% if coupon.c_promocode.present? %>
                              <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                <% total_save = 0 %>
                                <% pct_coupon = 0 %>
                                <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
                                <% total_price_pct_coupon = promocode_price - pct_coupon %>
                                <% total_price_cash_coupon = promocode_price - coupon.c_spare_62.to_f %>

                                <% if coupon.c_spare_61.present? %>
                                  <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                                  <p class="code_price"><%= number_to_currency(total_price_pct_coupon) %></p>
                                  <div class="more_detail">
                                    <% total_save = coupon.c_was_price - total_price_pct_coupon %>
                                    <!-- <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em> off list price.</p>
                                    <p class="verified">✅Code & Coupon verified!</p> -->
                                    
                                      <!-- <ul class="see_code">
                                        <li>
                                          <div class="dropdownlink"></i> View Promotion Code
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                          </div>
                                          <ul class="ctn">
                                            <img class="barcode" src="<%=asset_path 'barcode.png' %>" alt="Promotion code" />
                                            <p><%= coupon.c_promocode %></p>
                                            <div class="btn clearfix">
                                              <a href="<%= coupon.c_link %>">Apply Now</a>
                                              <a href="/coupons/<%= coupon.id %>">Code Detail</a>
                                            </div>
                                            <% if coupon.c_spare_01.present? %>
                                              <span><img class="see_code_notice" src="<%=asset_path 'exp.png' %>" alt="expried" />Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                                            <% end %>
                                          </ul>
                                        </li>
                                      </ul>-->
   
                                  </div>

                                <% else %>
                                  <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                                  <p class="code_price"><%= number_to_currency(total_price_cash_coupon) %></p>
                                  <div class="more_detail">
                                    <% total_save = coupon.c_was_price - total_price_cash_coupon %>
                                    <!-- <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em></p>
                                    <p class="verified">✅Code & Coupon verified!</p> -->
                                    <!-- <ul class="see_code">
                                      <li>
                                        <div class="dropdownlink"></i> View Promotion Code
                                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </div>
                                        <ul class="ctn">
                                          <img class="barcode" src="<%=asset_path 'barcode.png' %>" alt="Promotion code" />
                                          <p><%= coupon.c_promocode %></p>
                                          <div class="btn clearfix">
                                            <a href="<%= coupon.c_link %>">Apply Now</a>
                                            <a href="/coupons/<%= coupon.id %>">Code Detail</a>
                                          </div>
                                          <% if coupon.c_spare_01.present? %>
                                            <span><img class="see_code_notice" src="<%=asset_path 'exp.png' %>" alt="expried" />Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                                          <% end %>
                                        </ul>
                                      </li>
                                    </ul> -->

                                  </div>
                                <% end %>
                                
                              <% else %>
                                <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                                <p class="code_price"><%= number_to_currency(promocode_price) %></p>
                                <div class="more_detail">
                                  <% total_save = coupon.c_was_price - promocode_price %>
                                  <!-- <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em></p>
                                  <p class="verified">✅Code verified!</p> -->
                                  <!-- <ul class="see_code">
                                        <li>
                                          <div class="dropdownlink"></i> View Promotion Code
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                          </div>
                                          <ul class="ctn">
                                            <img class="barcode" src="<%=asset_path 'barcode.png' %>" alt="Promotion code" />
                                            <p><%= coupon.c_promocode %></p>
                                            <div class="btn clearfix">
                                              <a href="<%= coupon.c_link %>">Apply Now</a>
                                              <a href="/coupons/<%= coupon.id %>">Code Detail</a>
                                            </div>
                                            <% if coupon.c_spare_01.present? %>
                                              <span><img class="see_code_notice" src="<%=asset_path 'exp.png' %>" alt="expried" />Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                                            <% end %>
                                          </ul>
                                        </li>
                                  </ul> -->
                                </div>
                              <% end %>
                            <% else %>
                              <p class="code_price"><%= number_to_currency(coupon.c_is_price) %></p>
                            <% end %>


                            <!-- <p class="rating"><em>more than <%= coupon.c_review_count %> people rated it.</em></p> -->
                            <!--
                            <% if coupon.c_promocode.present? %>
                              <p class="dec">
                                On sale for           
                                <strong><%= number_to_currency(promocode_price) %></strong> by <strong><%= number_to_percentage(coupon.c_pct, precision: 0) %> off</strong> the price with Promo Code.
                              </p>
                            <% else %>
                             <p class="dec">
                                On sale for           
                                <strong><%= number_to_currency(coupon.c_is_price) %></strong> by <strong><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</strong> the price.
                              </p>
                            <% end %>
                            -->

                            <!-- <div class="btn_box">
                              <a href="/coupons/<%= coupon.id %>">btn</a>
                            </div> -->
                            

                            <% if current_user && current_user.admin %>
                              <div class="admin_controller">
                                <%= link_to 'Edit', edit_coupon_path(coupon) %>
                                <%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %>
                              </div>
                            <% end %>
                          </div>


                          <div class="img_box">
                            <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title, :class => 'main_img'), coupon %>

                            <% if coupon.c_promocode.present? %>
                              <span><%= number_to_percentage(coupon.c_pct, precision: 0) %> </span>
                            <% else %>
                              <span><%= number_to_percentage(hotdeal_pct, precision: 0) %> </span>
                            <% end %>

                            <% if current_user && current_user.admin %>
                              <div class="used_it">
                                <p><%= coupon.hits %> People Checked.</p>
                              </div>
                            <% end %>

                            <!-- 
                            <% if coupon.c_rating.present? %>
                             <div class="rating_card">
                                <% if coupon.c_spare_58 == 50 %>
                                  <img src="<%=asset_path 'star_5.png' %>" alt="star_rating"/ style="width:80px;">
                                <% elsif coupon.c_spare_58 == 45 %>
                                  <img src="<%=asset_path 'star_45.png' %>" alt="star_rating"/ style="width:78px;">
                                <% elsif coupon.c_spare_58 == 40 %>
                                  <img src="<%=asset_path 'star_4.png' %>" alt="star_rating"/ style="width:65px;">
                                <% elsif coupon.c_spare_58 == 35 %>
                                  <img src="<%=asset_path 'star_35.png' %>" alt="star_rating"/ style="width:63px;">
                                <% elsif coupon.c_spare_58 == 30 %>
                                  <img src="<%=asset_path 'star_3.png' %>" alt="star_rating"/ style="width:50px;">
                                <% end %>
                              </div>
                            <% end %>
                           -->
                            <div class="rating_for_admin">
                              <% if current_user && current_user.admin %>
                                <p><%= number_with_delimiter(coupon.c_spare_42) %> // <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %></p>
                              <% end %>
                            </div>
                          </div>

                        </div><!-- n_coupon_card -->
                      </div><!-- wrapper -->
                    
                <% end %>

            </div>
          </div>

        </div>
    <!-- < render 'coupons/tab_bar' > -->
    </div><!-- right -->
  
  <% else %>
    <div class="right">

      <div class="index_wrap">
        <header><%= render 'coupons/header_index' %></header>

         <% if current_user && current_user.admin %>
            <div class="admin_btn">
              <%= link_to 'New Coupon', new_coupon_path %>
              <%= link_to 'New Post', new_post_path %>
              <%= link_to 'New Pick', new_pick_path %>
              <a href="/bridges/delete_coupons">Delete Coupons</a>
              <a href="/bridges/delete_hotdeals">Delete Posts</a>
              <a href="/bridges/share_ko">KOR</a>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </div>  
          <% end %>

        <!-- <div class="search_hero clearfix"> 
            <div class="inner">
              <h2>Why pay more?</h2>
              <p><em>Amazon.com</em> offers thousands of great deals, but finding the best deal through endless pages might make you crazy. It offers the quickest and simplest way to find the best deals, coupons and promo codes at Amazon.com. Find what you're looking for at a great price and save money :)</p>
              <p class="find_more"><a href="/bridges/finder_detail">Find More</a></p>
            </div>
          </div>
 -->
          
          <div class="pic_deal clearfix">
            <div class="card_wrap n_coupon_wrap">
                <!-- <h2>Promotion Codes</h2> -->


                <div class="menu-wrapper">
                  <div class="menu-item">
                    <a href="/coupons/chashtag/electronics">Electronics</a>
                    <a href="/coupons/chashtag/fashion">Fashion</a>
                    <a href="/coupons/chashtag/beauty">Beauty</a>
                    <a href="/coupons/chashtag/automotive">Automotive</a>
                    <a href="/coupons/chashtag/cellphone_accessories">Cell Phone&Accessories</a>
                    <a href="/coupons/chashtag/home_kitchen">Home&Kitchen</a>
                    <a href="/coupons/chashtag/sports_outdoor">Sports&Outdoor</a>
                    <a href="/coupons/chashtag/pet_supplies">Pet Supplies</a>
                    <a href="/coupons/chashtag/health_household">Health&Household</a>
                    <a href="/coupons/chashtag/baby_products">Baby</a>
                    <a href="/coupons/chashtag/tools_home_mprovement">Home Improvemnts</a>
                    <a href="/coupons/chashtag/patio_lawn_garden">Patio&Lawn&Garden</a>
                    <a href="/coupons/chashtag/office_products">Office Products</a>
                    <a href="/coupons/chashtag/toys_games">Toys&Games</a>
                    <a href="/coupons/chashtag/video_games">Video Games</a>
                    <a href="/coupons/chashtag/musical_instruments">Msical Instruments</a>
                  </div> 
                  <span class="pointer left-pointer dis">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                  <span class="pointer right-pointer">
                    <i class="fa fa-chevron-right"></i>
                  </span>
                </div>

                <div class="search_filter_comm">
                  <!-- <div id="wrapper">
                    <input type="text" onkeyup="searchFilter(this)" placeholder="Search..."/>
                  </div> -->
                  <%= form_for "",url: coupons_path, role: "search", method: :get do %>
                    <%= text_field_tag :search, @search_term, placeholder: "Search....", class: 'search-input' %>
                  <% end %> 
                </div>

                <!-- < render 'coupons/our_pick' > -->

                <!-- <h2>Amazon Promo Codes for August 2022</h2> -->
                <% @coupons.each do |coupon| %>
                      <div id="wrapper">
                        <div class="n_coupon_card clearfix company">
                          <% promocode_price = 0 %>
                          <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>

                          <% hotdeal_pct = 0 %>
                          <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>

                          <div class="inner">
                            <p class="posted_date">Found by Editor: <%= coupon.created_at.strftime("#{coupon.created_at.day.ordinalize} %B %Y") %></p>
                            <% if coupon.c_promocode.present? %>
                              <span class="label_code label">
                                Code Savings
                                <em><%= number_to_percentage(coupon.c_pct, precision: 0) %></em>
                              </span> 

                              <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                <span class="label_coupon label">
                                  + Coupon Savings
                                  <% if coupon.c_spare_61.present? %>
                                    <em><%= number_to_percentage(coupon.c_spare_61, precision: 0) %></em>
                                  <% else %>
                                    <em><%= number_to_currency(coupon.c_spare_62, precision: 0) %> </em>
                                  <% end %> 
                                </span>
                              <% end %>

                            <% else %>
                              <span class="label_deal label">Online Deal</span>
                            <% end %>
                            <p class="title"><%= coupon.c_title %></p>

                             <div class="star_write">
                                <% if coupon.c_spare_42.present? %>
                                 <div class="rating_card">

                                    <% if coupon.c_spare_58 == 50 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_5.png' %>" alt="star_rating" style="width:40%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% elsif coupon.c_spare_58 == 45 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_45.png' %>" alt="star_rating" style="width:40%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% elsif coupon.c_spare_58 == 40 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_4.png' %>" alt="star_rating" style="width:40%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% elsif coupon.c_spare_58 == 35 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_35.png' %>" alt="star_rating" style="width:30%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% elsif coupon.c_spare_58 == 30 %>
                                      <div class="rating_box">
                                        <!-- <img src="<%=asset_path 'star_3.png' %>" alt="star_rating" style="width:30%"> -->
                                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                                        <span>/ <%= number_with_precision(coupon.c_spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                      </div>
                                    <% end %>
                                  </div>
                                <% end %>
                            </div>


                            <% if coupon.c_promocode.present? %>
                              <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                <% total_save = 0 %>
                                <% pct_coupon = 0 %>
                                <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
                                <% total_price_pct_coupon = promocode_price - pct_coupon %>
                                <% total_price_cash_coupon = promocode_price - coupon.c_spare_62.to_f %>

                                <% if coupon.c_spare_61.present? %>
                                  <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                                  <p class="code_price"><%= number_to_currency(total_price_pct_coupon) %></p>
                                  <div class="more_detail">
                                    <% total_save = coupon.c_was_price - total_price_pct_coupon %>
                                    <!-- <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em> off list price.</p> -->
                                    <!-- <p class="verified">✅Code & Coupon verified!</p> -->
                                    
                                      <!-- <ul class="see_code">
                                        <li>
                                          <div class="dropdownlink"></i> View Promotion Code
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                          </div>
                                          <ul class="ctn">
                                            <img class="barcode" src="<%=asset_path 'barcode.png' %>" alt="Promotion code" />
                                            <p><%= coupon.c_promocode %></p>
                                            <div class="btn clearfix">
                                              <a href="<%= coupon.c_link %>">Apply Now</a>
                                              <a href="/coupons/<%= coupon.id %>">Code Detail</a>
                                            </div>
                                            <% if coupon.c_spare_01.present? %>
                                              <span><img class="see_code_notice" src="<%=asset_path 'exp.png' %>" alt="expried" />Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                                            <% end %>
                                          </ul>
                                        </li>
                                      </ul>-->
   
                                  </div>

                                <% else %>
                                  <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                                  <p class="code_price"><%= number_to_currency(total_price_cash_coupon) %></p>
                                  <div class="more_detail">
                                    <% total_save = coupon.c_was_price - total_price_cash_coupon %>
                                    <!-- <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em></p> -->
                                    <!-- <p class="verified">✅Code & Coupon verified!</p> -->
                                    <!-- <ul class="see_code">
                                      <li>
                                        <div class="dropdownlink"></i> View Promotion Code
                                          <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </div>
                                        <ul class="ctn">
                                          <img class="barcode" src="<%=asset_path 'barcode.png' %>" alt="Promotion code" />
                                          <p><%= coupon.c_promocode %></p>
                                          <div class="btn clearfix">
                                            <a href="<%= coupon.c_link %>">Apply Now</a>
                                            <a href="/coupons/<%= coupon.id %>">Code Detail</a>
                                          </div>
                                          <% if coupon.c_spare_01.present? %>
                                            <span><img class="see_code_notice" src="<%=asset_path 'exp.png' %>" alt="expried" />Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                                          <% end %>
                                        </ul>
                                      </li>
                                    </ul> -->

                                  </div>
                                <% end %>
                                
                              <% else %>
                                <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                                <p class="code_price"><%= number_to_currency(promocode_price) %></p>
                                <div class="more_detail">
                                  <% total_save = coupon.c_was_price - promocode_price %>
                                  <!-- <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em></p> -->
                                  <!-- <p class="verified">✅Code verified!</p> -->
                                  <!-- <ul class="see_code">
                                        <li>
                                          <div class="dropdownlink"></i> View Promotion Code
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                          </div>
                                          <ul class="ctn">
                                            <img class="barcode" src="<%=asset_path 'barcode.png' %>" alt="Promotion code" />
                                            <p><%= coupon.c_promocode %></p>
                                            <div class="btn clearfix">
                                              <a href="<%= coupon.c_link %>">Apply Now</a>
                                              <a href="/coupons/<%= coupon.id %>">Code Detail</a>
                                            </div>
                                            <% if coupon.c_spare_01.present? %>
                                              <span><img class="see_code_notice" src="<%=asset_path 'exp.png' %>" alt="expried" />Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                                            <% end %>
                                          </ul>
                                        </li>
                                  </ul> -->
                                </div>
                              <% end %>
                            <% else %>
                              <p class="code_price"><%= number_to_currency(coupon.c_is_price) %></p>
                            <% end %>


                            <!-- <p class="rating"><em>more than <%= coupon.c_review_count %> people rated it.</em></p> -->
                            <!--
                            <% if coupon.c_promocode.present? %>
                              <p class="dec">
                                On sale for           
                                <strong><%= number_to_currency(promocode_price) %></strong> by <strong><%= number_to_percentage(coupon.c_pct, precision: 0) %> off</strong> the price with Promo Code.
                              </p>
                            <% else %>
                             <p class="dec">
                                On sale for           
                                <strong><%= number_to_currency(coupon.c_is_price) %></strong> by <strong><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</strong> the price.
                              </p>
                            <% end %>
                            -->

                            <!-- <div class="btn_box">
                              <a href="/coupons/<%= coupon.id %>">btn</a>
                            </div> -->
                            

                            <% if current_user && current_user.admin %>
                              <div class="admin_controller">
                                <%= link_to 'Edit', edit_coupon_path(coupon) %>
                                <%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
                                <% if coupon.c_spare_01.present? %>
                                  valid until <%= coupon.c_spare_01 %> / <%= coupon.c_spare_02 %> / 2022
                                <% end %>
                              </div>
                            <% end %>
                          </div>


                          <div class="img_box">
                            <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title, :class => 'main_img'), coupon %>

                            <% if coupon.c_promocode.present? %>
                              <span><%= number_to_percentage(coupon.c_pct, precision: 0) %> </span>
                            <% else %>
                              <span><%= number_to_percentage(hotdeal_pct, precision: 0) %> </span>
                            <% end %>

                            <% if current_user && current_user.admin %>
                              <div class="used_it">
                                <p><%= coupon.hits %> People Checked.</p>
                              </div>
                            <% end %>

                       
                          </div>

                        </div><!-- n_coupon_card -->
                      </div><!-- wrapper -->
                    
                <% end %>

            </div>
          </div>



          <%= raw pagy_nav(@pagy) %>
        </div>
    <!-- < render 'coupons/tab_bar' > -->
    </div><!-- right -->
  <% end %>
</div>

<%= javascript_pack_tag 'coupon_index_menu' %>
<!-- Search Filter. -->
<script type="text/javascript">
  function searchFilter(e){
      // Make search case insensitive
      search = e.value.toLowerCase();
      // each company div's inner text is checked for a match
    console.log(document.querySelectorAll('.company'))
      document.querySelectorAll('.company').forEach(function(company){
          text = company.innerText.toLowerCase();
          if(text.match(search)){
              company.style.display="block"
          } else {
              company.style.display="none";
          }
      })

  }

  for (var i = 0 ; i < 30; i++) {
    var newDiv = document.createElement("div");
    var newContent = document.createTextNode(
      faker.company.companyName()
    );
    newDiv.className = "company"
    // add the text node to the newly created div
    newDiv.appendChild(newContent);
    
    var currentDiv = document.getElementById("wrapper"); 
    // append each company
    currentDiv.parentNode.insertBefore(newDiv, currentDiv.nextSibling);
  }
</script>

<%= javascript_pack_tag 'view_promotion_code' %>


<script type="text/javascript">
  $(function() {
  // Amount of scrolling before button is shown/hidden.
  var offset = 100;

  // Fade duration
  var duration = 500;

  // Toggle view of button when scrolling.
  $(window).scroll(function() {
    if ($(this).scrollTop() > offset) {
      $('#c-go-top').fadeIn(duration);
    } else {
      $('#c-go-top').fadeOut(duration);
    }
  });

  // Scroll to top when button is clicked.
  $('#c-go-top').click(function(event) {
    event.preventDefault();
    $('html, body').animate({
      scrollTop: 0
    }, duration);
    return false;
  });
});
</script>
