<div class="web_box clearfix">
  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <div class="right">

    <header><%= render 'shared/header_show' %></header>
    <div class="show-wrap">
      

        <div class="container clearfix">

          <div class="content-section clearfix">
            <% if current_user && current_user.admin %>
              <div class="sharing_btn">
                <a href="/" data-turbolinks="false">Back</a>
                <%= link_to 'New Coupon', new_coupon_path %>
                <%= render 'coupons/sharing_sns' %>
                <button id="facebook_btn">FBcopy</button>
                <button class="btn-default js-copybtn"><span class="glyphicon glyphicon-copy"></span> TWcopy </button>
              </div>
            <% end %>

            <!-- for Mobile -->
            <div class="title_mobile">
              <h2 class="line-break-02">
                <% promo_price = 0 %>
                <% promo_price = (@coupon.c_pct.to_f / 100) * @coupon.c_was_price %>
                Amazon.com has "<%= @coupon.c_title %>" on sale for
                <% if @coupon.c_promocode.present? %>
                  <% pct_coupon = 0 %>
                  <% pct_coupon = (@coupon.c_spare_61.to_f / 100) * @coupon.c_was_price %>
                  <% total_price = 0 %>
                  <% total_price = @coupon.c_was_price - promo_price %>
                  <% total_price_pct_coupon = total_price - pct_coupon %>
                  <% total_price_cash_coupon = total_price - @coupon.c_spare_62.to_f %>

                  <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
                    <% if @coupon.c_spare_61.present? %>
                      <em class="show_price"><%= number_to_currency(total_price_pct_coupon) %> after Promotion Code: <em class="show_code"><%= @coupon.c_promocode %></em> & Clipping Coupon.</em>
                    <% else %>
                      <em class="show_price"><%= number_to_currency(total_price_cash_coupon) %> after Promotion Code: <em class="show_code"><%= @coupon.c_promocode %></em> & Clipping Coupon.</em>
                    <% end %>
                  <% else %>
                    <!-- only for promotion code -->
                    <em class="show_price"><%= number_to_currency(total_price.to_f) %> after Promotion Code: <em class="show_code"><%= @coupon.c_promocode %></em></em>
                  <% end %>
                  <em>(Shipping is free. w/ Prime or on $25+ orders.)</em>
                <% else %>
                  <em class="show_price"><%= number_to_currency(@coupon.c_is_price) %>.</em> Shipping is free. w/ Prime or on $25+ orders.
                <% end %>

                <div class="rating_box">
                    <% if current_user && current_user.admin %><%= @coupon.c_rating %> <%= @coupon.c_review_count %>+<% end %>
                </div>
             
              </h2>

            </div>
            <!-- End Mobile -->

            <!-- For PC -->
            <div class="image-box clearfix">
              <img src="<%= @coupon.c_image %>" alt="<%= @coupon.c_title %>" title="<%= @coupon.c_title %>" />
            </div>

            <div class="inner-box clearfix">
              

              <div class="title">
                <h2 class="line-break-02">
                  <% promo_price = 0 %>
                  <% promo_price = (@coupon.c_pct.to_f / 100) * @coupon.c_was_price %>
                  Amazon.com has <em>"<%= @coupon.c_title %>"</em> on sale for
                  

                  <% if @coupon.c_promocode.present? %>
                    <% total_price = 0 %>
                    <% total_price = @coupon.c_was_price - promo_price %>
                    <em class="price"><%= number_to_currency(total_price) %>.</em> Shipping is free. w/ Prime or on $25+ orders.
                  <% else %>
                    <em class="price"><%= number_to_currency(@coupon.c_is_price) %>.</em> Shipping is free. w/ Prime or on $25+ orders.
                  <% end %>
                </h2>


                <% if @coupon.c_rating.present? %>
                  <div class="rating_box">
                    <% if current_user && current_user.admin %><%= @coupon.c_rating %> <%= @coupon.c_review_count %>+<% end %>
                  </div>            
                <% end %>

              </div>
              <h2 class="summary_title">
                SUMMARY
                <p class="posted_date">Found by Editor: <%= @coupon.created_at.strftime("#{@coupon.created_at.day.ordinalize} %B %Y") %></p>
                <% if @coupon.c_spare_01.present? %>
                  <div class="more_detail clearfix">
                    <div class="detail_card cleafix">
                        <div class="detail_box">
                          <p>🔢 Code</p>
                          <span class="verified">✅</span>
                          <span class="veri_span">verified</span>
                        </div>
                        <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
                          <div class="detail_box">
                            <p>🎟️ Coupon</p>
                            <span class="verified">✅</span>
                            <span class="veri_span">verified</span>
                          </div>
                        <% end %>
                        <div class="detail_box">
                          <p>⭐ Ratings</p>
                          <% if @coupon.c_rating.present? %>
                             <div class="rating_card">
                                <% if @coupon.c_spare_58 == 50 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_5.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% elsif @coupon.c_spare_58 == 45 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_45.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% elsif @coupon.c_spare_58 == 40 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_4.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% elsif @coupon.c_spare_58 == 35 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_35.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% elsif @coupon.c_spare_58 == 30 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_3.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% end %>
                              </div>
                            <% end %>
                        </div>
                        <div class="detail_box">
                          <p>📝 Review</p>
                          <span class="review"><%= @coupon.c_review_count %> +</span>
                        </div>
                        <div class="detail_box">
                          <p>🗓️ EXP</p>
                          <span><%= @coupon.c_spare_01 %>/<%= @coupon.c_spare_02 %></span>
                        </div>
                    </div><!-- detail_card -->
                  </div><!-- more_detail -->  
                <% else %>
                  <div class="more_detail clearfix">
                    <div class="detail_card cleafix">
                        <div class="detail_box no_date">
                          <p>🏷 Code</p>
                          <span class="verified">✅</span>
                          <span class="veri_span">verified</span>
                        </div>
                        <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
                          <div class="detail_box no_date">
                            <p>🎟️ Coupon</p>
                            <span class="verified">✅</span>
                            <span class="veri_span">verified</span>
                          </div>
                        <% end %>
                        <div class="detail_box no_date">
                          <p>⭐ Ratings</p>
                          <% if @coupon.c_rating.present? %>
                             <div class="rating_card">
                                <% if @coupon.c_spare_58 == 50 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_5.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% elsif @coupon.c_spare_58 == 45 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_45.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% elsif @coupon.c_spare_58 == 40 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_4.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% elsif @coupon.c_spare_58 == 35 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_35.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% elsif @coupon.c_spare_58 == 30 %>
                                  <div clas="rating_box">
                                    <img src="<%=asset_path 'star_3.png' %>" alt="star_rating">
                                    <span><%= @coupon.c_rating %></span> 
                                  </div>
                                <% end %>
                              </div>
                            <% end %>
                        </div>
                        <div class="detail_box no_date">
                          <p>📝 Review</p>
                          <span class="review"><%= @coupon.c_review_count %> +</span>
                        </div>
                    </div><!-- detail_card -->
                  </div><!-- more_detail -->  
                <% end %>
                
                


              </h2>

               

              <div class="receipt clearfix">
                <!-- Button Section - Text(left) -->
                <div class="receipt__grid1">
                  <p>List Price</p>
                  <% if @coupon.c_promocode.present? %>
                    <p>Code Savings<em><%= number_to_percentage(@coupon.c_pct, precision: 0) %> off</em></p>            
                    <!-- <p>Promotion Code</p> -->
                  <% else %>
                    <% hotdeal_pct = 0 %>
                    <% hotdeal_pct =  (@coupon.c_was_price - @coupon.c_is_price) / @coupon.c_was_price * 100 %>
                    <p>Discount<em><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</em></p>            
                  <% end %>

                  <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
                    <% if @coupon.c_spare_61.present? %>
                      <p>Coupon Savings<em><%= number_to_percentage(@coupon.c_spare_61, precision: 0) %> off</em></p>
                    <% else %>
                      <p>Coupon Savings<em><%= number_to_currency(@coupon.c_spare_62, precision: 0) %> off</em></p>
                    <% end %>
                    
                  <% end %>

                  <hr>

                  <p class="total_text">Total</p>
                </div>

                <!-- Summary Section - Price(right) -->
                <div class="receipt__grid2">
                  <p><%= number_to_currency(@coupon.c_was_price) %></p>
                  <% if @coupon.c_promocode.present? %>
                    <% promo_price = 0 %>
                    <% promo_price = (@coupon.c_pct.to_f / 100) * @coupon.c_was_price %>
                    <p>- <%= number_to_currency(promo_price) %></p>
                    <!-- <p class="p-code"><%= @coupon.c_promocode %></p> -->
                  <% else %>
                    <% sale_price = 0 %>
                    <% sale_price = ( hotdeal_pct / 100 ) * @coupon.c_was_price %>
                    <p>- <%= number_to_currency(sale_price) %></p>  
                  <% end %>

                  <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
                    <% pct_coupon = 0 %>
                    <% pct_coupon = (@coupon.c_spare_61.to_f / 100) * @coupon.c_was_price %>
                    <% if @coupon.c_spare_61.present? %>
                      <p>- <%= number_to_currency(pct_coupon) %></p>
                    <% else %>
                      <p>- <%= number_to_currency(@coupon.c_spare_62) %></p>
                    <% end %>
                  <% end %>


                  <hr>
                  <!-- Total Price -->
                  <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
                    <% if @coupon.c_spare_61.present? %>
                      <% if @coupon.c_promocode.present? %>
                        <% total_price = 0 %>
                        <% total_price = @coupon.c_was_price - promo_price %>
                        <% total_price_pct_coupon = total_price - pct_coupon %>
                        <p class="total_price "><%= number_to_currency(total_price_pct_coupon) %></p> 
                      <% else %>
                        <p class="total_price "><%= number_to_currency(@coupon.c_is_price) %></p> 
                      <% end %>

                    <% else %>
                       <% if @coupon.c_promocode.present? %>
                        <% total_price = 0 %>
                        <% total_price = @coupon.c_was_price - promo_price %>
                        <% total_price_cash_coupon = total_price - @coupon.c_spare_62 %>
                        <p class="total_price "><%= number_to_currency(total_price_cash_coupon) %></p> 
                      <% else %>
                        <p class="total_price "><%= number_to_currency(@coupon.c_is_price) %></p> 
                      <% end %>                    
                    <% end %>

                  <% else %>
                    <% if @coupon.c_promocode.present? %>
                      <% total_price = 0 %>
                      <% total_price = @coupon.c_was_price - promo_price %>
                      <p class="total_price "><%= number_to_currency(total_price) %></p> 
                    <% else %>
                      <p class="total_price "><%= number_to_currency(@coupon.c_is_price) %></p> 
                    <% end %>
                  <% end %>
                  <!-- Total Price End-->       
                </div>
              </div>

              <% if current_user && current_user.admin %>
                <!-- for instagram feed -->
                <p>👉"<%= @coupon.c_title %>"</em> on sale for <%= number_to_currency(total_price) %>... 💥(<%= number_to_percentage(@coupon.c_pct, precision: 0) %> OFF), ⭐Rating:<%= @coupon.c_rating %>, 📃Reviews: <%= @coupon.c_review_count %>+ </p>
              <% end %>


              <!-- Button Section -->

              <div class="btn clearfix">
                <% if @coupon.c_promocode.present? %>
                  <% btn_price = @coupon.c_was_price.to_f - total_price.to_f %>
                  <% btn_pct_price = @coupon.c_was_price.to_f - total_price_pct_coupon.to_f %>
                  <% btn_cash_price = @coupon.c_was_price.to_f - total_price_cash_coupon.to_f %>

                  <p> *Apply this code at checkout with a single click.</p>
                  <a class="amz_btn" href="/coupons">Back</a>

                  <div class="pc_btn">
                    <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
                      <% if @coupon.c_spare_61.present? %>
                        <a class="amz_btn buy_now" target="_blank" href="<%= @coupon.c_link %>">Save <%= number_to_currency(btn_pct_price) %> Now!</a>
                      <% else %>
                        <a class="amz_btn buy_now" target="_blank" href="<%= @coupon.c_link %>">Save <%= number_to_currency(btn_cash_price) %> Now!</a>
                      <% end %>
                    <% else %>
                      <a class="amz_btn buy_now" target="_blank" href="<%= @coupon.c_link %>">Save <%= number_to_currency(btn_price) %> Now!</a>
                    <% end %>
                  </div>

                  <div class="mobile_btn">
                    <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
                      <% if @coupon.c_spare_61.present? %>
                        <a class="amz_btn buy_now" href="<%= @coupon.c_link %>">Save <%= number_to_currency(btn_pct_price) %> Now!</a>
                      <% else %>
                        <a class="amz_btn buy_now" href="<%= @coupon.c_link %>">Save <%= number_to_currency(btn_cash_price) %> Now!</a>
                      <% end %>
                    <% else %>
                      <a class="amz_btn buy_now" href="<%= @coupon.c_link %>">Save <%= number_to_currency(btn_price) %> Now!</a>
                    <% end %>
                  </div>
                  
                <% else %>
                  <a class="amz_btn" href="/coupons">Back</a>
                  <a class="amz_btn buy_now" target="_blank" href="<%= @coupon.c_link %>">Accept an offer</a>
                <% end %>
              </div>

              <div class="notice">
                <p>"Offtheprice" is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com,</p>
              </div>

              <% if current_user && current_user.admin %>
                <div class="admin">
                  <p><%= render_with_chashtags(@coupon.c_hashtag) %></p>
                  <%= link_to 'Edit', edit_coupon_path(@coupon) %> |
                  <%= link_to 'Back', coupons_path %> |
                  <%= link_to 'Destroy', @coupon, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>

            </div>
            <!-- End PC -->
          </div><!-- ./content-section-->

          <div class="search_ads">
            <script type="text/javascript">
              amzn_assoc_placement = "adunit0";
              amzn_assoc_search_bar = "false";
              amzn_assoc_tracking_id = "3628-20";
              amzn_assoc_ad_mode = "search";
              amzn_assoc_ad_type = "smart";
              amzn_assoc_marketplace = "amazon";
              amzn_assoc_region = "US";
              amzn_assoc_title = "Shop Related Products";
              amzn_assoc_default_search_phrase = "<%= @coupon.c_title %>";
              amzn_assoc_default_category = "All";
              amzn_assoc_linkid = "39e9aa3ca8ca9df980c22e602066352e";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
          </div>
          

          <% if current_user && current_user.admin %>
              <div class="sharing_ctn">
               <div class="sharing facebook clearfix"">
                <span id="facebook_ctn">
                  <p>Available at Amazon NOW!!</p>
                  <p class="share_title"><%= @coupon.c_title %></p>
                  <% if @coupon.c_promocode.present? %>
                    <p>Star Rating: <%= @coupon.c_rating %></p>
                    <p>Reviews: <%= @coupon.c_review_count %> +</p>
                    <p>Offer: <%= number_to_currency(total_price) %> (<%= number_to_percentage(@coupon.c_pct, precision: 0) %> off)</p>
                    <p>Was: <%= number_to_currency(@coupon.c_was_price) %></p>
                    <p>You can save <%= number_to_currency(promo_price) %> by Promo Code: <%= @coupon.c_promocode %>  / Shipping is free w/Prime or on $25+</p>
                    <p>#amazondeals #amazoncoupons #amazonpromocode #coupons #promocode</p>
                  <% else %>
                    <p>Offer: <%= number_to_currency(@coupon.c_is_price) %> (<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</p>
                    <p>Was: <%= number_to_currency(@coupon.c_was_price) %></p>
                    <p>You can save <%= number_to_currency(sale_price) %> / Shipping is free w/Prime or on $25+</p>
                    <p>#amazondeals #amazoncoupons #amazonpromocode #coupons #promocode</p>
                  <% end %>
                  
                </span>
              </div>
              <hr>
              <div class="sharingt witter-container clearfix"">
                 <span class="js-copytext"> 
                  <div class="sharing">

                    <p>Available at Amazon NOW!!</p>

                    <% if @coupon.c_promocode.present? %>
                      <p>Offer: <%= number_to_currency(total_price) %> (<%= number_to_percentage(@coupon.c_pct, precision: 0) %> off)</p>
                      <p>Was: <%= number_to_currency(@coupon.c_was_price) %></p>
                      <p>You can save <%= number_to_currency(promo_price) %> by Promo Code: <%= @coupon.c_promocode %>  / Shipping is free w/Prime or on $25+</p>
                      <p>http://hotdealful.com/coupons/<%=(params[:id]) %></p>
                      <p>#amazondeals #amazoncoupons #amazonpromocode #coupons #promocode</p>
                    <% else %>
                      <p>Offer: <%= number_to_currency(@coupon.c_is_price) %> (<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</p>
                      <p>Was: <%= number_to_currency(@coupon.c_was_price) %></p>
                      <p>You can save <%= number_to_currency(sale_price) %> / Shipping is free w/Prime or on $25+</p>
                      <p>http://hotdealful.com/coupons/<%=(params[:id]) %></p>
                      <p>#amazondeals #amazoncoupons #amazonpromocode #coupons #promocode</p>
                    <% end %>

                  </div>
                </span>
              </div>
            </div><!--/.sharing_ctn -->
          <% end %>

        </div><!--./container-->

        <!-- <div class="back_btn_mobile">
          <button type="reset" onclick="goBack()"><img class="go_back" src="<%=asset_path 'back_btn.png' %>" alt="뒤로가기" /></button>
          <script>
            function goBack() {
              window.history.back();
              // window.history.replaceState({}, '','/coupons');/
            }
          </script>
        </div> -->

      
    </div>

  </div>

</div>






<script type="text/javascript">
  const textElement = document.getElementById("facebook_ctn");
  const copyButton = document.getElementById("facebook_btn");
  const copyText = (e) => {
    window.getSelection().selectAllChildren(textElement);
    document.execCommand("copy");
  };
  copyButton.addEventListener("click", (e) => copyText(e));
  copyButton.addEventListener("mouseover", (e) => resetTooltip(e));
</script>


<script type="text/javascript">
  var copyBtn = document.querySelector('.js-copybtn');
  if (copyBtn) {
      copyBtn.addEventListener('click', function(event) {
          var copyText= document.querySelector('.js-copytext');
          var range = document.createRange();
          range.selectNode(copyText);
          window.getSelection().addRange(range);
          try {
              var successful = document.execCommand('copy');
              var msg = successful ? 'successful' : 'unsuccessful';
          } catch(err) {

          }
          window.getSelection().removeAllRanges();
      });
  }
</script>

<!-- Accordion Menu -->
<script type="text/javascript">
  $('.accordion-item .heading').on('click', function(e) {
      e.preventDefault();

      // Add the correct active class
      if($(this).closest('.accordion-item').hasClass('active')) {
          // Remove active classes
          $('.accordion-item').removeClass('active');
      } else {
          // Remove active classes
          $('.accordion-item').removeClass('active');

          // Add the active class
          $(this).closest('.accordion-item').addClass('active');
      }

      // Show the content
      var $content = $(this).next();
      $content.slideToggle(100);
      $('.accordion-item .content').not($content).slideUp('fast');
  });
</script>


<script type="text/javascript">
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "3628-20";
    amzn_assoc_linkid = "5d1280310b0d9d68b1e3a70f179566ab";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
</script>
<script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>