<!-- <p id="notice"><%= notice %></p> -->

<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <% if @search_term.present? %>
    <div class="right">

      <div class="index_wrap">
        <header><%= render 'coupons/header_index' %></header>

          <div class="pic_deal clearfix">
            <div class="card_wrap n_coupon_wrap">
                <!-- <h2>Promotion Codes</h2> -->


                <div class="menu-wrapper when_search_term">
                  <div class="menu-item">
                    <a href="/coupons">All</a>
                    <a href="/coupons/chashtag/electronics">Electronics</a>
                    <a href="/coupons/chashtag/fashion">Fashion</a>
                    <a href="/coupons/chashtag/beauty">Beauty</a>
                    <a href="/coupons/chashtag/cellphone_accessories">Cell Phone&Accessories</a>
                    <a href="/coupons/chashtag/home_kitchen">Home&Kitchen</a>
                    <a href="/coupons/chashtag/groceries">Groceries</a>
                    <a href="/coupons/chashtag/sports_outdoor">Sports&Outdoor</a>
                    <a href="/coupons/chashtag/pet_supplies">Pet Supplies</a>
                    <a href="/coupons/chashtag/health_household">Health&Household</a>
                    <a href="/coupons/chashtag/automotive">Automotive</a>
                    <a href="/coupons/chashtag/baby_products">Baby</a>
                    <a href="/coupons/chashtag/tools_home_improvement">Home Improvemnts</a>
                    <a href="/coupons/chashtag/patio_lawn_garden">Patio&Lawn&Garden</a>
                    <a href="/coupons/chashtag/toys_games">Toys&Games</a>
                    <a href="/coupons/chashtag/video_games">Video Games</a>
                    <a href="/coupons/chashtag/office_products">Office Products</a>
                    <a href="/coupons/chashtag/musical_instruments">Msical Instruments</a>
                  </div> 
                  <span class="pointer left-pointer dis">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                  <span class="pointer right-pointer">
                    <i class="fa fa-chevron-right"></i>
                  </span>
                </div>

                <div class="search_filter_comm">
                  <!-- <div id="wrapper">
                    <input type="text" onkeyup="searchFilter(this)" placeholder="Search..."/>
                  </div> -->
                  <%= form_for "",url: coupons_path, role: "search", method: :get do %>
                    <%= text_field_tag :search, @search_term, placeholder: "Search....", class: 'search-input' %>
                  <% end %> 
                </div>

                  <div class="index_main_wrap">
                    <div class="card_ctn_wrap clearfix">

                        <% @coupons.each do |coupon| %>
                          <div class="card_ctn_box">
                            <% promocode_price = 0 %>
                            <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
                            <% hotdeal_pct = 0 %>
                            <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>


                            <div class="img_box">
                              <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title, :class => 'main_img'), coupon %>
                            </div>

                            <div class="inner">
                              <% if coupon.c_promocode.present? %>
                                <div class="saving_type clearfix">
                                  
                                  <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                    <span>Code Saving <em>- <%= number_to_percentage(coupon.c_pct, precision: 0) %></em></span>
                                    <% if coupon.c_spare_61.present? %>
                                      <span>Coupon<em>- <%= number_to_percentage(coupon.c_spare_61, precision: 0) %></em></span>
                                    <% else %>
                                      <span>Coupon<em><%= number_to_currency(coupon.c_spare_62, precision: 0) %></em></span>
                                    <% end %>
                                  <% else %>
                                    <span class="only_code">Code Saving <em>- <%= number_to_percentage(coupon.c_pct, precision: 0) %></em></span>
                                  <% end %>
                                  
                                </div>
                              <% end %>
                              
                              <p class="two_sentences"><%= coupon.c_title %></p>
                              <div class="pricing">
                                <% total_save = 0 %>
                                <% pct_coupon = 0 %>
                                <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
                                <% total_price_pct_coupon = promocode_price - pct_coupon %>
                                <% total_price_cash_coupon = promocode_price - coupon.c_spare_62.to_f %>

                                <% if coupon.c_promocode.present? %>
                                  <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                    <% if coupon.c_spare_61.present? %>
                                      <span class="is_price"><%= number_to_currency(total_price_pct_coupon) %></span>
                                      <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                    <% else %>
                                      <span class="is_price"><%= number_to_currency(total_price_cash_coupon) %></span>
                                      <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                    <% end %>

                                  <% else %>
                                    <span class="is_price"><%= number_to_currency(promocode_price) %></span>
                                    <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                  <% end %>
                                <% end %>
                                
                              </div>

                            </div>
                          </div>
                        <% end %>

                    </div>
                  </div>

            </div>
          </div>

        </div>
    <!-- < render 'coupons/tab_bar' > -->
    </div><!-- right -->
  
  <% else %>
    <div class="right">

      <div class="index_wrap">
        <header><%= render 'coupons/header_index' %></header>

         <% if current_user && current_user.admin %>
            <div class="admin_btn">
              <%= link_to 'New Coupon', new_coupon_path %>
              <%= link_to 'New Post', new_post_path %>
              <%= link_to 'New Pick', new_pick_path %>
              <a href="/bridges/delete_coupons">Delete Coupons</a>
              <a href="/bridges/delete_hotdeals">Delete Posts</a>
              <a href="/bridges/share_ko">KOR</a>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </div>  
          <% end %>

          <!-- <div class="index_main_wrap">
            <div class="promo_title_index for_coupon_index"><h2><span>Amazon Promo Code Deals </span><br>For January 2023</h2></div>
          </div> -->
          
          
          <div class="pic_deal clearfix">
            <div class="card_wrap n_coupon_wrap">
                <!-- <h2>Promotion Codes</h2> -->

                <div class="search_filter_comm">
                  <!-- <div id="wrapper">
                    <input type="text" onkeyup="searchFilter(this)" placeholder="Search..."/>
                  </div> -->
                  <%= form_for "",url: coupons_path, role: "search", method: :get do %>
                    <%= text_field_tag :search, @search_term, placeholder: "Search....", class: 'search-input' %>
                  <% end %> 
                </div>



                <div class="menu-wrapper">
                  <div class="menu-item">
                    <a href="/coupons">All</a>
                    <a href="/coupons/chashtag/electronics">Electronics</a>
                    <a href="/coupons/chashtag/fashion">Fashion</a>
                    <a href="/coupons/chashtag/beauty">Beauty</a>
                    <a href="/coupons/chashtag/cellphone_accessories">Cell Phone&Accessories</a>
                    <a href="/coupons/chashtag/home_kitchen">Home&Kitchen</a>
                    <a href="/coupons/chashtag/groceries">Groceries</a>
                    <a href="/coupons/chashtag/sports_outdoor">Sports&Outdoor</a>
                    <a href="/coupons/chashtag/pet_supplies">Pet Supplies</a>
                    <a href="/coupons/chashtag/health_household">Health&Household</a>
                    <a href="/coupons/chashtag/automotive">Automotive</a>
                    <a href="/coupons/chashtag/baby_products">Baby</a>
                    <a href="/coupons/chashtag/tools_home_improvement">Home Improvemnts</a>
                    <a href="/coupons/chashtag/patio_lawn_garden">Patio&Lawn&Garden</a>
                    <a href="/coupons/chashtag/toys_games">Toys&Games</a>
                    <a href="/coupons/chashtag/video_games">Video Games</a>
                    <a href="/coupons/chashtag/office_products">Office Products</a>
                    <a href="/coupons/chashtag/musical_instruments">Msical Instruments</a>
                  </div> 
                  <span class="pointer left-pointer dis">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                  <span class="pointer right-pointer">
                    <i class="fa fa-chevron-right"></i>
                  </span>
                </div>

                

                <!-- < render 'coupons/our_pick' > -->

                <!-- <h2>Amazon Promo Codes for August 2022</h2> -->
                  <div class="index_main_wrap">
                    <div class="card_ctn_wrap clearfix">

                        <% @coupons.each do |coupon| %>
                          <div class="card_ctn_box">
                            <% promocode_price = 0 %>
                            <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
                            <% hotdeal_pct = 0 %>
                            <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>


                            <div class="img_box">
                              <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title, :class => 'main_img'), coupon %>
                            </div>

                            <div class="inner">
                              <% if coupon.c_promocode.present? %>
                                <div class="saving_type clearfix">
                                  
                                  <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                    <span>Code Saving <em>- <%= number_to_percentage(coupon.c_pct, precision: 0) %></em></span>
                                    <% if coupon.c_spare_61.present? %>
                                      <span>Coupon Saving <em>- <%= number_to_percentage(coupon.c_spare_61, precision: 0) %></em></span>
                                    <% else %>
                                      <span>Coupon Saving <em><%= number_to_currency(coupon.c_spare_62, precision: 0) %></em></span>
                                    <% end %>
                                  <% else %>
                                    <span class="only_code">Code Saving <em>- <%= number_to_percentage(coupon.c_pct, precision: 0) %></em></span>
                                  <% end %>
                                  
                                </div>
                              <% end %>
                              
                              <p class="two_sentences"><%= coupon.c_title %></p>
                              <div class="pricing">
                                <% total_save = 0 %>
                                <% pct_coupon = 0 %>
                                <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
                                <% total_price_pct_coupon = promocode_price - pct_coupon %>
                                <% total_price_cash_coupon = promocode_price - coupon.c_spare_62.to_f %>

                                <% if coupon.c_promocode.present? %>
                                  <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                    <% if coupon.c_spare_61.present? %>
                                      <span class="is_price"><%= number_to_currency(total_price_pct_coupon) %></span>
                                      <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                    <% else %>
                                      <span class="is_price"><%= number_to_currency(total_price_cash_coupon) %></span>
                                      <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                    <% end %>

                                  <% else %>
                                    <span class="is_price"><%= number_to_currency(promocode_price) %></span>
                                    <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                  <% end %>
                                <% end %>
                                
                              </div>

                            </div>
                          </div>
                        <% end %>

                    </div>
                  </div>

            </div>
          </div>



          <%= raw pagy_nav(@pagy) %>
        </div>
    <!-- < render 'coupons/tab_bar' > -->
    </div><!-- right -->
  <% end %>
</div>

<%= javascript_pack_tag 'coupon_index_menu' %>
<!-- Search Filter. -->
<script type="text/javascript">
  function searchFilter(e){
      // Make search case insensitive
      search = e.value.toLowerCase();
      // each company div's inner text is checked for a match
    console.log(document.querySelectorAll('.company'))
      document.querySelectorAll('.company').forEach(function(company){
          text = company.innerText.toLowerCase();
          if(text.match(search)){
              company.style.display="block"
          } else {
              company.style.display="none";
          }
      })

  }

  for (var i = 0 ; i < 30; i++) {
    var newDiv = document.createElement("div");
    var newContent = document.createTextNode(
      faker.company.companyName()
    );
    newDiv.className = "company"
    // add the text node to the newly created div
    newDiv.appendChild(newContent);
    
    var currentDiv = document.getElementById("wrapper"); 
    // append each company
    currentDiv.parentNode.insertBefore(newDiv, currentDiv.nextSibling);
  }
</script>

<%= javascript_pack_tag 'view_promotion_code' %>


<script type="text/javascript">
  $(function() {
  // Amount of scrolling before button is shown/hidden.
  var offset = 100;

  // Fade duration
  var duration = 500;

  // Toggle view of button when scrolling.
  $(window).scroll(function() {
    if ($(this).scrollTop() > offset) {
      $('#c-go-top').fadeIn(duration);
    } else {
      $('#c-go-top').fadeOut(duration);
    }
  });

  // Scroll to top when button is clicked.
  $('#c-go-top').click(function(event) {
    event.preventDefault();
    $('html, body').animate({
      scrollTop: 0
    }, duration);
    return false;
  });
});
</script>
