<main>
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Popular Coupons Top 10</label>
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Popular Deals Top 10</label>

  <section id="content1" class="trend_comm clearfix">
    <div id="profile-description">
      <div class="text show-more-height">
        <% @coupons_top.each_with_index do |coupon, i| %>          
            <div class="coupon_card clearfix">
              <div class=img_box>
                <span class="trend_title"><%= i + 1 %>. <%= link_to coupon.c_title, coupon %></span>
              </div>
              <div class="inner">
                <% promocode_price = 0 %>
                <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
                <em class="pricing"><span class="is_price"><%= number_to_currency(promocode_price) %></span><span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span><span class="pct"><%= number_to_percentage(coupon.c_pct, precision: 0) %> off</span> <% if current_user && current_user.admin %><span class="view"><%= coupon.hits %></span><% end %></em>
                
              </div>
            </div>
        <% end %>
      </div>
      <div class="show-more">Show More</div>
    </div>
      
    
  </section>

  <section id="content2" class="trend_comm clearfix">
    <div id="profile-description">
      <div class="text show-more-height">
        <% @deals_top.each_with_index do |deals, i| %>
          <div class="coupon_card clearfix">
            <div class=img_box>
              <span class="trend_title"><%= i + 1 %>. <%= link_to deals.title, deals %></span>
            </div>
            <div class="inner">
              <% hotdeal_pct = 0 %>
              <% hotdeal_pct =  (deals.was_price.to_f - deals.is_price.to_f) / deals.was_price.to_f * 100 %>
              <em class="pricing"><span class="is_price"><%= number_to_currency(deals.is_price) %></span><span class="was_price"><%= number_to_currency(deals.was_price) %></span><span class="pct"><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</span> <% if current_user && current_user.admin %><span class="view"><%= deals.hits %></span><% end %></em></em>
            </div>
          </div>
        <% end %>
      </div>
      <div class="show-more">Show More</div>
    </div>
  </section>

</main>


<!-- Show more/less -->
<script type="text/javascript">
  $(".show-more").click(function () {
    if($(".text").hasClass("show-more-height")) {
        $(this).text("Show Less");
    } else {
        $(this).text("Show More");
    }

    $(".text").toggleClass("show-more-height");
  });
</script>