<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <div class="right">
    <div class="index_wrap">
      <header><%= render 'shared/header_index' %></header>

    
        <div class="pic_deal clearfix">
          <div class="card_wrap n_coupon_wrap">
              <!-- <h2>Promotion Codes</h2> -->

              <div class="menu-wrapper">
                <div class="menu-item">
                  <a href="/coupons/chashtag/electronics">Electronics</a>
                  <a href="/coupons/chashtag/fashion">Fashion</a>
                  <a href="/coupons/chashtag/beauty">Beauty</a>
                  <a href="/coupons/chashtag/automotive">Automotive</a>
                  <a href="/coupons/chashtag/cellphone_accessories">Cell Phone&Accessories</a>
                  <a href="/coupons/chashtag/home_kitchen">Home&Kitchen</a>
                  <a href="/coupons/chashtag/sports_outdoor">Sports&Outdoor</a>
                  <a href="/coupons/chashtag/pet_supplies">Pet Supplies</a>
                  <a href="/coupons/chashtag/health_household">Health&Household</a>
                  <a href="/coupons/chashtag/baby_products">Baby</a>
                  <a href="/coupons/chashtag/tools_home_mprovement">Home Improvemnts</a>
                  <a href="/coupons/chashtag/patio_lawn_garden">Patio&Lawn&Garden</a>
                  <a href="/coupons/chashtag/office_products">Office Products</a>
                  <a href="/coupons/chashtag/toys_games">Toys&Games</a>
                  <a href="/coupons/chashtag/video_games">Video Games</a>
                  <a href="/coupons/chashtag/musical_instruments">Msical Instruments</a>
                </div> 
                <span class="pointer left-pointer dis">
                  <i class="fa fa-chevron-left"></i>
                </span>
                <span class="pointer right-pointer">
                  <i class="fa fa-chevron-right"></i>
                </span>
              </div>

              <div class="where-hashtag">
                <% if params[:name].present? %>
                <h2><em>#<%= params[:name] %></em> Promotion Codes</h2>
                  <!-- <h2 class="line-title">#<%= params[:name] %> Promotion Codes</h2> -->
                  <!-- <p><span class="hashtag-through">#<%= params[:name] %></span></p> -->
                <% end %>
              </div>


              <% @coupons.each do |coupon| %>
                
                  <div class="n_coupon_card clearfix">
                    <% promocode_price = 0 %>
                    <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>

                    <% hotdeal_pct = 0 %>
                    <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>

                    <div class="inner">
                      <p class="posted_date">Found by Editor: <%= coupon.created_at.strftime("#{coupon.created_at.day.ordinalize} %B %Y") %></p>
                      <% if coupon.c_promocode.present? %>
                        <span class="label_code label">
                          Code Savings
                          <em><%= number_to_percentage(coupon.c_pct, precision: 0) %></em>
                        </span> 

                        <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                          <span class="label_coupon label">
                            Coupon Savings
                            <% if coupon.c_spare_61.present? %>
                              <em><%= number_to_percentage(coupon.c_spare_61, precision: 0) %></em>
                            <% else %>
                              <em><%= number_to_currency(coupon.c_spare_62, precision: 0) %> </em>
                            <% end %> 
                          </span>
                        <% end %>

                      <% else %>
                        <span class="label_deal label">Online Deal</span>
                      <% end %>
                      <p class="title"><%= coupon.c_title %></p>


                      <% if coupon.c_promocode.present? %>
                        <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                          <% total_save = 0 %>
                          <% pct_coupon = 0 %>
                          <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
                          <% total_price_pct_coupon = promocode_price - pct_coupon %>
                          <% total_price_cash_coupon = promocode_price - coupon.c_spare_62.to_f %>

                          <% if coupon.c_spare_61.present? %>
                            <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                            <p class="code_price"><%= number_to_currency(total_price_pct_coupon) %></p>
                            <div class="more_detail">
                              <% total_save = coupon.c_was_price - total_price_pct_coupon %>
                              <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em> off list price.</p>
                              <p class="verified">✅Code & Coupon verified!</p>
                              <% if coupon.c_spare_01.present? %>
                                <span class="exp_date">🗓Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                              <% end %>
                            </div>
                          <% else %>
                            <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                            <p class="code_price"><%= number_to_currency(total_price_cash_coupon) %></p>
                            <div class="more_detail">
                              <% total_save = coupon.c_was_price - total_price_cash_coupon %>
                              <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em> off list price.</p>
                              <p class="verified">✅Code & Coupon verified!</p>
                              <% if coupon.c_spare_01.present? %>
                                <span class="exp_date">🗓Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                              <% end %>
                            </div>
                          <% end %>
                          
                        <% else %>
                          <p class="list_price"><%= number_to_currency(coupon.c_was_price) %></p>
                          <p class="code_price"><%= number_to_currency(promocode_price) %></p>
                          <div class="more_detail">
                            <% total_save = coupon.c_was_price - promocode_price %>
                            <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em> off list price.</p>
                            <p class="verified">✅Code verified!</p>
                            <% if coupon.c_spare_01.present? %>
                              <span class="exp_date">🗓Valid until <%= coupon.c_spare_01 %>/<%= coupon.c_spare_02 %>/2022 at 11:59 PM PDT</span>
                            <% end %>
                          </div>
                        <% end %>
                      <% else %>
                        <p class="code_price"><%= number_to_currency(coupon.c_is_price) %></p>
                      <% end %>


                      <!-- <p class="rating"><em>more than <%= coupon.c_review_count %> people rated it.</em></p> -->
                      <!--
                      <% if coupon.c_promocode.present? %>
                        <p class="dec">
                          On sale for           
                          <strong><%= number_to_currency(promocode_price) %></strong> by <strong><%= number_to_percentage(coupon.c_pct, precision: 0) %> off</strong> the price with Promo Code.
                        </p>
                      <% else %>
                       <p class="dec">
                          On sale for           
                          <strong><%= number_to_currency(coupon.c_is_price) %></strong> by <strong><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</strong> the price.
                        </p>
                      <% end %>
                      -->

                      <!-- <div class="btn_box">
                        <a href="/coupons/<%= coupon.id %>">btn</a>
                      </div> -->
                      

                      <% if current_user && current_user.admin %>
                        <div class="admin_controller">
                          <%= link_to 'Edit', edit_coupon_path(coupon) %>
                          <%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                      <% end %>
                    </div>


                    <div class="img_box">
                      <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title, :class => 'main_img'), coupon %>

                      <% if coupon.c_promocode.present? %>
                        <span><%= number_to_percentage(coupon.c_pct, precision: 0) %> </span>
                      <% else %>
                        <span><%= number_to_percentage(hotdeal_pct, precision: 0) %> </span>
                      <% end %>

                      <!-- <div class="used_it">
                        <p><%= coupon.hits %> People Checked.</p>
                      </div> -->

                      <!-- 
                      <% if coupon.c_rating.present? %>
                       <div class="rating_card">
                          <% if coupon.c_spare_58 == 50 %>
                            <img src="<%=asset_path 'star_5.png' %>" alt="star_rating"/ style="width:80px;">
                          <% elsif coupon.c_spare_58 == 45 %>
                            <img src="<%=asset_path 'star_45.png' %>" alt="star_rating"/ style="width:78px;">
                          <% elsif coupon.c_spare_58 == 40 %>
                            <img src="<%=asset_path 'star_4.png' %>" alt="star_rating"/ style="width:65px;">
                          <% elsif coupon.c_spare_58 == 35 %>
                            <img src="<%=asset_path 'star_35.png' %>" alt="star_rating"/ style="width:63px;">
                          <% elsif coupon.c_spare_58 == 30 %>
                            <img src="<%=asset_path 'star_3.png' %>" alt="star_rating"/ style="width:50px;">
                          <% end %>
                        </div>
                      <% end %>
                     -->
                    
                    </div>
                  </div>
                
              <% end %>

              
            </div>
        </div>

        <!-- < raw pagy_nav(@pagy) > -->
      </div>
      <%= render 'coupons/tab_bar' %>
  </div><!-- right -->
</div>

<!-- scroll menu -->
<%= javascript_pack_tag 'coupon_index_menu' %>