<nav>
  <button class="search_btn"><img class="search" src="<%=asset_path 'bottom_nav_search.png' %>" alt="search" text="search" /></button>
  <h1><a href="/">HOTDEAL-FUL</a></h1>
  <input type="checkbox" id="nav" class="hidden"/>
  <label for="nav" class="nav-open"><i></i><i></i><i></i></label>


  <div class="nav-container">

      <ul class="submenu_pc">
        <p>Coupon Type</p>
        <li><a href="/"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> All</a></li>
        <li><a href="/posts/hashtag/online_sale"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> Online Sale</a></li>
        <li><a href="/posts/hashtag/promotion_code"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> Promotion Code</a></li>
        <li><a href="/bridges/under_deal"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> Under $10</a></li>
        <li><a href="/bridges/half_deal"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> 50% Off or more</a></li>
        <li><a href="/bridges/finder_detail"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="find more coupon" /> Find More Coupons</a></li>
        <!-- <li><a href="/picks"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> View Other Deals</a></li> -->
        <li><a href="/bridges/about_us"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="about us" /> About Us</a></li>
     
<!-- 
        <p>Categories</p>
        <li><a href="/"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> All</a></li>
        <li><a href="/posts/hashtag/electronics"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Electronics" /> Electronics</a></li>
        <li><a href="/posts/hashtag/homeware"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Homeware" /> Homeware</a></li>
        <li><a href="/posts/hashtag/kitchen"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Kitchen" /> Kitchen</a></li>
        <li><a href="/posts/hashtag/outdoor"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Outdoor" /> Outdoor</a></li>
        <li><a href="/posts/hashtag/fashion"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Fashion" /> Fashion</a></li>
        <li><a href="/posts/hashtag/beauty"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Beauty" /> Beauty</a></li>
        <li><a href="/posts/hashtag/pet_supplies"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Pet Supplies" /> Pet Supplies</a></li>      -->   
        
      </ul>
      
  </div>

</nav>