<nav>
  <!-- <div class="header_back">
    <% if current_page?("/bridges/new_coupon_section") %>
    <% elsif current_page?("/coupons") %>
      <a href="/"><img class="head_back_img" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" /></a>
    <% elsif current_page?("/picks") %>
      <a href="/"><img class="head_back_img" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" /></a>
    <% elsif current_page?("/bridges/finder_detail") %>
      <a href="/"><img class="head_back_img" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" /></a>
    <% end %>
  </div> -->
  

  <!-- <button class="search_btn"><img class="search" src="<%=asset_path 'search.png' %>" alt="search" text="search" /></button> -->
  <h1><a href="/">OFF THE PRICE</a></h1>
  <!-- <input type="checkbox" id="nav" class="hidden"/>
  <label for="nav" class="nav-open"><i></i><i></i><i></i></label> -->


 <!-- <div class="nav-container">
     <ul class="submenu_pc">
       <p>Deal Type</p>
       <li><a href="/"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> All</a></li>
       <li><a href="/coupons/chashtag/promotion_coupons"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" />Coupon Codes</a></li>
       <li><a href="/bridges/finder_detail"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="find more coupon" /> Find More Coupons</a></li>
       <li><a href="/bridges/about_us"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="about us" /> About Us</a></li>        
     </ul>
   </div> -->

   

</nav>
