<nav>
  <button class="search_btn"><img class="search" src="<%=asset_path 'bottom_nav_search.png' %>" alt="search" text="search" /></button>
  <h1><a href="/">HOTDEAL-FUL</a></h1>
  <input type="checkbox" id="nav" class="hidden"/>
  <label for="nav" class="nav-open"><i></i><i></i><i></i></label>


  <div class="nav-container">

      <ul class="submenu_pc">
        <p>Deal Type</p>
        <li><a href="/"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> All</a></li>
        <li><a href="/coupons/chashtag/online_sale"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> Online Sale</a></li>
        <li><a href="/coupons/chashtag/promotion_code"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> Promotion Code</a></li>
        <!-- <li><a href="/bridges/new_under_deal"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> Under $10</a></li>
        <li><a href="/bridges/new_half_deal"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> 50% Off or more</a></li> -->
        <li><a href="/bridges/finder_detail"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="find more coupon" /> Find More Coupons</a></li>
        <li><a href="/bridges/about_us"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="about us" /> About Us</a></li>

      </ul>
      
  </div>

</nav>