<div class="hotdeal_form">
  <%= simple_form_for(@saving) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div class="basic_info">
        <%= f.input :s_image %>
        <%= f.input :s_title %>
        <%= f.input :s_link %>
        <%= f.input :s_promocode %>
      </div>
      <div class="pricing clearfix">
        <%= f.input :s_rating %>
        <%= f.input :s_rating_code %>
        <%= f.input :s_review_count %>
        <%= f.input :s_is_price %>
        <%= f.input :s_was_price %>
        <%= f.input :s_pct %>
        <%= f.input :s_cash_coupon %>
        <%= f.input :s_pct_coupon %>
      </div>
      <%= f.input :s_description %>

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
  
