<!-- <p id="notice"><%= notice %></p> -->

<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>


  <div class="right">

      <div class="index_wrap">
        <header><%= render 'coupons/header_index' %></header>

        <div class="where-hashtag">
          <% if params[:name].present? %>
            <h2>Today's deals on <em>#<%= params[:name] %></em></h2>
          <% end %>
        </div>    
        <br/ >

          <div class="pideal_deal clearfix">
            <div class="card_wrap n_coupon_wrap">
                <!-- <h2>Promotion Codes</h2> -->

                <div class="menu-wrapper">
                  <div class="menu-item">
                    <a href="/hotdeals">All</a>
                    <a href="/hotdeals/dealhashtag/electronics">Electronics</a>
                    <a href="/hotdeals/dealhashtag/fashion">Fashion</a>
                    <a href="/hotdeals/dealhashtag/beauty">Beauty</a>
                    <a href="/hotdeals/dealhashtag/cellphone_accessories">Cell Phone&Accessories</a>
                    <a href="/hotdeals/dealhashtag/home_kitchen">Home&Kitchen</a>
                    <a href="/hotdeals/dealhashtag/groceries">Groceries</a>
                    <a href="/hotdeals/dealhashtag/sports_outdoor">Sports&Outdoor</a>
                    <a href="/hotdeals/dealhashtag/pet_supplies">Pet Supplies</a>
                    <a href="/hotdeals/dealhashtag/health_household">Health&Household</a>
                    <a href="/hotdeals/dealhashtag/automotive">Automotive</a>
                    <a href="/hotdeals/dealhashtag/baby_products">Baby</a>
                    <a href="/hotdeals/dealhashtag/tools_home_improvement">Home Improvemnts</a>
                    <a href="/hotdeals/dealhashtag/patio_lawn_garden">Patio&Lawn&Garden</a>
                    <a href="/hotdeals/dealhashtag/toys_games">Toys&Games</a>
                    <a href="/hotdeals/dealhashtag/video_games">Video Games</a>
                    <a href="/hotdeals/dealhashtag/office_products">Office Products</a>
                    <a href="/hotdeals/dealhashtag/musical_instruments">Msical Instruments</a>
                  </div> 
                  <span class="pointer left-pointer dis">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                  <span class="pointer right-pointer">
                    <i class="fa fa-chevron-right"></i>
                  </span>
                </div>

                  <div class="index_main_wrap">
                    <div class="card_ctn_wrap clearfix">

                        <% @hotdeals.each do |hotdeal| %>
                          <div class="card_ctn_box">
                            
                            <div class="img_box">
                              <%= link_to image_tag(hotdeal.deal_image, alt: hotdeal.deal_title, title: hotdeal.deal_title, :class => 'main_img'), hotdeal %>
                            </div>

                            <div class="inner">
                              <p class="two_sentences"><%= hotdeal.deal_title %></p>
                              <div class="pricing">
                               
                                
                              </div><!-- .pricing -->

                            </div>

                            <% if current_user && current_user.admin %>
                              <div class="admin">
                                <%= link_to 'Edit', edit_hotdeal_path(hotdeal) %> |
                                <%= link_to 'Destroy', hotdeal, method: :delete, data: { confirm: 'Are you sure?' } %>
                              </div>
                            <% end %>
                          </div>
                        <% end %>

                    </div>
                  </div>

            </div>
          </div>

        </div>
    <!-- < render 'coupons/tab_bar' > -->
    </div><!-- right -->

  <% if @search_term.present? %>
  <% else %>  
  <% end %>
</div>

<%= javascript_pack_tag 'coupon_index_menu' %>
