
  
  
  <% @onedays.each do |oneday| %>
    <% promocode_price = 0 %>
    <% promocode_price =  oneday.o_was_price.to_f - (oneday.o_pct.to_f / 100) * oneday.o_was_price.to_f %>
    <% hotdeal_pct = 0 %>
    <% hotdeal_pct =  (oneday.o_was_price.to_f - oneday.o_is_price.to_f) / oneday.o_was_price.to_f * 100 %>
    <% promo_price = 0 %>
    <% promo_price = (oneday.o_pct.to_f / 100) * oneday.o_was_price %>
    <% pct_oneday = 0 %>
    <% pct_oneday = (oneday.o_pct_coupon.to_f / 100) * oneday.o_was_price %>
    <% total_price = 0 %>
    <% total_price = oneday.o_was_price - promo_price %>
    <% total_price_pct_oneday = total_price - pct_oneday %>
    <% total_price_cash_oneday = total_price - oneday.o_cash_coupon.to_f %>


    <!--   <% if oneday.o_spare_66 && (oneday.o_spare_66 < DateTime.now) %>
        <% if oneday.o_spare_66 %>
          쿠폰이 만료 되었습니다.
          <%= oneday.o_spare_66 %><br>
          <%= DateTime.now %><br>
        <% end %>
      <% else %>
        <% if oneday.o_spare_66 %>
          쿠폰 사용이 가능합니다
          <%= oneday.o_spare_66 %><br>
          <%= DateTime.now %><br>
        <% end %>
      <% end %>
 -->
    <% if oneday.o_spare_66 && (oneday.o_spare_66 < DateTime.now) %>
      <!-- 만료 -->
      <% if oneday.o_spare_66 %>
        <% if current_user && current_user.admin %>  
          <p>할인코드가 만료되어 관리자 모드로 전환됨.</p>
          <% if oneday.o_image.present? %>
            <div class="oneday_wrap">
          
              <div class="one_day_box">
                
                <p class="title">TODAY ONLY</p>
              
                <div class="card clearfix">
                  <div class="img_box">
                    <!-- <img src="<%= oneday.o_image %>" alt="<%= oneday.o_title %>"> -->
                    <%= link_to image_tag(oneday.o_image, alt: oneday.o_title, title: oneday.o_title, :class => 'main_img'), oneday %>
                  </div>
                  <div class="inner">
                    <p><%= oneday.o_title %></p>

                    <div class="pricing">
                      <% if oneday.o_promocode.present? %>
                        <% if oneday.o_pct_coupon.present? || oneday.o_cash_coupon.present? %>
                          <% if oneday.o_pct_coupon.present? %>
                            <span><%= number_to_currency(oneday.o_was_price) %></span><em class="show_price"><%= number_to_currency(total_price_pct_oneday) %></em>
                          <% else %>
                            <span><%= number_to_currency(oneday.o_was_price) %></span><em class="show_price"><%= number_to_currency(total_price_cash_oneday) %></em>
                          <% end %>
                        <% else %>
                          <!-- only for promotion code -->
                          <span><%= number_to_currency(oneday.o_was_price) %></span><em class="show_price"><%= number_to_currency(total_price.to_f) %></em>
                        <% end %>
                      <% else %>
                        <span><%= number_to_currency(oneday.o_was_price) %></span><em class="show_price"><%= number_to_currency(oneday.o_is_price) %></em>
                      <% end %>
                    </div><!-- pricing -->

                    <%= link_to "--------------- Get Promo Code", oneday, :class => 'get_link' %>

                    <% if current_user && current_user.admin %>
                      <div class="admin_controller">
                        <%= link_to 'Edit', edit_oneday_path(oneday) %>
                        <%= link_to 'Destroy', oneday, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    <% end %>
                  </div>
                </div>

                 <div class="dday_box">
                   <div id="timer" class="clearfix">
                      <div class="days under"><div id="days" class="numbers "> </div><span>days</span></div> 
                      <div class="hours under"><div id="hours" class="numbers"> </div><span>hours</span></div> 
                      <div class="minutes under"><div id="minutes" class="numbers"> </div><span>minutes</span></div> 
                      <div class="seconds under"><div id="seconds" class="numbers"> </div><span>seconds</span></div> 
                    </div>

                    <script type="text/javascript">
                      const year = new Date().getFullYear();
                      //Promotion End Date // Shoud add +1 hour from end date(PDT)
                      const myDate = new Date('<%= oneday.o_month %> <%= oneday.o_day %>, <%= oneday.o_year %> 15:59:59'); 
                      console.log(myDate);

                      // countdown
                      let timer = setInterval(function() {

                        // get today's date (Start Date)
                        const today = new Date().getTime();
                        
                        // get the difference
                        const diff = myDate - today;

                        // math
                        let days = Math.floor(diff / (1000 * 60 * 60 * 24));
                        let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                        let seconds = Math.floor((diff % (1000 * 60)) / 1000);

                        // display
                        document.getElementById("days").innerHTML=days
                        document.getElementById("hours").innerHTML=hours
                        document.getElementById("minutes").innerHTML=minutes
                        document.getElementById("seconds").innerHTML=seconds

                      }, 1);
                    </script>
                 </div><!-- dday_box -->
              </div><!-- one_day_box -->
          
                
            </div>      
          <% end %>
        <% end %>
      <% end %> 
      
    <% else %>

      <!-- 만료전 -->
      <% if oneday.o_spare_66 %>
        <% if oneday.o_image.present? %>
            <div class="oneday_wrap">
          
              <div class="one_day_box">
                
                <p class="title">TODAY ONLY</p>
              
                <div class="card clearfix">
                  <div class="img_box">
                    <!-- <img src="<%= oneday.o_image %>" alt="<%= oneday.o_title %>"> -->
                    <%= link_to image_tag(oneday.o_image, alt: oneday.o_title, title: oneday.o_title, :class => 'main_img'), oneday %>
                  </div>
                  <div class="inner">
                    <p><%= oneday.o_title %></p>

                    <div class="pricing">
                      <% if oneday.o_promocode.present? %>
                        <% if oneday.o_pct_coupon.present? || oneday.o_cash_coupon.present? %>
                          <% if oneday.o_pct_coupon.present? %>
                            <span><%= number_to_currency(oneday.o_was_price) %></span><em class="show_price"><%= number_to_currency(total_price_pct_oneday) %></em>
                          <% else %>
                            <span><%= number_to_currency(oneday.o_was_price) %></span><em class="show_price"><%= number_to_currency(total_price_cash_oneday) %></em>
                          <% end %>
                        <% else %>
                          <!-- only for promotion code -->
                          <span><%= number_to_currency(oneday.o_was_price) %></span><em class="show_price"><%= number_to_currency(total_price.to_f) %></em>
                        <% end %>
                      <% else %>
                        <span><%= number_to_currency(oneday.o_was_price) %></span><em class="show_price"><%= number_to_currency(oneday.o_is_price) %></em>
                      <% end %>
                    </div><!-- pricing -->

                    <%= link_to "--------------- Get Promo Code", oneday, :class => 'get_link' %>

                    <% if current_user && current_user.admin %>
                      <div class="admin_controller">
                        <%= link_to 'Edit', edit_oneday_path(oneday) %>
                        <%= link_to 'Destroy', oneday, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    <% end %>
                  </div>
                </div>

                 <div class="dday_box">
                   <div id="timer" class="clearfix">
                      <div class="days under"><div id="days" class="numbers "> </div><span>days</span></div> 
                      <div class="hours under"><div id="hours" class="numbers"> </div><span>hours</span></div> 
                      <div class="minutes under"><div id="minutes" class="numbers"> </div><span>minutes</span></div> 
                      <div class="seconds under"><div id="seconds" class="numbers"> </div><span>seconds</span></div> 
                    </div>

                    <script type="text/javascript">
                      const year = new Date().getFullYear();
                      //Promotion End Date // Shoud add +1 hour from end date(PDT)
                      const myDate = new Date('<%= oneday.o_month %> <%= oneday.o_day %>, <%= oneday.o_year %> 15:59:59'); 
                      console.log(myDate);

                      // countdown
                      let timer = setInterval(function() {

                        // get today's date (Start Date)
                        const today = new Date().getTime();
                        
                        // get the difference
                        const diff = myDate - today;

                        // math
                        let days = Math.floor(diff / (1000 * 60 * 60 * 24));
                        let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                        let seconds = Math.floor((diff % (1000 * 60)) / 1000);

                        // display
                        document.getElementById("days").innerHTML=days
                        document.getElementById("hours").innerHTML=hours
                        document.getElementById("minutes").innerHTML=minutes
                        document.getElementById("seconds").innerHTML=seconds

                      }, 1);
                    </script>
                 </div><!-- dday_box -->
              </div><!-- one_day_box -->
          
                
            </div>      
        <% end %>
      <% end %>
    <% end %>

  <% end %>
