<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <div class="right">
    <div class="index_wrap">
      <header><%= render 'shared/header_index' %></header>

      <div class="ctn_box">
       
        <!-- <div class="most_coupon">
          <h2 class="line-title">🔥Most Popular Promo Code Deals Top 10</h2><br>
          <div class="owl-carousel custom-carousel owl-theme">
            <% @coupons_top.each_with_index do |coupon, i| %>
              <div class="mc_img_box">
                <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title), coupon %>
                <span class="numbering"><%= i + 1 %></span>
              </div>
            <% end %>
          </div>
        </div> -->
      

        <div class="pic_deal clearfix">
          <h2 class="line-title">Save with Amazon Promo Codes</h2><br>
          <%= render '/homes/coupons' %>
        </div>

      </div>
    </div>
    <%= raw pagy_nav(@pagy) %>
  </div>
</div>