<header><%= render 'shared/header_index' %></header>

<div class="index_wrapper">
  <div class="wrap">

    <% if current_user && current_user.admin %>
      <div class="admin_panel">
        <%= link_to 'New Coupon', new_coupon_path %>
        <%= link_to 'New Post', new_post_path %>
        <%= link_to 'New Home', new_home_path %>
        <a href="/bridges/delete_coupons">Delete Coupons</a>
        <a href="/bridges/delete_hotdeals">Delete Hotdeals</a>
        <a href="/bridges/delete_shoes">Delete Shoes</a>
        <a href="/coupons">Coupon's Home</a>
        <a href="/deals">Deals</a>
        <a href="/bridges/random_deals">Random Deals</a>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </div>  
    <% end %>

    <div class="deals_box"><%= render '/coupons/online_deals' %></div>
  
    <div class="trending_box clearfix">
      <h2 class="line-title">Popular Coupons & Deals of Amazon</h2>
      <br>
      <div class="trending"><%= render '/coupons/trending' %></div>
    </div>

    <div class="coupon_box clearfix">
      <%= render 'homes/coupon_section' %>
      <a class="ctn_more" href="/coupons/chashtag/promotion_coupons">More +</a>
    </div>
    
    <!-- <div class="hotdeals_wrap">
      <h2 class="line-title">The Best Deals of Amazon</h2>  
      <div class="owl-carousel custom-carousel owl-theme">
        <%= render '/homes/online_deals' %>
      </div>
    </div> -->
    

  </div>
</div>

  