<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <div class="right">
    <div class="index_wrap">
      <header><%= render 'shared/header_index' %></header>
      <% if current_user && current_user.admin %>
        <!-- <div class="admin_btn">
          <%= link_to 'New Coupon', new_coupon_path %>
          <%= link_to 'New Post', new_post_path %>
          <%= link_to 'New Pick', new_pick_path %>
          <%= link_to 'New Blog', new_blogger_path %>
          <a href="/bridges/delete_coupons">Delete Coupons</a>
          <a href="/bridges/delete_hotdeals">Delete Posts</a>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </div>   -->
      <% end %>

        
          <div class="search_hero clearfix"> 
            <div class="inner">
              <h2>Why pay more?</h2>
              <p><em>Amazon.com</em> offers thousands of great deals, but finding the best deal through endless pages might make you crazy. We offer the quickest and simplest way to find the best deals, coupons, and promo codes for you :)</p>
              <p class="find_more"><a href="/bridges/finder_detail">Find More</a></p>
            </div>
          </div>


    
      <div class="ctn_box">

        <% if current_user && current_user.admin %>
          <%= render 'bloggers/blogger_landing' %>
        <% end %>

         <% if current_user && current_user.admin %>
         <div class="pic_deal clearfix">
            <div class="promocode_section">
          <%= render 'hotdeals/hotdeal_landing' %>
            </div>
         </div>
        <% end %>


        <%= render 'picks/blog' %>
        
        <!-- < if current_user && current_user.admin >
          < render 'clippings/clipping_main' >
        < end > -->
        <div class="pic_deal clearfix">
          <div class="promocode_section">
            <%= render '/coupons/coupon_landing' %>
          </div>
        </div>
        
  
        <!-- < render '/coupons/our_pick' > -->

      </div><!-- ctn_box -->
    </div>

     
      <%= render 'coupons/most_hit' %>
      <br />

      <div class="bottom_banner">
        <div class="middle_event">
          <a target="_blank" href="https://amzn.to/33zpMG9"><img src="<%=asset_path 'banner_mid.png' %>"></a>
        </div>
      </div>


    <!-- < raw pagy_nav(@pagy) > -->
    
  </div><!-- right -->
</div>

<!-- Show more/less -->
<script type="text/javascript">
  $(".show-more").click(function () {
    if($(".text").hasClass("show-more-height")) {
        $(this).text("Show Less");
    } else {
        $(this).text("Show More");
    }

    $(".text").toggleClass("show-more-height");
  });
</script>

<%= javascript_pack_tag 'coupon_index_menu' %>


