<div class="index_wrap clearfix">
  <div class="wrap">
    <div class="filters">
      <a href="#" class="active-filter" data-filter="all">ALL</a>
      <a href="#" data-filter="electronics">electronics</a>
      <a href="#" data-filter="melbourne">MELBOURNE</a>
    </div>

    <div class="container"> 

        <% @posts.each do |post| %>
        
          <article class="<%= post.hashtag %>">
            <a href="#" data-cat="columns" data-state="nat">
              <em class="img_box">
                <img src="<%= post.image %>">
              </em>


              <% if post.promocode.present? %>
                <i>Promo Code</i>
              <% else %>
                <i>Online Deal</i> 
              <% end %>
              <b><%= post.title %></b>
              <p class="short_price_info">
                <% if post.promocode.present? %>
                    <% promocode_price = 0 %>
                    <% promocode_price =  post.was_price - (post.pct / 100) * post.was_price %>
                    <span class="is_price">
                      <%= number_to_currency(promocode_price) %>
                      <em class="was_price"><%= number_to_currency(post.was_price) %></em>
                      <em class="pct"><%= number_to_percentage(post.pct, precision: 0) %> off</em>
                      <!-- <em class="shipping">+ free shipping</em> -->
                    </span>
                  <% else %>
                    <span class="is_price">
                      <% hotdeal_pct = 0 %>
                      <% hotdeal_pct =  (post.was_price - post.is_price) / post.was_price * 100 %>
                      <%= number_to_currency(post.is_price) %>
                      <em class="was_price"><%= number_to_currency(post.was_price) %></em>
                      <em class="pct"><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</em>
                      <!-- <em class="shipping">+ free shipping</em> -->
                      
                    </span>
                  <% end %>
              </p>
            </a>
            <div>
              <!-- <a href="https://www.JustinNorth.com.au" target="_blank">JustinNorth.com.au</a> -->
              <!-- <b>Waterproof Shower Speaker, Wireless Bluetooth Speaker, Portable Mini Hi-Fi Sound Speaker with Suctio…</b> -->
              <div class="details">
                <div class="bio">
                  <div class="intro clearfix">
                    <% promo_price = 0 %>
                    <% promo_price = (post.pct.to_i / 100) * post.was_price %>
                      <p>Amazon has <em>"<%= post.title %>"</em> for 
                      <% if post.promocode.present? %>
                        <% total_price = 0 %>
                        <% total_price = post.was_price - promo_price %>
                        <em class="price"><%= number_to_currency(total_price) %>.</em> Shipping is free. 
                      <% else %>
                        <em class="price"><%= number_to_currency(post.is_price) %>.</em> Shipping is free. 
                      <% end %>
                      
                    </p>
                    <% if post.rating.present? %>
                      <span>Rating: Ave <%= post.rating %> / Reviews: <%= post.review_count %> +</span>  
                    <% end %>
                  </div>
                  <div class="summary clearfix">
                    <h4>SUMMARY</h4>
                    <div class="list">
                      <p>Offer</p>
                      <% if post.promocode.present? %>
                        <p>Discount(<%= number_to_percentage(post.pct, precision: 0) %> off)</p>            
                        <p>Promotion Code</p>
                      <% else %>
                        <% hotdeal_pct = 0 %>
                        <% hotdeal_pct =  (post.was_price - post.is_price) / post.was_price * 100 %>
                        <p>Discount(<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</p>            
                      <% end %>
                    </div>

                    <div class="price">
                      <p><%= number_to_currency(post.was_price) %></p>
                      <% if post.promocode.present? %>
                        <% promo_price = 0 %>
                        <% promo_price = (post.pct / 100) * post.was_price %>
                        <p>- <%= number_to_currency(promo_price) %></p>
                        <p class="p-code"><%= post.promocode %></p>
                      <% else %>
                        <% sale_price = 0 %>
                        <% sale_price = ( hotdeal_pct / 100 ) * post.was_price %>
                        <p>- <%= number_to_currency(sale_price) %></p>  
                      <% end %>
                    </div>
                  </div>

                  <div class="total">
                    <p class="list">Total</p>
                    <% if post.promocode.present? %>
                      <% total_price = 0 %>
                      <% total_price = post.was_price - promo_price %>
                      <p class="price"><%= number_to_currency(total_price) %></p> 
                    <% else %>
                      <p class="price"><%= number_to_currency(post.is_price) %></p> 
                    <% end %>
                  </div>

                  <div class="btn">
                    <a target="_blank" href="<%= post.link %>">Go for it.</a>
                  </div>

                  <% if current_user && current_user.admin %>
                    <div class="admin clearfix">
                      <!-- <p><%= render_with_hashtags(post.hashtag) %></p> -->
                      <%= link_to 'Edit', edit_post_path(post) %> 
                      <%= link_to 'Back', posts_path %>
                      <a class="view_more_icon" href="/posts/<%= post.id %>">Show</a>
                    </div>
                  <% end %>

                </div><!-- bio-->

                <div class="ad">

                  <div class="banner">
                    <a href=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/Associates/Prime_Gifting_300x250_updated._V324946771_.png"></a>
                  </div>
                </div>

                

              </div><!-- details -->

              

            </div>
          </article>
        <% end %>
        
        <div class="content"></div>
    </div>

    <%= raw pagy_nav(@pagy) %>
  </div>
</div> <!--end index_wrap -->



<script type="text/javascript">
  // Define Functions

function contentDiv() {
    $('.added').remove();
    $('article').removeClass('current');
    var docWidth = +$('.container').width();
    var articleWidth = +$('article').width();
    articleWidth = articleWidth + 20;
    var ratio = docWidth / articleWidth;
    ratio = Math.floor(ratio);
    if(ratio == 0) {
      ratio = 1;
    }
    ratio = ratio + 'n';
    $('article.show:nth-of-type(' + ratio + ')').after('<div class="content added"></div>');
    }


    $('article').addClass('show');
    contentDiv();


    // RESIZE -   
    $(window).resize(function() {
        contentDiv();
      });



    var articles = $('article');

    $('.filters a').click(function(e){
      $('.filters a').removeClass('active-filter');
      $(this).addClass('active-filter');
      e.preventDefault();
      var filter = $(this).data('filter');
      $('.container').empty();
      if( filter == "all") {
        $('.container').hide().html(articles).fadeIn(1000).append('<div class="content"></div>');
      } else {
        filter = '.'+filter;
        filter_articles = $(articles).filter(filter);
        $('.container').hide().html(filter_articles).fadeIn(1000).append('<div class="content"></div>');
      }
      
      contentDiv();
      
      });


    // ARTICLE CLICK
    $('.container').on('click', 'article',function(e){
      e.preventDefault();
      content = $(this).find('div').html();
      box = $(this).nextAll('.content').first();
      if($(this).hasClass('current')) {
      
         $(this).removeClass('current');
         $(box).removeClass('open').empty();
         $(this).parent().find('.content').empty(); 
     
      } else {
     
        $('article').removeClass('current');
        $(this).addClass('current');
        $(this).parent().find('.content').empty(); 
        $('.open').removeClass('open').empty();
        $(box).addClass('open').html(content);
      
      }
     
     });
</script>