<div class="wrap">
  <div class="sf_box">

    <% @posts.each do |post| %>
      <% if post.promocode.present? %>
        <div class="card clearfix">
          <div class="image_box">
            <a target="_blank" href="<%= post.link %>"><img src="<%= post.image %>" alt="<%= post.title %>"/></a>
          </div>
          <div class="inner">
            <% promocode_price = 0 %>
            <% promocode_price =  post.was_price - (post.pct / 100) * post.was_price %>

            <em class="title"><%= post.title %></em><br>
            <em>현재 가격: <%= number_to_currency(promocode_price) %></em>
            <em> ( <%= number_to_percentage(post.pct, precision: 0) %> off )</em><br>
            <em>할인전 가격: <%= number_to_currency(post.was_price) %></em><br>
            <em>프로모션 코드: <%= post.promocode %></em><br>
          </div>
         </div>
      <% end %>
    <% end %>

  </div>
</div>
