<% if current_user && current_user.admin %>
  <div class="wrap">
  
      <div class="sf_box clearfix">
      
        <% @coupons.each do |coupon| %>
          <% if coupon.c_spare_42.to_i >= 4 && coupon.c_spare_41.to_i >= 1000 %>
            <% if coupon.c_promocode.present? %>
              <div class="card clearfix">
                <div class="image_box">
                  <a target="_blank" href="<%= coupon.c_link %>">
                    <img src="<%= coupon.c_image %>" alt="<%= coupon.c_title %>"/>
                  </a>
                </div>
                <div class="inner">
                  <% promocode_price = 0 %>
                  <% promocode_price =  coupon.c_was_price - (coupon.c_pct / 100) * coupon.c_was_price %>

                  <em class="title"><%= coupon.c_title %></em>
                  <em>현재 가격: <%= number_to_currency(promocode_price) %></em>
                  <em> ( <%= number_to_percentage(coupon.c_pct, precision: 0) %> off )</em><br>
                  <em>할인전 가격: <%= number_to_currency(coupon.c_was_price) %></em><br>
                  <em class="promo_code">프로모션 코드: <%= coupon.c_promocode %></em><br>
                </div>
               </div>
               <hr>
            <% end %>
          <% end %>
        <% end %>
      </div>

      
  </div>
<% end %>

