<% if current_user && current_user.admin %>
  <div class="wrap">
    <div class="sf_box">
      <% @posts.each do |post| %>
        <% if post.promocode.present? %>
          <% promocode_price = 0 %>
          <% promocode_price =  post.was_price - (post.pct / 100) * post.was_price %>

          <em><%= post.title %></em><br>
          <em>Offer: <%= number_to_currency(promocode_price) %></em>
          <em> ( <%= number_to_percentage(post.pct, precision: 0) %> off )</em><br>
          <em>Was: <%= number_to_currency(post.was_price) %></em><br>
          <em>Promotion Code: <%= post.promocode %></em><br>
          <em>Link: <%= post.link %></em><br>
          <span>---------------------------------------------</span><br>
        <% end %>
        
      <% end %>
    </div>

  </div>
<% end %>