<!-- <p id="notice"><%= notice %></p> -->

<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <div class="right">

      <div class="index_wrap">
        <header><%= render 'coupons/header_index' %></header>

          <!-- <div class="pic_deal clearfix">
            <div class="card_wrap n_coupon_wrap">
                <h2 class="trend_code_title">Trending promo codes TOP 50</h2>

                  <div class="index_main_wrap">
                    <div class="card_ctn_wrap clearfix">

                        <% @coupons_top.each_with_index do |coupon, i| %>   
                          <div class="card_ctn_box">
                            <% promocode_price = 0 %>
                            <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
                            <% hotdeal_pct = 0 %>
                            <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>


                            <div class="img_box">
                              <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title, :class => 'main_img'), coupon %>
                              <span class="list_num"><%= i + 1 %></span>
                            </div>

                            <div class="inner">
                              <% if coupon.c_promocode.present? %>
                                <div class="saving_type clearfix">
                                  
                                  <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                    <span>Code Saving <em>- <%= number_to_percentage(coupon.c_pct, precision: 0) %></em></span>
                                    <% if coupon.c_spare_61.present? %>
                                      <span>Coupon Saving <em>- <%= number_to_percentage(coupon.c_spare_61, precision: 0) %></em></span>
                                    <% else %>
                                      <span>Coupon Saving <em><%= number_to_currency(coupon.c_spare_62, precision: 0) %></em></span>
                                    <% end %>
                                  <% else %>
                                    <span class="only_code">Code Saving <em>- <%= number_to_percentage(coupon.c_pct, precision: 0) %></em></span>
                                  <% end %>
                                  
                                </div>
                              <% end %>
                              
                              <p class="two_sentences"><%= coupon.c_title %></p>
                              <div class="pricing">
                                <% total_save = 0 %>
                                <% pct_coupon = 0 %>
                                <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
                                <% total_price_pct_coupon = promocode_price - pct_coupon %>
                                <% total_price_cash_coupon = promocode_price - coupon.c_spare_62.to_f %>

                                <% if coupon.c_promocode.present? %>
                                  <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                                    <% if coupon.c_spare_61.present? %>
                                      <span class="is_price"><%= number_to_currency(total_price_pct_coupon) %></span>
                                      <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                    <% else %>
                                      <span class="is_price"><%= number_to_currency(total_price_cash_coupon) %></span>
                                      <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                    <% end %>

                                  <% else %>
                                    <span class="is_price"><%= number_to_currency(promocode_price) %></span>
                                    <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                                  <% end %>
                                <% end %>
                                
                              </div>

                            </div>
                          </div>
                        <% end %>

                    </div>
                  </div>

            </div>
          </div> -->

          <!-- <= render 'coupons/most_hit' > -->

        </div>
    <!-- < render 'coupons/tab_bar' > -->
    </div><!-- right -->
  
</div>

<%= javascript_pack_tag 'coupon_index_menu' %>
<!-- Search Filter. -->
<script type="text/javascript">
  function searchFilter(e){
      // Make search case insensitive
      search = e.value.toLowerCase();
      // each company div's inner text is checked for a match
    console.log(document.querySelectorAll('.company'))
      document.querySelectorAll('.company').forEach(function(company){
          text = company.innerText.toLowerCase();
          if(text.match(search)){
              company.style.display="block"
          } else {
              company.style.display="none";
          }
      })

  }

  for (var i = 0 ; i < 30; i++) {
    var newDiv = document.createElement("div");
    var newContent = document.createTextNode(
      faker.company.companyName()
    );
    newDiv.className = "company"
    // add the text node to the newly created div
    newDiv.appendChild(newContent);
    
    var currentDiv = document.getElementById("wrapper"); 
    // append each company
    currentDiv.parentNode.insertBefore(newDiv, currentDiv.nextSibling);
  }
</script>

<%= javascript_pack_tag 'view_promotion_code' %>


<script type="text/javascript">
  $(function() {
  // Amount of scrolling before button is shown/hidden.
  var offset = 100;

  // Fade duration
  var duration = 500;

  // Toggle view of button when scrolling.
  $(window).scroll(function() {
    if ($(this).scrollTop() > offset) {
      $('#c-go-top').fadeIn(duration);
    } else {
      $('#c-go-top').fadeOut(duration);
    }
  });

  // Scroll to top when button is clicked.
  $('#c-go-top').click(function(event) {
    event.preventDefault();
    $('html, body').animate({
      scrollTop: 0
    }, duration);
    return false;
  });
});
</script>
