<header><%= render 'shared/header_deals' %></header>

<div class="deals_wrap"> <br/>
  <div class="wrap">
    <h2 class="line-title">The Best Sneakers Deals</h2>
    <% if current_user && current_user.admin %><span><%= link_to 'New Deal', new_deal_path %> // <a href="/bridges/random_deals">Random</a></span><% end %>
          
      <div class="d_crad_box clearfix">

          <% @deals.each do |deal| %>
              <a href="<%= deal.d_link %>">
                <div class="d_card">
                  <div class="img_box">
                    <img src="<%= deal.d_image %>" alt="<%= deal.d_title %>">
                  </div>
                  <div class="inner">
                    <span>By <%= deal.d_source %></span>
                    <p><%= deal.d_title %></p>
                    <em><%= number_to_currency(deal.d_price) %></em>
                    <% if current_user && current_user.admin %>
                      <div class="admin">
                        <%= link_to 'Edit', edit_deal_path(deal) %>
                        <%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </a>
          <% end %>
                  
     </div>
     <%= raw pagy_nav(@pagy) %>
        
  </div>
</div>
