<div class="wrap">  
  <div class="index_wrapper">
    <h2 class="line-title">Today's Found::Amazon Promo Code</h2>
    <div class="cards">
      <% @coupons.each do |coupon| %>
        <% if coupon.c_spare_56 == 11111 %>
          <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
              <div class="image_box">
                <!-- <img src="<%= coupon.c_image %>" alt="<%= coupon.c_title %>" /> -->
                <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title), coupon %>
              </div>
              <div class="inner">
                
                <% if coupon.c_rating.present? %>
                  <div class="ratings_box">
                    <span class="rating">Rating: <%= coupon.c_rating %></span>
                    <span class="review">Review: <%= coupon.c_review_count %> +</span>
                    <% if current_user && current_user.admin %>
                      <span class="view"><%= coupon.hits %></span>
                    <% end %>
                  </div>
                <% end %>

                <p><%= coupon.c_title %></p>
                <% if coupon.c_promocode.present? %>
                  <% promocode_price = 0 %>
                  <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
                  <em><%= number_to_currency(promocode_price) %><span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span><span class="pct"><%= number_to_percentage(coupon.c_pct, precision: 0) %> off</span></em>
                <% else %>
                  <% hotdeal_pct = 0 %>
                  <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>
                  <em><%= number_to_currency(coupon.c_is_price) %><span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span><span class="pct"><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</span></em>
                <% end %>

                <% if current_user && current_user.admin %>
                  <div class="admin_controller">
                    <%= link_to 'Edit', edit_coupon_path(coupon) %>
                    <%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %>
                    
                  </div>
                <% end %>

              </div>
              <!-- <em class="fa fa-folder-o"></em> -->
            </div>

            <!-- <div class="card__expander">
              <i class="fa fa-close [ js-collapser ]"></i>

              <div class="left">
                <% promo_price = 0 %>
                <% promo_price = (coupon.c_pct.to_f / 100) * coupon.c_was_price %>
                <% total_price = 0 %>
                <% total_price = coupon.c_was_price - promo_price %>
                  <p>Amazon.com has <em>"<%= coupon.c_title %>"</em> on sale for 
                    <% if coupon.c_promocode.present? %>
                      <em class="price"><%= number_to_currency(total_price) %>.</em> Shipping is free. w/ Prime or on $25+ orders.
                    <% else %>
                      <em class="price"><%= number_to_currency(coupon.c_is_price) %>.</em> Shipping is free. w/ Prime or on $25+ orders.
                    <% end %>
                 </p>

                 <div class="details">
                  <div class="bio">
                    <div class="summary clearfix">
                      <h4>SUMMARY</h4>
                      <div class="list">
                        <p>Offer</p>
                        <% if coupon.c_promocode.present? %>
                          <p>Discount(<%= number_to_percentage(coupon.c_pct, precision: 0) %> off)</p>            
                          <p>Promotion Code</p>
                        <% else %>
                          <% hotdeal_pct = 0 %>
                          <% hotdeal_pct =  (coupon.c_was_price - coupon.c_is_price) / coupon.c_was_price * 100 %>
                          <p>Discount(<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</p>            
                        <% end %>
                      </div>

                      <div class="price">
                        <p><%= number_to_currency(coupon.c_was_price) %></p>
                        <% if coupon.c_promocode.present? %>
                          <% promo_price = 0 %>
                          <% promo_price = (coupon.c_pct / 100) * coupon.c_was_price %>
                          <p>- <%= number_to_currency(promo_price) %></p>
                          <p class="p-code"><%= coupon.c_promocode %></p>
                        <% else %>
                          <% sale_price = 0 %>
                          <% sale_price = ( hotdeal_pct / 100 ) * coupon.c_was_price %>
                          <p>- <%= number_to_currency(sale_price) %></p>  
                        <% end %>
                      </div>
                    </div> 

                    <div class="total clearfix">
                      <p class="list">Total</p>
                      <% if coupon.c_promocode.present? %>
                        <% total_price = 0 %>
                        <% total_price = coupon.c_was_price - promo_price %>
                        <p class="price"><%= number_to_currency(total_price) %></p> 
                      <% else %>
                        <p class="price"><%= number_to_currency(coupon.c_is_price) %></p> 
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="btn">
                  <p>Apply codes at checkout with a single click.</p>
                  <a target="_blank" href="<%= coupon.c_link %>">Accept an offer</a>
                </div>
              </div> -->

              
              <!-- <em class="close [ js-collapser ]">Less</em> -->
            <!-- </div> -->

          </div>
        <% end %>
      <% end %>

    </div>

  </div>
</div>
