<!-- <div class="wrap">  
  <div class="index_wrapper">
    <h2 class="line-title">Today's Found::Amazon Promo Code</h2>
    <div class="cards">
      <% @coupons.each do |coupon| %>
        <% if coupon.c_spare_56 == 11111 %>
          <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
              <div class="image_box">
                <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title), coupon %>
              </div>
              <div class="inner">
                
                <% if coupon.c_rating.present? %>
                  <div class="ratings_box">
                    <span class="rating">Rating: <%= coupon.c_rating %></span>
                    <span class="review">Review: <%= coupon.c_review_count %> +</span>
                    <% if current_user && current_user.admin %>
                      <span class="view"><%= coupon.hits %></span>
                    <% end %>
                  </div>
                <% end %>

                <p><%= coupon.c_title %></p>
                <% if coupon.c_promocode.present? %>
                  <% promocode_price = 0 %>
                  <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
                  <em><%= number_to_currency(promocode_price) %><span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span><span class="pct"><%= number_to_percentage(coupon.c_pct, precision: 0) %> off</span></em>
                <% else %>
                  <% hotdeal_pct = 0 %>
                  <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>
                  <em><%= number_to_currency(coupon.c_is_price) %><span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span><span class="pct"><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</span></em>
                <% end %>

                <% if current_user && current_user.admin %>
                  <div class="admin_controller">
                    <%= link_to 'Edit', edit_coupon_path(coupon) %>
                    <%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %>
                    
                  </div>
                <% end %>

              </div>
            
            </div>

            

          </div>
        <% end %>
      <% end %>

    </div>

  </div>
</div>
 -->