<!-- <div class="cards">
  <% @extra_deals.each do |post| %>
      <div class="card [ is-collapsed ]">
        <div class="card__inner [ js-expander ]">
          <div class="image_box">
            <%= link_to image_tag(post.image, alt: post.title, title: post.title), post %>
          </div>
          <div class="inner">
        
            <% if post.rating.present? %>
              <div class="ratings_box">
                <span class="rating">Rating: <%= post.rating %></span>
                <span class="review">Review: <%= post.review_count %> +</span>
                <% if current_user && current_user.admin %>
                <% end %>
              </div>
            <% end %>

            <p><%= post.title %></p>
            <% hotdeal_pct = 0 %>
            <% hotdeal_pct =  (post.was_price.to_f - post.is_price.to_f) / post.was_price.to_f * 100 %>
            <em><%= number_to_currency(post.is_price) %><span class="was_price"><%= number_to_currency(post.was_price) %></span><span class="pct"><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</span></em>
            

            <% if current_user && current_user.admin %>
              <div class="admin_controller">
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>

          </div>
          <% if post.spare_61.present? or post.spare_62.present? %>
            <!-- <div class="extra_coupon"><p>+ Extra coupon</p></div> -->
          <% end %>
        </div>      
      </div><!-- card -->

  <% end %>
  
</div><!-- cards --> -->