
<%= simple_form_for(@home) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :main_title %>
    <%= f.input :main_image %>
    <%= f.input :main_link %>
    <%= f.input :main_description %>

    <div class="sub_form">
      <p>HotDeal 01</p>
      <%= f.input :sub_image_01 %>
      <%= f.input :sub_title_01 %>
      <%= f.input :sub_link_01 %>
      <%= f.input :sub_is_price_01 %>
      <%= f.input :sub_was_price_01 %>
      <%= f.input :sub_pct_01 %>
    </div>

    <div class="sub_form">
      <p>HotDeal 02</p>
      <%= f.input :sub_image_02 %>
      <%= f.input :sub_title_02 %>
      <%= f.input :sub_link_02 %>
      <%= f.input :sub_is_price_02 %>
      <%= f.input :sub_was_price_02 %>
      <%= f.input :sub_pct_02 %>
    </div>

    <div class="sub_form">
      <p>HotDeal 03</p>
      <%= f.input :sub_image_03 %>
      <%= f.input :sub_title_03 %>
      <%= f.input :sub_link_03 %>
      <%= f.input :sub_is_price_03 %>
      <%= f.input :sub_was_price_03 %>
      <%= f.input :sub_pct_03 %>
    </div>

    <div class="sub_form">
      <p>HotDeal 04</p>
      <%= f.input :sub_image_04 %>
      <%= f.input :sub_title_04 %>
      <%= f.input :sub_link_04 %>
      <%= f.input :sub_is_price_04 %>
      <%= f.input :sub_was_price_04 %>
      <%= f.input :sub_pct_04 %>
    </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
