<div class="index_main_wrap">
  <div class="index_coupon_bg"></div>
  <div class="index_coupon_bg_line"></div>
  
  <!-- <h2 class="line-title"><span>Amazon Promo Code Deals </span><br>For February 2023</h2><br> -->
  <h2 class="index_coupon_section_title"><span>Amazon Promo Code Deals </span><br>For March 2023</h2><br>


  <div class="card_ctn_wrap clearfix">

    <% @coupons.each do |coupon| %>
      <div class="card_ctn_box">
        <% promocode_price = 0 %>
        <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
        <% hotdeal_pct = 0 %>
        <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>


        <div class="img_box">
          <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title, :class => 'main_img'), coupon %>
        </div>

        <div class="inner">
          <% if coupon.c_promocode.present? %>
            <div class="saving_type clearfix">
              
              <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                <span>Code Saving <em>- <%= number_to_percentage(coupon.c_pct, precision: 0) %><strong class="pct">off</strong></em></span>
                <% if coupon.c_spare_61.present? %>
                  <span>Coupon<em>- <%= number_to_percentage(coupon.c_spare_61, precision: 0) %><strong class="pct">off</strong></em></span>
                <% else %>
                  <span>Coupon<em><%= number_to_currency(coupon.c_spare_62, precision: 0) %></em></span>
                <% end %>
              <% else %>
                <span class="only_code">Code Saving <em>- <%= number_to_percentage(coupon.c_pct, precision: 0) %><strong class="pct">off</strong></em></span>
              <% end %>
              
            </div>
          <% end %>
          
          <p class="two_sentences"><%= coupon.c_title %></p>
          <div class="pricing">
            <% total_save = 0 %>
            <% pct_coupon = 0 %>
            <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
            <% total_price_pct_coupon = promocode_price - pct_coupon %>
            <% total_price_cash_coupon = promocode_price - coupon.c_spare_62.to_f %>

            <% if coupon.c_promocode.present? %>
              <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                <% if coupon.c_spare_61.present? %>
                  <span class="is_price"><%= number_to_currency(total_price_pct_coupon) %></span>
                  <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                <% else %>
                  <span class="is_price"><%= number_to_currency(total_price_cash_coupon) %></span>
                  <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                <% end %>

              <% else %>
                <span class="is_price"><%= number_to_currency(promocode_price) %></span>
                <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
              <% end %>
            <% end %>

          </div>

        </div>
      </div>
    <% end %>
   
  </div>

  <div class="more_coupon_btn"><a href="/coupons">See More</a></div>
  <div class="index_coupon_bg_foot"></div>
  <div class="index_coupon_bg_foot_line"></div>


</div>

