<div class="wrap">  
  <div class="index_wrapper">

    <div class="deal_box clearfix">

      <% @homes.each do |home| %>
        <div class="deal_card">

          <div class="img_card">
            <img src="<%= home.main_image %>" alt="<%= home.main_title %>" text="<%= home.main_title %>">
          </div>

          <div class="inner">
            <h3><%= home.main_title %></h3>

            <a target="_blank" href="<%= home.sub_link_01 %>">
              <div class="top_deal clearfix">
                <div class="left">
                  <div class="img_left">
                    <img src="<%= home.sub_image_01 %>" alt="<%= home.sub_title_01 %>" text="<%= home.sub_title_01 %>">
                  </div>
                </div>
                <div class="right">
                  <p class="title"><%= home.sub_title_01 %></p>
                  <p class="pricing"><%= number_to_currency(home.sub_is_price_01) %><span class="was"><%= number_to_currency(home.sub_was_price_01) %></span><span class="pct"><%= number_to_percentage(home.sub_pct_01, precision: 0) %> off</span></p>
                </div>
              </div>
            </a>

            <a target="_blank" href="<%= home.sub_link_02 %>">
              <div class="top_deal clearfix">
                <div class="left">
                  <div class="img_left">
                    <img src="<%= home.sub_image_02 %>" alt="<%= home.sub_title_02 %>" text="<%= home.sub_title_02 %>">
                  </div>
                </div>
                <div class="right">
                  <p class="title"><%= home.sub_title_02 %></p>
                  <p class="pricing"><%= number_to_currency(home.sub_is_price_02) %><span class="was"><%= number_to_currency(home.sub_was_price_02) %></span><span class="pct"><%= number_to_percentage(home.sub_pct_02, precision: 0) %> off</span></p>
                </div>
              </div>
            </a>

            <a target="_blank" href="<%= home.sub_link_03 %>">
              <div class="top_deal clearfix">
                <div class="left">
                  <div class="img_left">
                    <img src="<%= home.sub_image_03 %>" alt="<%= home.sub_title_03 %>" text="<%= home.sub_title_03 %>">
                  </div>
                </div>
                <div class="right">
                  <p class="title"><%= home.sub_title_03 %></p>
                  <p class="pricing"><%= number_to_currency(home.sub_is_price_03) %><span class="was"><%= number_to_currency(home.sub_was_price_03) %></span><span class="pct"><%= number_to_percentage(home.sub_pct_03, precision: 0) %> off</span></p>
                </div>
              </div>
            </a>

            <a target="_blank" href="<%= home.sub_link_04 %>">
              <div class="top_deal clearfix"> 
                <div class="left">
                  <div class="img_left">
                    <img src="<%= home.sub_image_01 %>" alt="<%= home.sub_title_01 %>" text="<%= home.sub_title_01 %>">
                  </div>
                </div>
                <div class="right">
                  <p class="title"><%= home.sub_title_04 %></p>
                  <p class="pricing"><%= number_to_currency(home.sub_is_price_04) %><span class="was"><%= number_to_currency(home.sub_was_price_04) %></span><span class="pct"><%= number_to_percentage(home.sub_pct_04, precision: 0) %> off</span></p>
                </div>
              </div>
            </a>

            <a target="_blank" href="<%= home.sub_link_05 %>">
              <div class="top_deal clearfix">
                <div class="left">
                  <div class="img_left">
                    <img src="<%= home.sub_image_01 %>" alt="<%= home.sub_title_01 %>" text="<%= home.sub_title_01 %>">
                  </div>
                </div>
                <div class="right">
                  <p class="title"><%= home.sub_title_05 %></p>
                  <p class="pricing"><%= number_to_currency(home.sub_is_price_05) %><span class="was"><%= number_to_currency(home.sub_was_price_05) %></span><span class="pct"><%= number_to_percentage(home.sub_pct_05, precision: 0) %> off</span></p>
                </div>
              </div>
            </a>

          </div>

          <div class="btn">
            <a href="/coupons/chashtag/<%= home.main_link %>">Show More...</a>
          </div>

        </div>
      <% end %>

      </div>



  </div> 
</div>