<header><%= render 'shared/header_index' %></header>

<div class="main_hero">
  <div class="hero_pc">
    <img src="<%=asset_path 'hero.png' %>" alt="Amazon Coupons" %>
  </div>
  <div class="hero_mobile">
    <img src="<%=asset_path 'hero_m.png' %>" alt="Amazon Coupons" %>
  </div>
</div>
<!-- < render 'shared/hero' > -->

  <% if current_user && current_user.admin %>
    <div class="admin_panel">
      <%= link_to 'New Coupon', new_coupon_path %>
      <%= link_to 'New Home', new_home_path %>
      <a href="/bridges/delete_coupons">Delete Coupons</a>
      <a href="/bridges/delete_hotdeals">Delete Hotdeals</a>
      <a href="/coupons">Coupon's Home</a>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </div>  
  <% end %>

  <em class="coupon_header">Promotion Coupons</em>
  <%= render 'homes/coupon_section' %>
  <a class="ctn_more" href="/coupons/chashtag/promotion_coupons">+ More</a>


  <em class="deal_header">Hotdeal Top 5</em>
  <%= render 'homes/new_deal' %>

