<header><%= render 'shared/header_index' %></header>

<%= render 'shared/hero' %>

  <% if current_user && current_user.admin %>
    <div class="admin_panel">
      <%= link_to 'New Coupon', new_coupon_path %>
      <%= link_to 'New Home', new_home_path %>
    </div>  
  <% end %>

  <em class="coupon_header">Promotion Coupons</em>
  <%= render 'homes/coupon_section' %>
  <a class="ctn_more" href="/coupons">Show More</a>


  <em class="deal_header">Hot Deals</em>
  <%= render 'homes/deal_section' %>

