<div class="blog_section">
  <% @latest_picks.each do |pick| %>
    <% if pick.p_title.present? %>
      <div class="blog_box">
        <div class="discount_banner">
          <div class="pick_main_card">
            <a href="/posts/hashtag/<%= pick.p_link %>">
              <div class="inner clearfix">
                <span class="main_title"><%= pick.p_title %></span><br />
                <span class="sub_title"><%= pick.p_spare_01 %></span>
                <% if current_user && current_user.admin %>
                  <div class="admin">
                    <%= link_to 'Edit', edit_pick_path(pick) %> |
                    <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
              </div>
            </a>
            <a href="/posts/hashtag/<%= pick.p_link %>"><div class="pick_img"><img src="<%= pick.p_image %>"></div></a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <% @except_first_picks.each do |pick| %>
    <div id="wrapper">
      <div class="pick_sub_card clearfix company">
        <a class="pick_sub_card_a" href="/posts/hashtag/<%= pick.p_link %>"><div class="pick_img"><img src="<%= pick.p_image %>"></div></a>
        <div class="inner">
          <a class="pick_sub_card_a" href="/posts/hashtag/<%= pick.p_link %>">
            <p class="main_title"><%= pick.p_title %></p>
            <p class="sub_title"><%= pick.p_spare_01 %></p>
            <% if current_user && current_user.admin %>
              <div class="admin">
                <%= link_to 'Edit', edit_pick_path(pick)%>
                <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' }%>
              </div>
            <% end %>
          </a>
        </div>
      </div>
    </div>

  <% end %>
</div>