<div class="hotdeal_form">
  <%= simple_form_for(@pick) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="basic_info">
      <%= f.input :p_image, label: "Image" %>
      <%= f.input :p_title, label: "Main Title"  %>
      <%= f.input :p_spare_01, label: "Sub Title"  %>
      <%= f.input :p_link, label: "Link of posts hatag(widthout #)"  %>
      <%= f.input :p_hashtag, label: "hashtag"  %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>