<header><%= render 'shared/header_index' %></header>
<div class="post_index clearfix">
  <div class="wrap">

      <div class="pin">
        <h2>Find more deals</h2>
        <%= link_to 'New Pick', new_pick_path %>

        <div class="area">
          <% @picks.each do |pick| %>
            <div class="dev-box">
              <a href="/posts/hashtag/<%=pick.p_link %>">
                <img src="<%= pick.p_image %>">
                <p><%= pick.p_title %></p>
                <% if current_user && current_user.admin %>
                  <%= render_with_phashtags(pick.p_hashtag) %><br />
                  <%= link_to 'Edit', edit_pick_path(pick) %>
                  <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </a>
            </div>
          <% end %>

        </div>
      </div>

  </div>
</div>
