<div class="side_category_pc">
  <p>Coupon Type</p>
  <ul class="submenu_pc">
    <li><a href="/"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> All</a></li>
    <li><a href="/posts/hashtag/online_sale"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="online sale" /> Online Sale</a></li>
    <li><a href="/posts/hashtag/promotion_code"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="promo code" /> Promotion Code</a></li>
    <!-- <li><a href="/posts/hashtag/under_10"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> Under $10</a></li>
    <li><a href="/posts/hashtag/half_or_more"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> 50% Off or more</a></li> -->
    <li><a href="/bridges/under_deal"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="under $10" /> Under $10</a></li>
    <li><a href="/bridges/half_deal"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="half deals" /> 50% Off or more</a></li>
    <li><a href="/bridges/finder_detail"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="find more coupon" /> Find More Coupons</a></li>
    <li><a href="/picks"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="find more deal" /> View Other Deals</a></li>
    <li><a href="/bridges/about_us"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="about us" /> About Us</a></li>
  </ul>

 <!--  <p>Categories</p>
  <ul class="submenu_pc">
    <li><a href="/"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> All</a></li>
    <li><a href="/posts/hashtag/electronics"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Electronics" /> Electronics</a></li>
    <li><a href="/posts/hashtag/homeware"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Homeware" /> Homeware</a></li>
    <li><a href="/posts/hashtag/kitchen"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Kitchen" /> Kitchen</a></li>
    <li><a href="/posts/hashtag/outdoor"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Outdoor" /> Outdoor</a></li>
    <li><a href="/posts/hashtag/fashion"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Fashion" /> Fashion</a></li>
    <li><a href="/posts/hashtag/beauty"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Beauty" /> Beauty</a></li>
    <li><a href="/posts/hashtag/pet_supplies"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Pet Supplies" /> Pet Supplies</a></li>
  </ul> -->
  
</div>


<!-- Contenedor -->
<div class="side_category_mobile">
  <ul id="accordion" class="accordion">
    
    <li>
      <div class="link">Coupon Type</div>
      <ul class="submenu">
        <li><a href="/"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> All</a></li>
        <li><a href="/posts/hashtag/online_sale"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="online sale" /> Online Sale</a></li>
        <li><a href="/posts/hashtag/promotion_code"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="promo code" /> Promotion Code</a></li>
        <li><a href="/bridges/under_deal"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="under $10" /> Under $10</a></li>
        <li><a href="/bridges/half_deal"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="half deals" /> 50% Off or more</a></li>
        <li><a href="/bridges/finder_detail"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="find more coupon" /> Find More Coupons</a></li>
        <li><a href="/picks"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="find more deal" /> View Other Deals</a></li>
        <li><a href="/bridges/about_us"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="about us" /> About Us</a></li>
      </ul>
    </li>

    <!-- <li>
      <div class="link">Categories</div>
      <ul class="submenu">
        <li><a href="/"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="all" /> All</a></li>
        <li><a href="/posts/hashtag/electronics"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Electronics" /> Electronics</a></li>
        <li><a href="/posts/hashtag/homeware"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Homeware" /> Homeware</a></li>
        <li><a href="/posts/hashtag/kitchen"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Kitchen" /> Kitchen</a></li>
        <li><a href="/posts/hashtag/outdoor"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Outdoor" /> Outdoor</a></li>
        <li><a href="/posts/hashtag/fashion"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Fashion" /> Fashion</a></li>
        <li><a href="/posts/hashtag/beauty"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Beauty" /> Beauty</a></li>
        <li><a href="/posts/hashtag/pet_supplies"><img class="cat_img" src="<%=asset_path 'menu_icon.png' %>" alt="Pet Supplies" /> Pet Supplies</a></li>
      </ul>
    </li> -->
    
  </ul>
</div>

<script type="text/javascript">
  $(function() {
    var Accordion = function(el, multiple) {
      this.el = el || {};
      this.multiple = multiple || false;

      // Variables privadas
      var links = this.el.find('.link');
      // Evento
      links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
    }

    Accordion.prototype.dropdown = function(e) {
      var $el = e.data.el;
        $this = $(this),
        $next = $this.next();

      $next.slideToggle();
      $this.parent().toggleClass('open');

      if (!e.data.multiple) {
        $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
      };
    } 

    var accordion = new Accordion($('#accordion'), false);
  });

</script>
