<div class="featured_wrap">
  <h3>By Feature</h3>
  <div class="feat_box clearfix">
    <ul>
      <li>Noise cancellation</li>
      <% if @post.spare_01 = 50 %>
      <% elsif @post.spare_02 = 45 %>
      <% elsif @post.spare_03 = 40 %>
      <% elsif @post.spare_04 = 35 %>
      <% elsif @post.spare_05 = 30 %>
      <% elsif @post.spare_06 = 35 %>
      <% end %>

      <li><img src="<%=asset_path 'rating_1.png' %>"></li>
      <li><img src="<%=asset_path 'rating_2.png' %>"></li>
      <li><img src="<%=asset_path 'rating_3.png' %>"></li>
      <li class="active"><img src="<%=asset_path 'rating_4.png' %>"></li>
      <li><img src="<%=asset_path 'rating_5.png' %>"></li>
    </ul>
  </div>

  <div class="feat_box clearfix">
    <ul>
      <li>Noise cancellation</li>
      <li><img src="<%=asset_path 'rating_1.png' %>"></li>
      <li><img src="<%=asset_path 'rating_2.png' %>"></li>
      <li><img src="<%=asset_path 'rating_3.png' %>"></li>
      <li><img src="<%=asset_path 'rating_4.png' %>"></li>
      <li><img src="<%=asset_path 'rating_5.png' %>"></li>
    </ul>
  </div>

  <div class="feat_box clearfix">
    <ul>
      <li>Noise cancellation</li>
      <li><img src="<%=asset_path 'rating_1.png' %>"></li>
      <li><img src="<%=asset_path 'rating_2.png' %>"></li>
      <li><img src="<%=asset_path 'rating_3.png' %>"></li>
      <li><img src="<%=asset_path 'rating_4.png' %>"></li>
      <li><img src="<%=asset_path 'rating_5.png' %>"></li>
    </ul>
  </div>

  <div class="feat_box clearfix">
    <ul>
      <li>Noise cancellation</li>
      <li><img src="<%=asset_path 'rating_1.png' %>"></li>
      <li><img src="<%=asset_path 'rating_2.png' %>"></li>
      <li><img src="<%=asset_path 'rating_3.png' %>"></li>
      <li><img src="<%=asset_path 'rating_4.png' %>"></li>
      <li><img src="<%=asset_path 'rating_5.png' %>"></li>
    </ul>
  </div>

  <div class="feat_box clearfix">
    <ul>
      <li>Noise cancellation</li>
      <li><img src="<%=asset_path 'rating_1.png' %>"></li>
      <li><img src="<%=asset_path 'rating_2.png' %>"></li>
      <li><img src="<%=asset_path 'rating_3.png' %>"></li>
      <li><img src="<%=asset_path 'rating_4.png' %>"></li>
      <li><img src="<%=asset_path 'rating_5.png' %>"></li>
    </ul>
  </div>

  <div class="feat_box clearfix">
    <ul>
      <li>Noise cancellation</li>
      <li><img src="<%=asset_path 'rating_1.png' %>"></li>
      <li><img src="<%=asset_path 'rating_2.png' %>"></li>
      <li><img src="<%=asset_path 'rating_3.png' %>"></li>
      <li><img src="<%=asset_path 'rating_4.png' %>"></li>
      <li><img src="<%=asset_path 'rating_5.png' %>"></li>
    </ul>
  </div>



</div>