<div class="hotdeal_form">
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="basic_info">
      <%= f.input :image %>
      <%= f.input :title %>
      <%= f.input :link %>
      <%= f.input :hashtag, label: "#HashTag" %>
      <%= f.input :spare_01, label: "HashTag with out #" %>
    </div>
    <div class="pricing clearfix">
      <%= f.input :was_price, label: "Original Price" %>
      <%= f.input :is_price, label: "is_price" %>
      <%= f.input :spare_61, label: "Extra Coupon(%)" %>
      <%= f.input :spare_62, label: "Extra Coupon($)" %>
      <%= f.input :spare_42, label: "star_rating" %>
      <%= f.input :spare_58, label: "rating_code" %>
      <%= f.input :spare_41, label: "review" %>
    </div>
    <div class="pricing clearfix">
      <%= f.input :spare_02, label: "Amazon Choice" %>
      <%= f.input :spare_03, label: "Seller Ranking" %>
      <%= f.input :p_integer_01, label: "5-star" %>
      <%= f.input :p_integer_02, label: "4-star" %>
      <%= f.input :p_integer_03, label: "3-star" %>
      <%= f.input :p_integer_04, label: "2-star" %>
      <%= f.input :p_integer_05, label: "1-star" %>    
    </div>

    <div class="pricing clearfix">
      <%= f.input :spare_04, label: "fea_title_01" %>
      <%= f.input :p_integer_06, label: "fea_rating_01" %>
      <%= f.input :spare_05, label: "fea_title_02" %>
      <%= f.input :p_integer_07, label: "fea_rating_02" %>
      <%= f.input :spare_06, label: "fea_title_03" %>
      <%= f.input :p_integer_08, label: "fea_rating_03" %>
      <%= f.input :spare_07, label: "fea_title_04" %>
      <%= f.input :p_integer_09, label: "fea_rating_04" %>
      <%= f.input :spare_08, label: "fea_title_05" %>
      <%= f.input :p_integer_10, label: "fea_rating_05" %>
      <%= f.input :spare_09, label: "fea_title_06" %>
      <%= f.input :p_integer_11, label: "fea_rating_06" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>