<div class="hotdeal_form">
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="basic_info">
      <%= f.input :image %>
      <%= f.input :title %>
      <%= f.input :link %>
      <%= f.input :promocode %>
      <%= f.input :hashtag, label: "[#electronics, #homeware, #kitchen, #outdoor, #pet_supplies, #beauty, #fashion ] [#online_sale, #promotion_code], [#coupon type #main categories #sub categories]" %>
    </div>
    <div class="pricing clearfix">
      <%= f.input :was_price, label: "Original Price" %>
      <%= f.input :is_price, label: "is_price" %>
      <%= f.input :pct, label: "pct" %>
      <%= f.input :rating %>
      <%= f.input :review_count %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>