<header><%= render 'shared/header_show' %></header>

<div class="index_wrap clearfix">
  <div class="wrap">
    <%= render 'posts/hero' %>
    
    <ul class="index_cat clearfix">
      <li><a href="/">All</a></li>
      <li><a href="/posts/hashtag/online_sale">Online Sale</a></li>
      <li><a href="/posts/hashtag/promotion_code">Promotion Code</a></li>
      <li><a href="/bridges/new_under_deal">Under $10</a></li>
      <li><a href="/bridges/new_half_deal">50% Off or more</a></li>
    </ul>

    <% if current_user && current_user.admin %>
      <div class="registration_admin">
        <p>Admin Pannel</p>
        <span><%= link_to 'New', new_post_path %></span>
        <span><a href="/bridges/delete_old_post">Destroy Page</a></span>
        <span><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></span>
        <!-- <span><a href="/bridges/share_facebook">ShareTofacebook</a></span> -->
        <!-- <span><a href="/bridges/delete_old_post">Destroy Page</a></span> -->
      </div>
    <% end %>
    

    <div class="container"> 

        <% @posts.each do |post| %>
        
          <article class="<%= post.hashtag %>">
            <a href="#" data-cat="columns" data-state="nat">
              <em class="img_box">
                <img src="<%= post.image %>">
              </em>

              <% if post.promocode.present? %>
                <i>Promo Code</i>
              <% else %>
                <i>Online Deal</i> 
              <% end %>
              <b><%= post.title %></b>
              <p class="short_price_info">
                <% if post.promocode.present? %>
                    <% promocode_price = 0 %>
                    <% promocode_price =  post.was_price - (post.pct / 100) * post.was_price %>
                    <span class="is_price">
                      <%= number_to_currency(promocode_price) %>
                      <em class="was_price"><%= number_to_currency(post.was_price) %></em>
                      <em class="pct"><%= number_to_percentage(post.pct, precision: 0) %> off</em>
                      <!-- <em class="shipping">+ free shipping</em> -->
                    </span>
                  <% else %>
                    <span class="is_price">
                      <% hotdeal_pct = 0 %>
                      <% hotdeal_pct =  (post.was_price - post.is_price) / post.was_price * 100 %>
                      <%= number_to_currency(post.is_price) %>
                      <em class="was_price"><%= number_to_currency(post.was_price) %></em>
                      <em class="pct"><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</em>
                      <!-- <em class="shipping">+ free shipping</em> -->
                      
                    </span>
                  <% end %>
              </p>
            </a>
            <div>
              <!-- <a href="https://www.JustinNorth.com.au" target="_blank">JustinNorth.com.au</a> -->
              <!-- <b>Waterproof Shower Speaker, Wireless Bluetooth Speaker, Portable Mini Hi-Fi Sound Speaker with Suctio…</b> -->
              <div class="details">
                <div class="bio">
                  <div class="intro clearfix">
                    <% promo_price = 0 %>
                    <% promo_price = (post.pct.to_f / 100) * post.was_price %>
                    <% total_price = 0 %>
                    <% total_price = post.was_price - promo_price %>
                      <p>Amazon.com has <em>"<%= post.title %>"</em> on sale for 
                        <% if post.promocode.present? %>
                          <em class="price"><%= number_to_currency(total_price) %>.</em> Shipping is free. w/ Prime or on $25+ orders.
                        <% else %>
                          <em class="price"><%= number_to_currency(post.is_price) %>.</em> Shipping is free. w/ Prime or on $25+ orders.
                        <% end %>

                     </p>
                    <% if post.rating.present? %>
                      <span>Rating: Ave <%= post.rating %> / Reviews: <%= post.review_count %> +</span>  
                    <% end %>
                  </div>
                  <div class="summary clearfix">
                    <h4>SUMMARY</h4>
                    <div class="list">
                      <p>Offer</p>
                      <% if post.promocode.present? %>
                        <p>Discount(<%= number_to_percentage(post.pct, precision: 0) %> off)</p>            
                        <p>Promotion Code</p>
                      <% else %>
                        <% hotdeal_pct = 0 %>
                        <% hotdeal_pct =  (post.was_price - post.is_price) / post.was_price * 100 %>
                        <p>Discount(<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</p>            
                      <% end %>
                    </div>

                    <div class="price">
                      <p><%= number_to_currency(post.was_price) %></p>
                      <% if post.promocode.present? %>
                        <% promo_price = 0 %>
                        <% promo_price = (post.pct / 100) * post.was_price %>
                        <p>- <%= number_to_currency(promo_price) %></p>
                        <p class="p-code"><%= post.promocode %></p>
                      <% else %>
                        <% sale_price = 0 %>
                        <% sale_price = ( hotdeal_pct / 100 ) * post.was_price %>
                        <p>- <%= number_to_currency(sale_price) %></p>  
                      <% end %>
                    </div>
                  </div>

                  <div class="total">
                    <p class="list">Total</p>
                    <% if post.promocode.present? %>
                      <% total_price = 0 %>
                      <% total_price = post.was_price - promo_price %>
                      <p class="price"><%= number_to_currency(total_price) %></p> 
                    <% else %>
                      <p class="price"><%= number_to_currency(post.is_price) %></p> 
                    <% end %>
                  </div>

                  <div class="btn">
                    <a target="_blank" href="<%= post.link %>">Go for it.</a>
                  </div>

                  <% if current_user && current_user.admin %>
                    <div class="admin clearfix">
                      <!-- <p><%= render_with_hashtags(post.hashtag) %></p> -->
                      <%= link_to 'Edit', edit_post_path(post) %> 
                      <%= link_to 'Back', posts_path %>
                      <a class="view_more_icon" href="/posts/<%= post.id %>">Show</a>
                    </div>
                  <% end %>

                </div><!-- bio-->

                <div class="ad">

                  <div class="banner clearfix">
                    <a target="_blank" href="https://amzn.to/3zqVXCh"><img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/video/associates/CIND_2021_PMAssociates_300x250_POST_Final_en-US_FT_PVD7409_Cinderella.jpg"></a>
                    <a target="_blank" href="https://amzn.to/2Y1JbfL"><img src="https://images-na.ssl-images-amazon.com//images/G/01/AMAZON_FASHION/2020/FALL_1/DISPLAY_ADS/PSPW/ps_v1_300x250_newAdds.jpg"></a>
                    <a target="_blank" href="https://www.amazon.com.au/prime?&tag=googhydr0au-22&hvadid=501644447262&hvpos=&hvexid=&hvnetw=g&hvrand=956801320052491461&hvpone=&hvptwo=&hvqmt=e&hvdev=c&ref=pd_sl_15icin9ae5_e&hvtargid=kwd-303629226711&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=7fa92ca551e387dd1ba5ee1f64aca25c&camp=1789&creative=9325"><img src="https://images-na.ssl-images-amazon.com/images/G/01/Associates/Prime_Gifting_300x250_updated._V324946771_.png"></a>
                  </div>

                  <div class="m_banner clearfix">
                    <a target="_blank" href="https://amzn.to/3jpRNFo"><img src="https://images-na.ssl-images-amazon.com//images/G/01/US-hq/2020/img/Prime/XCM_Manual_ORIGIN_1262498_1337516_US_US_Associates_3334544_468x60_en_US.jpg"></a>
                  </div>


                </div>                

              </div><!-- details -->

            </div>
          </article>
        <% end %>
        
        <div class="content"></div>
    </div>

    <%= raw pagy_nav(@pagy) %>
  </div>
</div> <!--end index_wrap -->

<%= javascript_pack_tag 'index' %>