<nav>
  <button onclick="goBack()" class="nav-item"><img class="go_back" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" /></button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>

 <!--  <a class="nav-item non_btn" href="#">
    <img class="go_back" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" />
  </a>
  
  <a class="nav-item non_btn" href="#">
    <img class="go_back" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" />
  </a>
  
  <a class="nav-item non_btn" href="#">
    <img class="go_back" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" />
  </a> -->
  
 <!--  <a class="nav-item" href="#">
    <img class="go_back" src="<%=asset_path 'bottom_nav_search.png' %>" alt="back" />
  </a> -->


  <div class="show_search_wrap">
    <a class="btn-green-flat-trigger nav-item" href="#"><img class="search" src="<%=asset_path 'bottom_nav_search.png' %>" alt="search" text="search" /></a>
  </div>

</nav>


<script type="text/javascript">
  var globalModal = $('.global-modal');
    $( ".btn-green-flat-trigger" ).on( "click", function(e) {
      e.preventDefault();
      $( globalModal ).toggleClass('global-modal-show');
    });
    $( ".overlay" ).on( "click", function() {
      $( globalModal ).toggleClass('global-modal-show');
    });
    $( ".global-modal_close" ).on( "click", function() {
      $( globalModal ).toggleClass('global-modal-show');
    });
    $(".mobile-close").on("click", function(){
      $( globalModal ).toggleClass('global-modal-show');
    });
</script>