<nav>
  <button onclick="goBack()" class="nav-item"><img class="go_back" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" /></button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>

 <!--  <a class="nav-item non_btn" href="#">
    <img class="go_back" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" />
  </a>
  
  <a class="nav-item non_btn" href="#">
    <img class="go_back" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" />
  </a>
  
  <a class="nav-item non_btn" href="#">
    <img class="go_back" src="<%=asset_path 'bottom_nav_back.png' %>" alt="back" />
  </a> -->
  
  <a class="nav-item" href="#">
    <img class="go_back" src="<%=asset_path 'bottom_nav_search.png' %>" alt="back" />
  </a>
</nav>
