<div class="outline">
  <%= render 'shared/new_main_header' %>

  <section class="outline_left">
    <div class="show-wrap">
      
        <div class="container clearfix">

          <div class="content-section clearfix">

            <div class="new_title_wrap">
              
              <h2><%= @post.title %></h2>
              <% if @post.spare_42.present? %>
                 <div class="rating_card">
                    <% if @post.spare_58 == 50 %>
                      <div class="rating_box">
                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
                        <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                      </div>
                    <% elsif @post.spare_58 == 45 %>
                      <div class="rating_box">
                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i>
                        <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                      </div>
                    <% elsif @post.spare_58 == 40 %>
                      <div class="rating_box">
                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i>
                        <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                      </div>
                    <% elsif @post.spare_58 == 35 %>
                      <div class="rating_box">
                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                        <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                      </div>
                    <% elsif @post.spare_58 == 30 %>
                      <div class="rating_box">
                        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                        <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                      </div>
                    <% end %>
                  </div>
              <% end %>
              
              <div class="pricing_box">
                <p>
                  <% hotdeal_pct = 0 %>
                  <% hotdeal_pct =  (@post.was_price - @post.is_price) / @post.was_price * 100 %>
                  <% extra_coupon_deal = 0 %>
                  <% extra_coupon_deal = @post.is_price * (@post.spare_61 / 100) %>
                  <% extra_coupon_total = 0 %>
                  <% extra_coupon_total = @post.is_price - extra_coupon_deal %>
                  <% extra_coupon_dallor_total = 0 %>
                  <% extra_coupon_dallor_total =  @post.is_price.to_f - @post.spare_62.to_f %>

                    
                    
                  <% if @post.spare_61.present? %>
                    <span class="total_price"><%= number_to_currency(extra_coupon_total) %></span>
                    <span class="was_price"><%= number_to_currency(@post.was_price) %></span>
                    
                  <% elsif %> 
                    <% if @post.spare_62.present? %>
                      <span class="total_price"><%= number_to_currency(extra_coupon_dallor_total) %></span>
                      <span class="was_price"><%= number_to_currency(@post.was_price) %></span>
                    <% else %>
                      <span class="total_price"><%= number_to_currency(@post.is_price) %></span>
                      <span class="was_price"><%= number_to_currency(@post.was_price) %></span>
                    <% end %>
                  <% else %>
                    <span class="total_price"><%= number_to_currency(@post.is_price) %></span>
                    <span class="was_price"><%= number_to_currency(@post.was_price) %></span>
                  <% end %>
                </p>
              </div><!-- .pricing_box -->
            </div><!-- .new_title_wrap -->
            
            <div class="image-box post_img_box clearfix">
              <img src="<%= @post.image %>" alt="<%= @post.title %>" title="<%= @post.title %>" />
              <% if @post.spare_10.present? %>
                <span>Lowest price in 30 days</span>
              <% end %>
            </div>

            

            <div class="inner-box clearfix">
              
          
              <div class="post_tabs">
                
                <input type="radio" id="tab1" name="tab-control" checked>
                <input type="radio" id="tab2" name="tab-control">
                <input type="radio" id="tab3" name="tab-control">  
                <input type="radio" id="tab4" name="tab-control">
                <ul class="post_tabs_ul">
                  <li class="post_tabs_li" title="Features"><label for="tab1" role="button"><svg viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M528 64h-480C21.6 64 0 85.6 0 112v288C0 426.4 21.6 448 48 448h480c26.4 0 48-21.6 48-48v-288C576 85.6 554.4 64 528 64zM205.6 298.1c-3.604 20.82-19.34 34.52-41.58 39.33V348c0 11.05-8.988 20-20.03 20s-19.97-8.953-19.97-20v-11.06c-8.707-1.934-17.37-4.752-25.16-7.568l-4.031-1.453C84.44 324.2 79 312.8 82.7 302.4S97.89 286.6 108.2 290.2l4.234 1.516c7.844 2.828 16.73 6.047 23.67 7.078c13.62 2.125 28.73 .2187 30.08-7.547c.8594-5 1.344-7.75-27.75-16.08L132.7 273.5C115.4 268.5 74.98 256.6 82.38 213.9c3.615-20.9 19.3-34.82 41.67-39.58V164c0-11.05 8.918-20 19.97-20s20.03 8.953 20.03 20v10.95C169.5 176.2 175.3 177.7 182.4 180.2c10.44 3.609 15.97 15 12.34 25.44c-3.609 10.42-15 15.98-25.44 12.34C163.5 215.1 157.3 214 151.7 213.2C138.2 211 123.1 212.1 121.8 220.7C121 225.1 120.5 228.3 144 235.2l5.469 1.578C171.7 243.1 213.1 254.9 205.6 298.1zM336 320l-64-.0005c-8.801 0-16-7.201-16-15.1c0-8.801 7.199-16 16-16L336 288C344.8 288 352 295.2 352 304C352 312.8 344.8 320 336 320zM496 319.1L432 320C423.2 320 416 312.8 416 304C416 295.2 423.2 288 432 288l64-.0005c8.801 0 16 7.199 16 16C512 312.8 504.8 319.1 496 319.1zM496 224h-224C263.2 224 256 216.8 256 208C256 199.2 263.2 192 272 192h224C504.8 192 512 199.2 512 208C512 216.8 504.8 224 496 224z"/></svg></label>
                  </li>
                  <li class="post_tabs_li" title="Delivery Contents"><label for="tab2" role="button"><svg id="Icons" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M27,5H5C3.3,5,2,6.3,2,8v14c0,1.7,1.3,3,3,3h16.4l7,5.8c0.2,0.2,0.4,0.2,0.6,0.2c0.1,0,0.3,0,0.4-0.1  c0.4-0.2,0.6-0.5,0.6-0.9V8C30,6.3,28.7,5,27,5z M17.7,14.3l-2.1,2.1l0.5,2.9c0.1,0.4-0.1,0.8-0.4,1c-0.2,0.1-0.4,0.2-0.6,0.2  c-0.2,0-0.3,0-0.5-0.1L12,18.9l-2.6,1.4c-0.3,0.2-0.7,0.2-1.1-0.1c-0.3-0.2-0.5-0.6-0.4-1l0.5-2.9l-2.1-2.1C6,14,5.9,13.6,6,13.3  c0.1-0.4,0.4-0.6,0.8-0.7l2.9-0.4l1.3-2.7c0.3-0.7,1.5-0.7,1.8,0l1.3,2.7l2.9,0.4c0.4,0.1,0.7,0.3,0.8,0.7  C18.1,13.6,18,14,17.7,14.3z M25,18h-3c-0.6,0-1-0.4-1-1s0.4-1,1-1h3c0.6,0,1,0.4,1,1S25.6,18,25,18z M25,14h-5c-0.6,0-1-0.4-1-1  s0.4-1,1-1h5c0.6,0,1,0.4,1,1S25.6,14,25,14z"/></svg></label></li>
                  <li class="post_tabs_li" title="Shipping"><label for="tab3" role="button"><svg id="object" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><path d="M30.86,6.12a2.49,2.49,0,0,0-2.38-1.74H27.26A.53.53,0,0,1,26.77,4l-.37-1.2a2.5,2.5,0,0,0-4.8,0L21.22,4a.53.53,0,0,1-.49.39H19.52a2.48,2.48,0,0,0-2.38,1.74A2.57,2.57,0,0,0,18,9l1,.74a.62.62,0,0,1,.2.66l-.38,1.2a2.6,2.6,0,0,0,1,2.91,2.44,2.44,0,0,0,2.92,0l1-.74a.48.48,0,0,1,.58,0l1,.74a2.45,2.45,0,0,0,2.92,0,2.6,2.6,0,0,0,1-2.91l-.37-1.2a.59.59,0,0,1,.2-.66L30,9A2.59,2.59,0,0,0,30.86,6.12Z"/><path d="M1,18V30a1,1,0,0,0,1,1H4V17H2A1,1,0,0,0,1,18Z"/><path d="M23.64,20.29a2.57,2.57,0,0,0,.14-.79,2.5,2.5,0,0,0-2.5-2.5H17V14a3,3,0,1,0-6,.06,12.27,12.27,0,0,1-1.1,5.09L9.47,20H8V18a1,1,0,0,0-1-1H6V31H7a1,1,0,0,0,1-1V28.66h.39a2.66,2.66,0,0,0,2.46,1.65h3.72a2.46,2.46,0,0,0,1.71.69h5a2.5,2.5,0,0,0,2.5-2.5,2.45,2.45,0,0,0-.29-1.15,2.51,2.51,0,0,0,.83-1.85,2.59,2.59,0,0,0-.25-1.07,2.47,2.47,0,0,0-.43-4.14Z"/></svg></label></li>    
                  <li class="post_tabs_li" title="Returns"><label for="tab4" role="button"><svg data-name="Layer 1" id="Layer_1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><title/><path d="M98,0H30A30,30,0,0,0,0,30V98a30,30,0,0,0,30,30H98a30,30,0,0,0,30-30V30A30,30,0,0,0,98,0ZM64,101.5A37.5,37.5,0,1,1,101.5,64,37.51,37.51,0,0,1,64,101.5Z"/><path d="M64,30.7A33.3,33.3,0,1,0,97.3,64,33.35,33.35,0,0,0,64,30.7ZM66.1,84A2.18,2.18,0,0,1,64,86.1,2.11,2.11,0,0,1,61.9,84V57.3A2.11,2.11,0,0,1,64,55.2a2.05,2.05,0,0,1,2.1,2.1ZM64,50.9a3,3,0,1,1,3-3A3,3,0,0,1,64,50.9Z"/></svg></label></li>
                </ul>
                
                <!-- <div class="slider"><div class="indicator"></div></div> -->
                <div class="pt_content">
                <section>
                    <h3>Summary <% if current_user && current_user.admin %>//<%= link_to 'New Post', new_post_path %><% end %></h3>
                    <div class="summary_title">
                      <!-- <p class="posted_date">Found on Amazon on <%= @post.created_at.strftime("#{@post.created_at.day.ordinalize} %B %Y") %></p> -->
                      <div class="more_detail clearfix post_more_detail">
                          <div class="detail_card cleafix">
                              <% if @post.spare_61.present? || @post.spare_62.present? %>
                                <div class="verified_check detail_box">
                                  <p>Deal & Coupon</p>
                                  <span class="verified"><!-- <img class="coupon_check" src="<%=asset_path 'coupon_check.png' %>" alt=" verified coupon&code" /> --><i class="material-icons">check_circle</i> <em>Verified</em></span>
                                  <!-- <span class="veri_span">verified</span> -->
                                </div>
                              <% else %>
                                <div class="verified_check detail_box">
                                  <p>Deal</p>
                                  <span class="verified"><!-- <img class="coupon_check" src="<%=asset_path 'coupon_check.png' %>" alt=" verified coupon&code" /> --> <i class="material-icons">check_circle</i> <em>Verified</em></span>
                                </div>
                              <% end %>
                              <div class="detail_box rating_review">
                                <p>Customer Reviews</p>
                                <% if @post.spare_42.present? %>
                                   <div class="rating_card">
                                      <% if @post.spare_58 == 50 %>
                                        <div class="rating_box">
                                          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
                                          <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                        </div>
                                      <% elsif @post.spare_58 == 45 %>
                                        <div class="rating_box">
                                          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i>
                                          <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                        </div>
                                      <% elsif @post.spare_58 == 40 %>
                                        <div class="rating_box">
                                          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i>
                                          <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                        </div>
                                      <% elsif @post.spare_58 == 35 %>
                                        <div class="rating_box">
                                          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                          <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                        </div>
                                      <% elsif @post.spare_58 == 30 %>
                                        <div class="rating_box">
                                          <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                                          <span>/ <%= number_with_precision(@post.spare_41, precision: 0, separator: ',', delimiter: ',') %> +</span> 
                                        </div>
                                      <% end %>
                                    </div>
                                  <% end %>
                              </div>
                              <!-- <div class="detail_box">
                                <p>Review</p>
                                <span class="review"><%= @post.spare_41 %> +</span>
                              </div> -->
                          </div><!-- detail_card -->
                      </div><!-- more_detail --> 
                    </div>
                    <div class="receipt">
                      <!-- Button Section - Text(left) -->
                      <div class="receipt__grid1">
                        <p>List Price</p>
                        
                        <p>Discount<em><%= number_to_percentage(hotdeal_pct, precision: 0) %> OFF</em></p>            
                        <% if @post.spare_61.present? %>
                          <p>Coupon Savings<em><%= number_to_percentage(@post.spare_61, precision: 0) %> OFF</em></p>
                        <% elsif %>
                          <% if @post.spare_62.present? %>
                            <p>Coupon Savings<em><%= number_to_currency(@post.spare_62, precision: 0) %> OFF</em></p>
                          <% end %>
                        <% end %>
                        <hr>

                        <p class="total_text">Total</p>
                      </div>

                      <!-- Summary Section - Price(right) -->
                      <div class="receipt__grid2">
                        <p><%= number_to_currency(@post.was_price) %></p>
                        <% sale_price = 0 %>
                        <% sale_price = ( hotdeal_pct / 100 ) * @post.was_price %>
                        <p>- <%= number_to_currency(sale_price) %></p>  

                        <% if @post.spare_61.present? %>
                          <% extra_coupon_deal = 0 %>
                          <% extra_coupon_deal = sale_price * (@post.spare_61 / 100) %>
                          <!-- < extra_coupon_deal =  (@post.was_price - sale_price) * (@post.spare_61 / 100) > -->
                          <p>- <%= number_to_currency(extra_coupon_deal) %></p>
                        <% elsif %>
                          <% if @post.spare_62.present? %>
                            <p>- <%= number_to_currency(@post.spare_62) %></p>
                          <% end %>
                        <% end %>

                        <hr>

                        <!-- Total Price -->
                        <% if @post.spare_61.present? %>
                          <% extra_coupon_total = 0 %>
                          <% extra_coupon_total = @post.is_price - extra_coupon_deal %>
                           <p class="total_price "><%= number_to_currency(extra_coupon_total) %></p>
                        <% elsif %>
                          <% if @post.spare_62.present? %>
                            <% extra_coupon_dallor_total = 0 %>
                            <% extra_coupon_dallor_total =  @post.is_price - @post.spare_62 %>
                            <p class="total_price "><%= number_to_currency(extra_coupon_dallor_total) %></p>   
                          <% end %>
                        <% else %>
                          <p class="total_price "><%= number_to_currency(@post.is_price) %></p> 
                        <% end %>
                      </div>
                   </div>
                </section>

                <section>
                  <h3>Customer Reviews</h3>
                  <%= render 'posts/rating_detail' %>
                  
                </section>
                  <section>
                    <h3>By Feature</h3>
                    <%= render 'posts/featured' %>
                  </section>

                  <section>
                    <h3>Infomation</h3>
                    <div class="info_table">
                      <table id="customers">
                        <tr>
                          <th>Seller Ranking</th>
                          <th>Amazon's Choice</th>
                        </tr>
                        <tr>
                          <% if @post.spare_03.present? %>
                            <td><%= @post.spare_03 %></td>
                          <% else %>
                            <td><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 12H7v-4h10v4z"/></svg></td>
                          <% end %>
                          <% if @post.spare_02.present? %>
                            <td><svg id="Icons" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm5.707,8.707-7,7a1,1,0,0,1-1.414,0l-3-3a1,1,0,0,1,1.414-1.414L10,14.586l6.293-6.293a1,1,0,0,1,1.414,1.414Z"/></svg></td>
                          <% else %>
                            <td><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 12H7v-4h10v4z"/></svg></td>
                          <% end %>
                        </tr>
                      </table>
                      <% if @post.spare_02.present? %>
                        <em><span>Amazon's Choice:</span> highlights highly rated, well-priced products available to ship immediately.</em>
                      <% end %>
                    </div>

                  </section>
                </div>
              </div>

              <!-- Button Section -->
              <div><a target="_blank" href="<%= @post.link %>" class="link">Buy now on Amazon</a></div>

             <!--  <div class="btn post_btn_wrap">
                <% btn_price = @post.was_price.to_f - @post.is_price %>
                <% btn_pct_price = @post.was_price.to_f - extra_coupon_total.to_f %>
                <% btn_cash_price = @post.was_price.to_f - extra_coupon_dallor_total.to_f %>
                
                <div class="pc_btn">
                  <% if @post.spare_61.present? || @post.spare_62.present? %>
                    <% if @post.spare_61.present? %>
                      <a class="amz_btn buy_now" target="_blank" href="<%= @post.link %>">Go to Amazon & Save <%= number_to_currency(btn_pct_price) %> Now!</a>
                    <% else %>
                      <a class="amz_btn buy_now" target="_blank" href="<%= @post.link %>">Go to Amazon & Save <%= number_to_currency(btn_cash_price) %> Now!</a>
                    <% end %>
                  <% else %>
                    <a class="amz_btn buy_now" target="_blank" href="<%= @post.link %>">Go to Amazon & Save <%= number_to_currency(btn_price) %> Now!</a>
                  <% end %>
                </div>

                <div class="mobile_btn">
                  <% if @post.spare_61.present? || @post.spare_62.present? %>
                    <% if @post.spare_61.present? %>
                      <a class="amz_btn buy_now" href="<%= @post.link %>">Go to Amazon & Save <%= number_to_currency(btn_pct_price) %> Now!</a>
                    <% else %>
                      <a class="amz_btn buy_now" href="<%= @post.link %>">Go to Amazon & Save <%= number_to_currency(btn_cash_price) %> Now!</a>
                    <% end %>
                  <% else %>
                    <a class="amz_btn buy_now" href="<%= @post.link %>">Go to Amazon & Save <%= number_to_currency(btn_price) %> Now!</a>
                  <% end %>
                </div>
              </div> -->

          
              <% if current_user && current_user.admin %>
                <div class="admin">
                  <p><%= render_with_hashtags(@post.hashtag) %></p>
                  <%= link_to 'Edit', edit_post_path(@post) %> |
                  <%= link_to 'Back', posts_path %>
                </div>
              <% end %>
            </div><!-- .inner-box -->
          </div><!-- ./content-section-->

          <div class="search_ads">
            <script type="text/javascript">
              amzn_assoplacement = "adunit0";
              amzn_assosearch_bar = "false";
              amzn_assotracking_id = "3628-20";
              amzn_assoad_mode = "search";
              amzn_assoad_type = "smart";
              amzn_assomarketplace = "amazon";
              amzn_assoregion = "US";
              amzn_assotitle = "Shop Related Products";
              amzn_assodefault_search_phrase = "<%= @post.title %>";
              amzn_assodefault_category = "All";
              amzn_assolinkid = "39e9aa3ca8ca9df980c22e602066352e";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
          </div>

          <div class="notice">
            <ul>
              <ul>
              <li>"Offtheprice" is a participant in the Amazon Services LLC Associates Program an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com.</li>
              <li>Price, ratings, and global reviews may change after post published date.</li>
              <!-- <li>Offtheprice's aim is to provide convenience to users.</li>
              <li>We respect other sellers' rights, as well as provide support for those who own the contents.</li>
              <li>The source is copyrighted by Amazon.com.</li>
              <li>This product belongs to Amazon.com.</li> -->
            </ul>
          </div>
        </div><!--.container-->

    </div><!-- .show-wrap -->
  
    <div class="back_to_btn for_show_page">
      <a href="javascript:history.back()" class="back_to"><img src="<%= asset_path 'back_btn.png' %>"></a>
    </div>
  </section><!-- .outline_left -->



  <section class="outline_right">

    <!-- Featured Deals Section -->
    <div class="banner">
      <h3 class="subject">Deals & Coupons Finder</h3>
      <%= render 'bloggers/quick_coupon_finder' %>
    </div>

    <div class="banner deals">
        <h3 class="subject">Today's Trending</h3>
        <div class="tap_tainer">
          <div class="tab">
            <div class="tab-menu">
              <button class="tab-menu-link is-active" data-content="item-1">
                <span data-title="item-1">Promotion Codes</span>
              </button>
              <!-- <button class="tab-menu-link" data-content="item-2">
                <span data-title="item-2">Pick Deals</span>
              </button> -->
            </div>

            <div class="tab-bar">

              <div class="tab-bar-content is-active" id="item-1">

                <% @coupons_top.each do |coupon| %>
                  <div class="tab_card clearfix">
                    <div class="img_box">
                      <%= link_to image_tag(coupon.c_image, alt: coupon.c_title, title: coupon.c_title, :class => 'main_img'), coupon %>
                    </div>
                    <div class="inner">

                      <% if coupon.c_promocode.present? %>
                        <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                          <span class="coupon">Promo Codes</span>  <span class="coupon"> + Coupon</span>
                        <% else %>
                          <span class="coupon">Promo Codes</span>
                        <% end %>
                      <% end %>

                      <p><%= coupon.c_title %></p>
                      <div class="pricing">
                        <% promocode_price =  coupon.c_was_price.to_f - (coupon.c_pct.to_f / 100) * coupon.c_was_price.to_f %>
                        <% hotdeal_pct = 0 %>
                        <% hotdeal_pct =  (coupon.c_was_price.to_f - coupon.c_is_price.to_f) / coupon.c_was_price.to_f * 100 %>
                        <% total_save = 0 %>
                        <% pct_coupon = 0 %>
                        <% pct_coupon = (coupon.c_spare_61.to_f / 100) * coupon.c_was_price %>
                        <% total_price_pct_coupon = promocode_price - pct_coupon %>
                        <% total_price_cash_coupon = promocode_price - coupon.c_spare_62.to_f %>

                        <% if coupon.c_promocode.present? %>
                          <% if coupon.c_spare_61.present? || coupon.c_spare_62.present? %>
                            <% if coupon.c_spare_61.present? %>
                              <span class="is_price"><%= number_to_currency(total_price_pct_coupon) %></span>
                              <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                            <% else %>
                              <span class="is_price"><%= number_to_currency(total_price_cash_coupon) %></span>
                              <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                            <% end %>

                          <% else %>
                            <span class="is_price"><%= number_to_currency(promocode_price) %></span>
                            <span class="was_price"><%= number_to_currency(coupon.c_was_price) %></span>
                          <% end %>
                        <% end %>
                        
                      </div>
                    </div>
                  </div><!-- .tab_card -->
                <% end %>

                <div class="more_btn"><a href="/coupons">See more</a></div>
              </div><!-- #item-1 -->


              <!------ ITEM SECTION 2 ------>  
              <div class="tab-bar-content " id="item-2">

                <% @hotdeal_top.each do |hotdeal| %>                
                  <div class="tab_card clearfix">
                    <div class="img_box">
                      <%= link_to image_tag(hotdeal.deal_image, alt: hotdeal.deal_title, title: hotdeal.deal_title, :class => 'main_img'), hotdeal %>
                    </div>
                    <div class="inner">

                      <% if hotdeal.deal_pct_coupon.present? || hotdeal.deal_cash_coupon.present? %>
                        <span class="coupon">+ Coupon</span>
                      <% end %>                    

                      <p><%= hotdeal.deal_title %></p>
                      <div class="pricing">
                        <% total_save = 0 %>
                        <% pct_coupon = 0 %>
                        <% pct_coupon = (hotdeal.deal_pct_coupon.to_f / 100) * hotdeal.deal_is_price %>
                        <% total_price_pct_coupon = hotdeal.deal_is_price - pct_coupon %>
                        <% total_price_cash_coupon = hotdeal.deal_is_price - hotdeal.deal_cash_coupon.to_f %>

                        <% if hotdeal.deal_pct_coupon.present? || hotdeal.deal_cash_coupon.present? %>
                          <% if hotdeal.deal_pct_coupon.present? %>
                            <span class="is_price"><%= number_to_currency(total_price_pct_coupon) %></span>
                            <span class="was_price"><%= number_to_currency(hotdeal.deal_was_price) %></span>
                          <% else %>
                            <span class="is_price"><%= number_to_currency(total_price_cash_coupon) %></span>
                            <span class="was_price"><%= number_to_currency(hotdeal.deal_was_price) %></span>
                          <% end %>

                        <% else %>
                          <span class="is_price"><%= number_to_currency(hotdeal.deal_is_price) %></span>
                          <span class="was_price"><%= number_to_currency(hotdeal.deal_was_price) %></span>
                        <% end %>
                      </div>
                    </div>
                  </div><!-- .tab_card -->
                <% end %>

                <div class="more_btn"><a href="/hotdeals">See more</a></div>
              </div><!-- #item-2 -->


            </div>
          </div>
        </div><!-- .tap_tainer -->
    </div>

    <!-- Popular Blog Section -->
    <div class="popular_blogs">
      <h3 class="subject">Popular</h3>
      <div class="popular_blogs_wrap">

        <% @most_hit.each do |blog| %>
          <div class="pb_card clearfix">
            <div class="img_box">
              <%= link_to image_tag(blog.bl_image, alt: blog.bl_title, title: blog.bl_title, :class => 'main_img'), blog %>
            </div>
            <div class="inner">
              <h3><%= link_to blog.bl_title, blog %></h3>
            </div>
          </div>
        <% end %>
        <div class="more_btn"><a href="/bridges/reviews">See more</a></div>
      </div>
    </div>

    <div class="banner featured_deals">
      <h3 class="subject">Featured Deals</h3>
      <% @picks.each do |pick| %>
        <a href="/posts/hashtag/<%= pick.p_link %>">
          <div class="img_box">
            <img src="<%= pick.p_image %>">
          </div>
        </a>
        <div class="inner">
          <span class="featured_span"><%= pick.p_spare_01 %></span>
          <h4><%= pick.p_title %></h4>
        </div>
      <% end %>
    </div> 
  </section><!-- .outline_right -->


</div><!-- .outline -->


<%= javascript_pack_tag 'coupon_index_menu' %>

<!-- Side Tap  -->
<script type="text/javascript">
  // Tabs Action
  const tabLink = document.querySelectorAll(".tab-menu-link");
  const tabContent = document.querySelectorAll(".tab-bar-content");

  tabLink.forEach((item) => {
    item.addEventListener("click", activeTab);
  });

  function activeTab(item) {
    const btnTarget = item.currentTarget;
    const content = btnTarget.dataset.content;

    tabContent.forEach((item) => {
      item.classList.remove("is-active");
    });

    tabLink.forEach((item) => {
      item.classList.remove("is-active");
    });

    document.querySelector("#" + content).classList.add("is-active");
    btnTarget.classList.add("is-active");
  }

</script>


<!-- Accordion Menu -->
<script type="text/javascript">
  $('.accordion-item .heading').on('click', function(e) {
      e.preventDefault();

      // Add the correct active class
      if($(this).closest('.accordion-item').hasClass('active')) {
          // Remove active classes
          $('.accordion-item').removeClass('active');
      } else {
          // Remove active classes
          $('.accordion-item').removeClass('active');

          // Add the active class
          $(this).closest('.accordion-item').addClass('active');
      }

      // Show the content
      var $content = $(this).next();
      $content.slideToggle(100);
      $('.accordion-item .content').not($content).slideUp('fast');
  });
</script>

<!-- promotion code modal -->
<script type="text/javascript">$('.js-open-modal').click(function(event) {
   event.preventDefault();
   
   var modalName = $(this).attr('data-modal');
   var modal = $('.js-modal[data-modal="' + modalName + '"]');
   
   modal.addClass('is-show');
   $('.js-modal-overlay').addClass('is-show')
  });

  $('.js-modal-close').click(function() {
     $(this).parent('.js-modal').removeClass('is-show');
     $('.js-modal-overlay').removeClass('is-show');
  });
     
  $('.js-modal-overlay').click(function() {
     $('.js-modal.is-show').removeClass('is-show');
     $(this).removeClass('is-show');
  })
</script>


<!-- Copy Promotion Code -->
<script type="text/javascript">
  let copyText = document.querySelector(".copy-text");
  copyText.querySelector("button").addEventListener("click",function(){
    let input = copyText.querySelector("input.text");
    input.select();
    document.execCommand("copy");
    copyText.classList.add("active");
    window.getSelection().removeAllRanges();
    setTimeout(function(){
      copyText.classList.remove("active");
    },2500);
  });
</script>






