<header><%= render 'shared/header_index' %></header>

<div class="post_index clearfix">
  <div class="wrap">

    <div class="index_left left_hashtag">
      <div class="finder"><%= render 'posts/finder' %></div>
      <div class="categories"><%= render 'posts/categories' %></div>
    </div>

    <div class="index_right">

      <div class="card_wrap"> 
        <div class="where-hashtag">
          <% if params[:name].present? %>
            <p><span class="hashtag-through">#<%= params[:name] %></span></p>
          <% end %>
        </div>

        <% @posts.each do |post| %>

          <div class="card clearfix">
            
              <div class="img_box">
                <a target="_blank" href="<%= post.link %>"><img src="<%= post.image %>" alt="<%= post.title %>"/></a>
                <% if current_user && current_user.admin %>
                  <div class="admin">
                    <%= link_to 'Edit', edit_post_path(post) %>
                    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                <% end %>
              </div>

              <div class="inner">
                <a target="_blank" href="<%= post.link %>">
                  <p>
                    <% if post.promocode.present? %>
                      <span class="promocode">Promo code</span>
                    <% else %>
                      <span class="sale">Onlne Sale</span>
                    <% end %>
                    <%= post.title %>
                  </p>
                </a>

                <% if post.promocode.present? %>
                  <% promocode_price = 0 %>
                  <% promocode_price =  post.was_price - (post.pct / 100) * post.was_price %>
                  <span class="is_price">
                    <%= number_to_currency(promocode_price) %>
                    <em class="was_price"><%= number_to_currency(post.was_price) %></em>
                    <em class="pct"> ( <%= number_to_percentage(post.pct, precision: 0) %> off )</em>
                    <em class="shipping">+ free shipping</em>
                    <!-- <em class="pct"> / <%= number_to_percentage(post.pct, precision: 0) %> off </em> -->
                  </span>
                <% else %>
                  <span class="is_price">
                    <% hotdeal_pct = 0 %>
                    <% hotdeal_pct =  (post.was_price - post.is_price) / post.was_price * 100 %>
                    <%= number_to_currency(post.is_price) %>
                    <em class="was_price"><%= number_to_currency(post.was_price) %></em>
                    <em class="pct"> ( <%= number_to_percentage(hotdeal_pct, precision: 0) %> off )</em>
                    <em class="shipping">+ free shipping</em>
                    <!-- <em class="pct"> / <%= number_to_percentage(hotdeal_pct, precision: 0) %> off</em> -->
                  </span>
                <% end %>

                <% if post.promocode.present? %>
                  <% promo_price = 0 %>
                  <% promo_price = (post.pct / 100) * post.was_price %>
                  <p class="codenum">Save <%= number_to_currency(promo_price) %> using code:  <%= post.promocode %></p>
                <% else %>
                <% end %>


                <div class="view_more_pc clearfix">
                  <div class="view_show">
                    <%= link_to "View Deatil", post %><a class="view_more_icon" href="/posts/<%= post.id %>"><img src="<%=asset_path 'see_detail.png' %>" alt="see detail" /></a>
                  </div>
                </div>

                <div class="view_more_m clearfix">
                  <div class="view_show">
                    <%= link_to "View Deatil", post %>
                  </div>

                  <div class="view_amz">
                    <a target="_blank"href="<%= post.link %>">View on Amazon</a>
                  </div>
                </div>


              </div><!--./inner-->

              <div class="btn_box">
                <a target="_blank"href="<%= post.link %>">View on Amazon</a>
              </div>
          </div>
        <% end %>
        <%= raw pagy_nav(@pagy) %>

      </div><!--./card_wrap-->
    </div><!--./index_right-->


    <div class="back_btn_mobile">
      <a href="/"><img class="go_back" src="<%=asset_path 'back_btn.png' %>" alt="뒤로가기" /></a>
    </div>

  </div>
</div>








