<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <div class="right">
    <div class="index_wrap">
      <header><%= render 'posts/header_hashtag' %></header>
      
      <div class="ctn_box">        

          <div class="card_wrap n_coupon_wrap">

            <div class="post_hashtag_box">

              <div class="where-hashtag">
                <% if params[:name].present? %>
                <h2>The Best deals on <em>#<%= params[:name] %></em></h2>
                  <!-- <h2 class="line-title">#<%= params[:name] %></h2> -->
                  <!-- <p><span class="hashtag-through">#<%= params[:name] %></span></p> -->
                <% end %>
              </div>
              <br>
              <div class="search_filter post_search_filter">
                <div id="wrapper">
                  <input type="text" onkeyup="searchFilter(this)" placeholder="Search..."/>
                </div>
              </div>

              <% @posts.each do |post| %>
                  <div id="wrapper">
                    <div class="n_coupon_card clearfix company">
                      
                      <% hotdeal_pct = 0 %>
                      <% hotdeal_pct =  (post.was_price.to_f - post.is_price.to_f) / post.was_price.to_f * 100 %>

                      <div class="inner">
                        <p class="posted_date">Found by Editor: <%= post.created_at.strftime("#{post.created_at.day.ordinalize} %B %Y") %></p>
                          
                          <span class="label_coupon label">
                            Online Deal <em><%= number_to_percentage(hotdeal_pct, precision: 0) %></em>
                          </span>
                          <% if post.spare_61.present? || post.spare_62.present? %>
                            <span class="label_coupon label">
                              Coupon Savings
                              <% if post.spare_61.present? %>
                                <em><%= number_to_percentage(post.spare_61, precision: 0) %></em>
                              <% else %>
                                <em><%= number_to_currency(post.spare_62, precision: 0) %> </em>
                              <% end %> 
                            </span>
                          <% end %>
                        

                        <p class="title"><%= post.title %></p>
                        
                          <% if post.spare_61.present? || post.spare_62.present? %>
                            <% total_save = 0 %>
                            <% pct_coupon = 0 %>
                            <% pct_coupon = (post.spare_61.to_f / 100) * post.is_price %>
                            <% total_price_pct_coupon = post.is_price - pct_coupon %>
                            <% total_price_cash_coupon = post.is_price - post.spare_62.to_f %>

                            <% if post.spare_61.present? %>
                              <p class="list_price"><%= number_to_currency(post.was_price) %></p>
                              <p class="code_price"><%= number_to_currency(total_price_pct_coupon) %></p>
                              <div class="more_detail">
                                <% total_save = post.was_price - total_price_pct_coupon %>
                                <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em> off list price.</p>
                                <p class="verified">✅Deal & Coupon verified!</p>
                              </div>
                            <% else %>
                              <p class="list_price"><%= number_to_currency(post.was_price) %></p>
                              <p class="code_price"><%= number_to_currency(total_price_cash_coupon) %></p>
                              <div class="more_detail">
                                <% total_save = post.was_price - total_price_cash_coupon %>
                                <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em> off list price.</p>
                                <p class="verified">✅Deal & Coupon verified!</p>
                              </div>
                            <% end %>
                            
                          <% else %>
                            <p class="list_price"><%= number_to_currency(post.was_price) %></p>
                            <p class="code_price"><%= number_to_currency(post.is_price) %></p>
                            <div class="more_detail">
                              <% total_save = post.was_price - post.is_price %>
                              <p>You can save <em class="total_savings"><%= number_to_currency(total_save) %></em> off list price.</p>
                              <p class="verified">✅Deal verified!</p>

                            </div>
                          <% end %>
                                          

                        <% if current_user && current_user.admin %>
                          <div class="admin_controller">
                            <%= link_to 'Edit', edit_post_path(post) %>
                            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                          </div>
                        <% end %>
                      </div>


                      <div class="img_box">
                        <%= link_to image_tag(post.image, alt: post.title, title: post.title, :class => 'main_img'), post %>
                        <div class="rating_for_admin">
                            <% if current_user && current_user.admin %>
                              <p><%= post.rating %> // <%= post.review_count %></p>
                            <% end %>
                          </div>
                      </div>
                        <!-- <div class="used_it">
                          <p><%= post.hits %> People Checked.</p>
                        </div> -->
                    </div><!-- n_coupon_card -->
                  </div>      

              <% end %>
            </div><!-- post_hashtag_box -->

          </div><!-- card_wrap-->
      </div><!-- ctn_box -->

    </div><!-- index_wrap -->

  
    <div class="bottom_banner">
      <div class="middle_event">
        <a target="_blank" href="https://amzn.to/33zpMG9"><img src="<%=asset_path 'banner_mid.png' %>"></a>
      </div>
    </div>

    <div class="wrap">
      <%= raw pagy_nav(@pagy) %>
    </div>
    <%= render 'posts/tab_bar' %>
  </div><!-- right -->
</div>

<!-- Search Filter. -->
<script type="text/javascript">
  function searchFilter(e){
      // Make search case insensitive
      search = e.value.toLowerCase();
      // each company div's inner text is checked for a match
    console.log(document.querySelectorAll('.company'))
      document.querySelectorAll('.company').forEach(function(company){
          text = company.innerText.toLowerCase();
          if(text.match(search)){
              company.style.display="block"
          } else {
              company.style.display="none";
          }
      })

  }

  for (var i = 0 ; i < 30; i++) {
    var newDiv = document.createElement("div");
    var newContent = document.createTextNode(
      faker.company.companyName()
    );
    newDiv.className = "company"
    // add the text node to the newly created div
    newDiv.appendChild(newContent);
    
    var currentDiv = document.getElementById("wrapper"); 
    // append each company
    currentDiv.parentNode.insertBefore(newDiv, currentDiv.nextSibling);
  }
</script>
