<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <div class="right">
    <div class="index_wrap">
      <header><%= render 'posts/header_hashtag' %></header>
      
      <div class="ctn_box">    
        <div class="compare_box">
          <div class="where-hashtag">
            <% if params[:name].present? %>
              <h2>The Best deals on <em>#<%= params[:name] %></em></h2>
            <% end %>
          </div>    
          <%= render 'posts/compare' %>
        </div>
      </div><!-- ctn_box -->

    </div><!-- index_wrap -->

  
    <div class="bottom_banner">
      <div class="middle_event">
        <a target="_blank" href="https://amzn.to/33zpMG9"><img src="<%=asset_path 'banner_mid.png' %>"></a>
      </div>
    </div>

    <div class="wrap">
      <%= raw pagy_nav(@pagy) %>
    </div>
    <!-- < render 'posts/tab_bar' > -->
  </div><!-- right -->
</div>


