<header><%= render 'shared/header_show' %></header>


<div class="show-wrap">
  <div class="wrap">

    <div class="container clearfix">

      <div class="content-section clearfix">

        <div class="title_mobile">
          <p><%= @post.title %></p>
          <span>Rating: Ave 4.3 / Reviews: 1,200 +</span>  
        </div>
        

        <div class="image-box clearfix">
          <img src="<%= @post.image %>" alt="<%= @post.title %>" title="<%= @post.title %>" />
        </div>

        <div class="inner-box clearfix">
          <% if current_user && current_user.admin %>
            <div class="sharing_btn">
              <a href="/" data-turbolinks="false">Back</a>
              <%= render 'posts/sharing_sns' %>
              <button id="facebook_btn">FBcopy</button>
              <button class="btn-default js-copybtn"><span class="glyphicon glyphicon-copy"></span> TWcopy </button>
            </div>
          <% end %>

          <div class="title">
            <h2 class="line-break-02"><%= @post.title %></h2>
            <span>Rating: Ave 4.3 / Reviews: 1,200 +</span>
          </div>
          <h2 class="summary_title">SUMMARY</h2>
          <div class="receipt">
            <!-- Button Section - Text(left) -->
            <div class="receipt__grid1">
              <p>Offer Price</p>
              <% if @post.promocode.present? %>
                <p>Discount <span>by code</span>(<%= number_to_percentage(@post.pct, precision: 0) %> off)</p>            
                <p>Promotion Code</p>
              <% else %>
                <% hotdeal_pct = 0 %>
                <% hotdeal_pct =  (@post.was_price - @post.is_price) / @post.was_price * 100 %>
                <p>Discount(<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</p>            
              <% end %>

              <hr>

              <p class="total_text">Total</p>
            </div>

            <!-- Summary Section - Price(right) -->
            <div class="receipt__grid2">
              <p><%= number_to_currency(@post.was_price) %></p>
              <% if @post.promocode.present? %>
                <% promo_price = 0 %>
                <% promo_price = (@post.pct / 100) * @post.was_price %>
                <p>- <%= number_to_currency(promo_price) %></p>
                <p class="p-code"><%= @post.promocode %></p>
              <% else %>
                <% sale_price = 0 %>
                <% sale_price = ( hotdeal_pct / 100 ) * @post.was_price %>
                <p>- <%= number_to_currency(sale_price) %></p>  
              <% end %>

              <hr>
              <!-- Total Price -->
              <% if @post.promocode.present? %>
                <% total_price = 0 %>
                <% total_price = @post.was_price - promo_price %>
                <p class="total_price "><%= number_to_currency(total_price) %></p> 
              <% else %>
                <p class="total_price "><%= number_to_currency(@post.is_price) %></p> 
              <% end %>
                             
            </div>
          </div>

          <!-- Button Section -->
          <div class="btn">
            <a class="amz_btn" target="_blank" href="<%= @post.link %>">Check it out on Amazon</a>
          </div>

          <% if current_user && current_user.admin %>
            <div class="admin">
              <p><%= render_with_hashtags(@post.hashtag) %></p>
              <%= link_to 'Edit', edit_post_path(@post) %> |
              <%= link_to 'Back', posts_path %>
            </div>
          <% end %>

        </div>
      </div><!-- ./content-section-->
      
      <% if current_user && current_user.admin %>
        <div class="sharing_ctn">
         <div class="sharing facebook clearfix"">
          <span id="facebook_ctn">
            <p>Available at Amazon NOW!!</p>

            <% if @post.promocode.present? %>
              <p>Offer: <%= number_to_currency(total_price) %> (<%= number_to_percentage(@post.pct, precision: 0) %> off)</p>
              <p>Was: <%= number_to_currency(@post.was_price) %></p>
              <p>You can save <%= number_to_currency(promo_price) %> by Promo Code: <%= @post.promocode %>  / Shipping is free w/Prime or on $25+</p>
              <p>#amazondeals #amazoncoupons #amazonpromocode #coupons #promocode</p>
            <% else %>
              <p>Offer: <%= number_to_currency(@post.is_price) %> (<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</p>
              <p>Was: <%= number_to_currency(@post.was_price) %></p>
              <p>You can save <%= number_to_currency(sale_price) %> / Shipping is free w/Prime or on $25+</p>
              <p>#amazondeals #amazoncoupons #amazonpromocode #coupons #promocode</p>
            <% end %>
            
          </span>
        </div>
        <hr>
        <div class="sharingt witter-container clearfix"">
           <span class="js-copytext"> 
            <div class="sharing">

              <p>Available at Amazon NOW!!</p>

              <% if @post.promocode.present? %>
                <p>Offer: <%= number_to_currency(total_price) %> (<%= number_to_percentage(@post.pct, precision: 0) %> off)</p>
                <p>Was: <%= number_to_currency(@post.was_price) %></p>
                <p>You can save <%= number_to_currency(promo_price) %> by Promo Code: <%= @post.promocode %>  / Shipping is free w/Prime or on $25+</p>
                <p>http://hotdealful.com/promocodes/<%=(params[:id]) %></p>
                <p>#amazondeals #amazoncoupons #amazonpromocode #coupons #promocode</p>
              <% else %>
                <p>Offer: <%= number_to_currency(@post.is_price) %> (<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</p>
                <p>Was: <%= number_to_currency(@post.was_price) %></p>
                <p>You can save <%= number_to_currency(sale_price) %> / Shipping is free w/Prime or on $25+</p>
                <p>http://hotdealful.com/promocodes/<%=(params[:id]) %></p>
                <p>#amazondeals #amazoncoupons #amazonpromocode #coupons #promocode</p>
              <% end %>

            </div>
          </span>
        </div>
      </div><!--/.sharing_ctn -->
      <% end %>

    </div><!--./container-->

  </div>
</div>

<script type="text/javascript">
  const textElement = document.getElementById("facebook_ctn");
  const copyButton = document.getElementById("facebook_btn");
  const copyText = (e) => {
    window.getSelection().selectAllChildren(textElement);
    document.execCommand("copy");
  };
  copyButton.addEventListener("click", (e) => copyText(e));
  copyButton.addEventListener("mouseover", (e) => resetTooltip(e));
</script>


<script type="text/javascript">
  var copyBtn = document.querySelector('.js-copybtn');
  if (copyBtn) {
      copyBtn.addEventListener('click', function(event) {
          var copyText= document.querySelector('.js-copytext');
          var range = document.createRange();
          range.selectNode(copyText);
          window.getSelection().addRange(range);
          try {
              var successful = document.execCommand('copy');
              var msg = successful ? 'successful' : 'unsuccessful';
          } catch(err) {

          }
          window.getSelection().removeAllRanges();
      });
  }
</script>

<!-- Accordion Menu -->
<script type="text/javascript">
  $('.accordion-item .heading').on('click', function(e) {
      e.preventDefault();

      // Add the correct active class
      if($(this).closest('.accordion-item').hasClass('active')) {
          // Remove active classes
          $('.accordion-item').removeClass('active');
      } else {
          // Remove active classes
          $('.accordion-item').removeClass('active');

          // Add the active class
          $(this).closest('.accordion-item').addClass('active');
      }

      // Show the content
      var $content = $(this).next();
      $content.slideToggle(100);
      $('.accordion-item .content').not($content).slideUp('fast');
  });
</script>


