<div class="hotdeal_form">
  <%= simple_form_for(@oneday) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div class="basic_info">
        <%= f.input :o_image, label: "Product Image" %>
        <%= f.input :o_title, label: "Product Title" %>
        <%= f.input :o_link, label: "Product URL" %>
        <%= f.input :o_promocode, label: "Coupon Code" %>
      </div>
      <div class="pricing clearfix">
        <%= f.input :o_was_price, label: "Coupon: Current Price, deal: WAS PRICE" %>
        <%= f.input :o_is_price, label: "hotdeal IS PRICE, only input hotdeal info" %>
        <%= f.input :o_pct, label: "pct" %>
        
      </div>
      <div class="pricing clearfix">
        <%= f.input :o_rating, label: "Star Rating"  %>
        <%= f.input :o_rating_code, label: "Rating_code" %>
        <%= f.input :o_review_count, label: "Reviews"  %>
        <%= f.input :o_pct_coupon, label: "Coupon%" %>
        <%= f.input :o_cash_coupon, label: "Coupon$" %>
      </div>
      <div class="pricing clearfix">
        <%= f.input :o_year, label: "Year" %>
        <%= f.input :o_month, label: "Month" %>
        <%= f.input :o_day, label: "Day" %>
        <%= f.input :o_spare_66, label: "Date" %>
      </div>
      <%= f.input :o_description, label: "Description" %>
      
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
