<!-- < if current_user && current_user.admin > -->
  <!-- <h1>Onedays // <%= link_to 'New Oneday', new_oneday_path %></h1>

      <% @onedays.each do |oneday| %>

          <div class="one_day_box">
            <div class="img_box">
              <img src="<%= oneday.o_image %>" alt="<%= oneday.o_title %>">
            </div>
            <div class="inner">
              <p>title</p>
              <p>$200(50% off)</p>
            </div>
          </div> -->

        <!--   <div id="timer" class="clearfix">
            <div class="days under"><div id="days" class="numbers "> </div><span>days</span></div> 
            <div class="hours under"><div id="hours" class="numbers"> </div><span>hours</span></div> 
            <div class="minutes under"><div id="minutes" class="numbers"> </div><span>minutes</span></div> 
            <div class="seconds under"><div id="seconds" class="numbers"> </div><span>seconds</span></div> 
          </div> -->

          <!-- <script type="text/javascript">
            const year = new Date().getFullYear();
            
            const myDate = new Date('<%= oneday.o_month %> <%= oneday.o_day %>, <%= oneday.o_year %> 15:59:59'); 
            console.log(myDate);

            
            let timer = setInterval(function() {

              const today = new Date().getTime();              
              
              const diff = myDate - today;

              let days = Math.floor(diff / (1000 * 60 * 60 * 24));
              let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
              let seconds = Math.floor((diff % (1000 * 60)) / 1000);
              
              document.getElementById("days").innerHTML=days
              document.getElementById("hours").innerHTML=hours
              document.getElementById("minutes").innerHTML=minutes
              document.getElementById("seconds").innerHTML=seconds

            }, 1);
          </script> -->
<!-- 
          <% if current_user && current_user.admin %>
            <div class="admin_controller">
              <%= link_to 'Edit', edit_oneday_path(oneday) %>
              <%= link_to 'Destroy', oneday, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>


      <% end %>
<% end %>
 -->
